@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "TimeSheet Page";
    var imagePath = "";
}

<nav class="navbar navbar-expand-lg nav-bar-bg navbar-inverse navbar-fixed-top">
    <div class="nav-logo">
        <a class="navbar-brand" href="/dashboard"><img src="~/Assets/AMBC_Logo.png" alt="Header Logo" width="200" height="80" /></a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    @{
        Html.RenderPartial("_MenuLinks", Model.AMBC_Active_Emp_view);
    }

    @*<div class="time-headertitle" style="padding-left: 69px !important">
            <h2 class="text-uppercase text-white">Leave Management System</h2>

        </div>*@

    <div class="col-lg-offset-3">
        @if (Model != null)
        {
            imagePath = "/Assets/EmployeeImagesPNG/" + @Model.AMBC_Active_Emp_view.Employee_ID + ".png";

            <div class="agent-navigation">
                <div class="">
                    <div class="dropdownheading text-white">
                        <div class="profile-img">
                            <img src="@imagePath" class="img-fluid rounded-circle" width="40" alt="Cinque Terre">
                        </div>
                        <p class="agent-full-name">@Model.AMBC_Active_Emp_view.Employee_Name</p>
                    </div>

                    <div class="agent-description hide" style="">
                        <div class="agent-details">
                            <div class="agent-img">
                                <img alt="Bantle_Martin Bantle_625x313" src="@imagePath" data-imagehash="datazwpimghash" loading="lazy">

                            </div>

                            <div class="agent-fullname">
                                <b>@Model.AMBC_Active_Emp_view.Employee_Name</b>
                            </div>
                            <ul>
                                <li>
                                    <img src="~/Assets/Icons/id-card.png" width="30" /> <b>Emp ID:</b>
                                    <div class="agent-navdrop-empid emp-data-nav">@Model.AMBC_Active_Emp_view.Employee_ID</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/graphic-designer.png" width="20" /> &nbsp;&nbsp; <b>Designation:</b>
                                    <div class="agent-navdrop-empdesig emp-data-nav">@Model.AMBC_Active_Emp_view.Designation</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/hierarchical-structure.png" width="20" />&nbsp;&nbsp; <b>Reporting Manager:</b>
                                    <div class="agent-navdrop-empmanager emp-data-nav">@Model.AMBC_Active_Emp_view.Client_Report_Manager</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/phone.png" width="20" />&nbsp;&nbsp;<b>Contact Number:</b>
                                    <br />
                                    <a class="agent-navdrop-phone emp-data-nav" href="tel:07531 282590">@Model.AMBC_Active_Emp_view.Contact_Number</a>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/woman.png" width="20" />&nbsp;&nbsp;<b>Client:</b>
                                    @if (Model.projectInfo.Count() > 1)
                                    {
                                        var clients = new List<string>();
                                        foreach (var empProject in Model.projectInfo)
                                        {
                                            clients.Add(empProject.Client);
                                        }
                                        var empClients = string.Join(", ", clients);
                                        <div class="agent-navdrop-client emp-data-nav">@empClients</div>

                                    }
                                    else
                                    {
                                        <div class="agent-navdrop-client emp-data-nav">@Model.AMBC_Active_Emp_view.Client</div>
                                    }


                                </li>
                                <li>
                                    <img src="~/Assets/Icons/project.png" width="20" />&nbsp;&nbsp;<b>Project:</b>
                                    @if (Model.projectInfo.Count() > 1)
                                    {
                                        var projects = new List<string>();
                                        foreach (var empProject in Model.projectInfo)
                                        {
                                            var sameProjectExists = false;

                                            foreach (var project in projects)
                                            {
                                                if (project == empProject.Project_Name)
                                                {
                                                    sameProjectExists = true;
                                                }
                                            }

                                            if (!sameProjectExists)
                                            { projects.Add(empProject.Project_Name); }

                                        }
                                        var empProjects = string.Join(", ", projects);
                                        <div class="agent-navdrop-client emp-data-nav">@empProjects</div>

                                    }
                                    else
                                    {
                                        <div class="agent-navdrop-project emp-data-nav">@Model.AMBC_Active_Emp_view.Project_Name</div>
                                    }

                                </li>
                                <li>
                                    <img src="~/Assets/Icons/project-status.png" width="20" />&nbsp;&nbsp;<b>Project Status:</b>
                                    <div class="agent-navdrop-prostatus emp-data-nav">@Model.AMBC_Active_Emp_view.Project_Status</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/email.png" width="20" /> &nbsp;&nbsp;<b>E-Mail Address:</b>
                                    <div class="agent-navdrop-empemail emp-data-nav">@Model.AMBC_Active_Emp_view.AMBC_Mail_Address</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/location.png" width="20" /> &nbsp;&nbsp;<b>Location:</b>
                                    <div class="agent-navdrop-emplocation emp-data-nav">@Model.AMBC_Active_Emp_view.Location</div>
                                </li>
                            </ul>

                        </div>

                        <div class="modal-footer header-nav-modalfooter">
                            <a href="/logout"><img src="~/Assets/Icons/logout.png" width="30" />&nbsp;<b>Logout</b></a>
                        </div>
                    </div>


                </div>
            </div>

            <input type="hidden" class="emproleleaveapply" value="@Model.AMBC_Active_Emp_view.Access_Role" />

        }

    </div>
</nav>


<div class="card card-body" style="border-radius: 10px">
    <div class="card timesheet-card">
        @*<h2 style="text-align: center; background-color: black; padding: 10px; color: white; border-radius: 10px;">Apply Leave</h2>
            <hr />*@
        <div class="card-body ">
            @*<form class="needs-validation" novalidate>*@
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group selectemp-div">
                        <label for="leaveemployeename">Employee Name<b style="color:red">*</b></label>
                        <select id="selectEmployeename" name="leaveemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                            <option disabled selected> -- Select Employee Name -- </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="leaveapplytype" class="leaveapplytype">Apply For<b style="color:red">*</b></label>
                        <select id="leavetypes" name="leaveapplytype" class="form-control form-select form-select-lg mb-3">
                            <option value="SingleDay">Single Day</option>
                            <option value="MultipleDay">Multiple Days</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="leavestartdate" class="leavestartdate">Leave Date<b style="color:red">*</b></label>
                        <input type="date" class="form-control" id="leavestartdate" required aria-describedby="leavedatehelptext">
                        <div class="invalid-feedback-leavedate" style="color:red; display:none">
                            Please Select Date
                        </div>
                        <small id="leavedatehelptext" class="form-text text-muted" style="color: darkblue !important">Please do not select Holiday's and Weekend dates</small>
                    </div>
                </div>
                <div class="col-md-6 leave-enddate-div" style="display:none">
                    <div class="form-group">
                        <label for="leaveenddate">End Date<b style="color:red">*</b></label>
                        <input type="date" class="form-control" id="leaveenddate" disabled>
                        <div class="invalid-feedback-enddate" style="display:none; color: red">
                            Please Select End Date
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="leavesubmitted">Submitted By</label>
                        <input type="text" class="form-control" id="leavesubmitted" placeholder="Submitted By" value="@Model.AMBC_Active_Emp_view.Employee_Name" disabled style="background-color:white">
                    </div>
                </div>
                <div class="col-md-6 leave-type-div">
                    <div class="form-group">
                        <label for="leaveSelectedType">Leave Type<b style="color:red">*</b></label>
                        <select id="selectedleavetype" name="leaveSelectedType" class="form-control form-select form-select-lg mb-3">
                            <option disabled selected>-- Select Leave Type --</option>
                            <option value="Planned Leave">Planned Leave</option>
                            <option value="Sick Leave">Sick Leave</option>
                            <option value="Comp-Off">Comp-Off</option>
                            <option value="Emergency Leave">Emergency Leave</option>
                            <option value="Bereavement Leave">Bereavement Leave</option>
                            <option value="Maternity Leave">Maternity Leave</option>
                            <option value="Paternity Leave">Paternity Leave</option>
                            <option value="Others">Others</option>

                            @if (Model.AMBC_Active_Emp_view.Access_Role == "timesheetuser" || Model.AMBC_Active_Emp_view.Access_Role == "administrator" || Model.AMBC_Active_Emp_view.Access_Role == "" || Model.AMBC_Active_Emp_view.Access_Role == "superadmin")
                            {
                                <option value="Cancel Leave">Cancel Leave</option>
                            }
                        </select>
                        <div class="invalid-feedback-leavetype" style="display:none; color: red">
                            Please Select Leave Type
                        </div>
                    </div>
                </div>
            </div>

            <div class="row leave-category-div" style="display:none">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label for="leaveSelectedCategory">Leave Category<b style="color:red">*</b></label>
                        <select id="selectedleaveCategory" name="leaveSelectedCategory" class="form-control form-select form-select-lg mb-3">
                        </select>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="leavereason">Reason</label>
                        <textarea class="form-control" id="leavereason" style="min-width: 100%" placeholder="Reason"></textarea>

                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-apply-leave" style="width:100px; height:35px; border-radius:10px"><b>Submit Leave</b></button>
            </div>

            @*</form>*@
        </div>
    </div>
</div>

<br />
<br />
@*@if (Model.AMBC_Active_Emp_view.Access_Role == "timesheetuser" || Model.AMBC_Active_Emp_view.Access_Role == "administrator" || Model.AMBC_Active_Emp_view.Access_Role == "" || Model.AMBC_Active_Emp_view.Access_Role == "superadmin")
    {
        <div class="card card-body" style="border-radius: 10px">
            <div class="card timesheet-card">
                <h2 style="text-align: center; background-color: black; padding: 10px; color: white; border-radius: 10px;">View Leave details</h2>
                <hr />
                <div class="card-body ">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group selectemp-div">
                                <label for="leavereportemployeename">Employee Name<b style="color:red">*</b></label>
                                <select id="selectReportEmployeename" name="leavereportemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                                    <option value="Select Employee" selected disabled>Select Employee</option>
                                    <option value="All Employees">All Employees</option>
                                </select>
                                <div class="invalid-feedback-report-employee" style="display:none; color: red">
                                    Please Select Employee
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="leavereportstartdate" class="leavestartdate">Start Date<b style="color:red">*</b></label>
                                <input type="date" class="form-control" id="leavereportstartdate" required>
                                <div class="invalid-feedback-report-leavedate" style="color:red; display:none">
                                    Please Start Date
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 leave-enddate-div">
                            <div class="form-group">
                                <label for="leavereportenddate">End Date<b style="color:red">*</b></label>
                                <input type="date" class="form-control" id="leavereportenddate" required>
                                <div class="invalid-feedback-report-enddate" style="display:none; color: red">
                                    Please Select End Date
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-xl-4">
                        <button type="submit" class="btn btn-info btn-lg btn-leave-report" style="width:200px; border-radius:10px"><b>Get Leave Details</b></button>
                    </div>

                    <br />
                    <hr />

                    <div class="leave-info-container"></div>

                </div>
            </div>
        </div>
    }*@

<div class="modal" tabindex="-1" role="dialog" id="modal-db-error-alert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-delete-custommessage">

                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" fill="#fff" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 52 52" style="enable-background: new 0 0 52 52; margin-left: -20px; padding-top: 20px; margin-bottom: 20px; width: 50px" xml:space="preserve">
<g>
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" />
                <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0
		s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36
		s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293
		c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" />
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>


            </div>
            <div class="modal-body">
                <h2 class="modal-boday-title">
                    Hey @Model.AMBC_Active_Emp_view.Employee_Name <br /> <br />
                    You have already Submitted the Leave for selected date.
                </h2>
                <div class="database-response"></div>
                <br />
                <div style="text-align: center; color: #2167ae"> <b>NOTE*:</b> <p>Duplcate key is combination of EmployeeID_LeaveDate</p></div>

            </div>
            <div class="model-footerbtn-dberror-custom">
                <button type="button" class="btn btn-secondary timesheet-addreport-cancel btn-lg" data-dismiss="modal"><b>Ok</b></button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modal-db-error-email-alert">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-delete-custommessage">

                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" fill="#fff" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 52 52" style="enable-background: new 0 0 52 52; margin-left: -20px; padding-top: 20px; margin-bottom: 20px; width: 50px" xml:space="preserve">
<g>
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" />
                <path d="M35.707,16.293c-0.391-0.391-1.023-0.391-1.414,0L26,24.586l-8.293-8.293c-0.391-0.391-1.023-0.391-1.414,0
		s-0.391,1.023,0,1.414L24.586,26l-8.293,8.293c-0.391,0.391-0.391,1.023,0,1.414C16.488,35.902,16.744,36,17,36
		s0.512-0.098,0.707-0.293L26,27.414l8.293,8.293C34.488,35.902,34.744,36,35,36s0.512-0.098,0.707-0.293
		c0.391-0.391,0.391-1.023,0-1.414L27.414,26l8.293-8.293C36.098,17.316,36.098,16.684,35.707,16.293z" />
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>


            </div>
            <div class="modal-body">
                <h2 class="modal-boday-title">
                    Hey @Model.AMBC_Active_Emp_view.Employee_Name <br /> <br />
                    Error occured when sending email.
                </h2>
                <div class="database-response"></div>
                <br />

            </div>
            <div class="model-footerbtn-dberror-custom">
                <button type="button" class="btn btn-secondary timesheet-addreport-cancel btn-lg" data-dismiss="modal"><b>Ok</b></button>
            </div>
        </div>
    </div>
</div>


<div class="modal message-success-popup" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header modal-header-success-custommessage">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" fill="#fff" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 52 52" style="enable-background: new 0 0 52 52; margin-left: 190px; padding-top: 30px; margin-bottom: 30px;" xml:space="preserve" width="50px">
                <g>
                <path d="M26,0C11.664,0,0,11.663,0,26s11.664,26,26,26s26-11.663,26-26S40.336,0,26,0z M26,50C12.767,50,2,39.233,2,26
		S12.767,2,26,2s24,10.767,24,24S39.233,50,26,50z" />
                <path d="M38.252,15.336l-15.369,17.29l-9.259-7.407c-0.43-0.345-1.061-0.274-1.405,0.156c-0.345,0.432-0.275,1.061,0.156,1.406
		l10,8C22.559,34.928,22.78,35,23,35c0.276,0,0.551-0.114,0.748-0.336l16-18c0.367-0.412,0.33-1.045-0.083-1.411
		C39.251,14.885,38.62,14.922,38.252,15.336z" />
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                <g>
                                </g>
                                </svg>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h2 class="" style="color: darkblue">
                    Hey there,
                    @*Leave submitted/Cancelled successfully for the selcted dates. Please check your email for more details.*@
                </h2>
                <br />
                <h2 class="leave-status-msg" style="color: darkblue"></h2>
            </div>

            <div class="">
                <button type="button" class="btn btn-lg modal-success-popup-btn" data-dismiss="modal" style="font-size: 16px !important"><b>Okay</b></button>
            </div>
        </div>
    </div>
</div>

<script>


    jQuery('#leavereportstartdate').change(function () {
        $('#leavereportstartdate').css("border", "1px solid green");
        $('.invalid-feedback-report-leavedate').hide();
    });

    jQuery('#leavereportenddate').change(function () {
        $('#leavereportenddate').css("border", "1px solid green");
        $('.invalid-feedback-report-enddate').hide();
    });

    jQuery("#selectReportEmployeename").on("change", function () {
        jQuery('.invalid-feedback-report-employee').hide();
        jQuery('#selectReportEmployeename').css("border", "1px solid green");
    });

    jQuery(".btn-leave-report").click(function () {
        if (jQuery('#leavereportstartdate').val() == "") {
            jQuery('.invalid-feedback-report-leavedate').show();
            jQuery('#leavereportstartdate').css("border", "1px solid red");
        }
        else {
            jQuery('.invalid-feedback-report-leavedate').hide();
            jQuery('#leavereportstartdate').css("border", "1px solid green");
        }

        if (jQuery('#leavereportenddate').val() == "") {
            jQuery('.invalid-feedback-report-enddate').show();
            jQuery('#leavereportenddate').css("border", "1px solid red");
        }
        else {
            jQuery('.invalid-feedback-report-enddate').hide();
            jQuery('#leavereportenddate').css("border", "1px solid green");
        }

        if (jQuery('#selectReportEmployeename :selected').val() == "Select Employee") {
            jQuery('.invalid-feedback-report-employee').show();
            jQuery('#selectReportEmployeename').css("border", "1px solid red");
        }
        else {
            jQuery('.invalid-feedback-report-employee').hide();
            jQuery('#selectReportEmployeename').css("border", "1px solid green");
        }

        if (jQuery('#leavereportstartdate').val() == "" || jQuery('#leavereportenddate').val() == "" || jQuery('#selectReportEmployeename :selected').val() == "Select Employee") {
            return false;
        }

        var leaveReportsInputs = {
            //Value which is selected in page Employee Name dropdown
            SelectedEmpId: jQuery('#selectReportEmployeename :selected').val(),
            StartDate: moment(jQuery('#leavereportstartdate').val()).format("YYYY-MM-DD"),
            EndDate: jQuery('#leavereportenddate').val() != null && jQuery('#leavereportenddate').val() != "" ? moment(jQuery('#leavereportenddate').val()).format("YYYY-MM-DD") : null
        }

        jQuery.ajax({
            type: "POST",
            url: "/GetLeaveInfo",
            data: JSON.stringify({ leaveReportModel: leaveReportsInputs }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                jQuery('.leave-info-container').html(data);
            }
        });

    });

    jQuery('#leaveenddate').change(function () {
        $('#leaveenddate').css("border", "1px solid green");
        $('.invalid-feedback-enddate').hide();
    });

    jQuery('#leavestartdate').change(function () {
        $("#leaveenddate").removeAttr('disabled');
        jQuery('#leaveenddate').attr("min", jQuery('#leavestartdate').val());
        $('#leavestartdate').css("border", "1px solid green");
        $('.invalid-feedback-leavedate').hide();
    });



    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                });
            });
        });
    })();

    jQuery(".btn-apply-leave").click(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        var isStartDateEntered = true;

        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                isStartDateEntered = false;
            }
            form.classList.add('was-validated');
        });

        if (jQuery('#leavestartdate').val() == "") {
            jQuery('.invalid-feedback-leavedate').show();
            jQuery('#leavestartdate').css("border", "1px solid red");
            isStartDateEntered = false;
        }
        else {
            jQuery('.invalid-feedback-leavedate').hide();
            jQuery('#leavestartdate').css("border", "1px solid green");
        }


        if (jQuery('#leavestartdate').val() != "") {

            var oneDate = moment(jQuery('#leavestartdate').val(), 'YYYY-MM-DD');
            var dayName = oneDate.format('dddd');

            if (dayName == "Sunday" || dayName == "Saturday") {
                jQuery('#leavestartdate').val('');
                jQuery('.invalid-feedback-leavedate').show();
                jQuery('#leavestartdate').css("border", "1px solid red");
                isStartDateEntered = false;
            }
            else {
                jQuery('.invalid-feedback-leavedate').hide();
                jQuery('#leavestartdate').css("border", "1px solid green");
            }
        }


        if (jQuery('#leavetypes :selected').val() == "MultipleDay") {
            if ($('#leaveenddate').val() == "") {
                $('.invalid-feedback-enddate').show();
                $('#leaveenddate').css("border", "1px solid red");
                isStartDateEntered = false;
            }
            else {
                $('.invalid-feedback-enddate').hide();
                $('#leaveenddate').css("border", "1px solid green");
            }
        }

        if (jQuery('#selectedleavetype :selected').val() == "-- Select Leave Type --") {
            jQuery('.invalid-feedback-leavetype').show();
            jQuery('#selectedleavetype').css("border", "1px solid red");
            isStartDateEntered = false;
        }
        else {
            jQuery('.invalid-feedback-leavetype').hide();
            jQuery('#selectedleavetype').css("border", "1px solid green");
        }

        if (isStartDateEntered) {

            var leaveInputs = {
                //Value which is selected in page Employee Name dropdown
                SelectedEmpId: jQuery('#selectEmployeename :selected').val(),
                SelectedEmpName: jQuery('#selectEmployeename :selected').text(),
                LogedInEmpId: jQuery('.agent-navdrop-empid').text(),
                LogedInEmpName: jQuery('.agent-full-name').text(),
                LogedInEmpEmail: jQuery('.agent-navdrop-empemail').text(),
                StartDate: moment(jQuery('#leavestartdate').val()).format("YYYY-MM-DD"),
                EndDate: jQuery('#leaveenddate').val() != null && jQuery('#leaveenddate').val() != "" ? moment(jQuery('#leaveenddate').val()).format("YYYY-MM-DD") : null,
                ApplyFor: jQuery('#leavetypes :selected').text(),
                Reason: jQuery('#leavereason').val(),
                LeaveType: jQuery('#selectedleavetype :selected').text(),
                LeaveCategory: jQuery('#selectedleaveCategory :selected').text(),
                SubmittedBy: jQuery('.agent-full-name').text()
            }


            jQuery.ajax({
                type: "POST",
                url: "/SubmitLeaves",
                data: JSON.stringify({ leaveModel: leaveInputs }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.jsonResponse.StatusCode == 200) {
                        console.log("Leave Submitted Email Sent Successfully");
                        $('.leave-status-msg').html("<b>" + jQuery('#selectedleavetype :selected').text() + "</b>" + " of" + " <b>" + jQuery('#selectEmployeename :selected').text() + "</b>" + " has been submitted successfully, and we greatly appreciate your cooperation.");
                        $('.message-success-popup').modal('show');
                    }

                    if (data.jsonResponse.StatusCode == 201) {
                        console.log("" + jQuery('#selectedleavetype :selected').text() + " Email Failed to send!");
                        $('.leave-status-msg').html("" + jQuery('#selectedleavetype :selected').text() + " Email Failed to send!")
                        $('#modal-db-error-email-alert').modal('show');
                    }

                    if (data.jsonResponse.StatusCode == 500) {
                        jQuery('.database-response').text(data.jsonResponse.Message);
                        $('#modal-db-error-alert').modal('show');
                    }

                }
            });
        }
    });

    GetEmployees();

    function GetEmployees() {
        jQuery.ajax({
            url: "/GetEmployees",
            type: "POST",
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                jQuery.each(obj, function (i, item) {
                    $('#selectEmployeename').append('<option value="' + item.Employee_ID + '">' + item.Employee_Name + '</option>');
                });

                jQuery.each(obj, function (i, item) {
                    $('#selectReportEmployeename').append('<option value="' + item.Employee_ID + '">' + item.Employee_Name + '</option>');
                });

                var useRole = jQuery('.emproleleaveapply').val();

                var empId = jQuery('.agent-navdrop-empid').text();
                $('#selectEmployeename  option[value=' + empId + ']').attr("selected", "selected");

                if (useRole == "consultant") {
                    $("#selectEmployeename").prop("disabled", true);
                }
                else {
                    $("#selectEmployeename").prop("disabled", false);
                }
            }
        });
    }


    $("#leavetypes").on("change", function () {
        if (jQuery(this).val() == "SingleDay") {
            $('.leave-enddate-div').hide();
            $(".leavestartdate").text("Leave Date");
            $('.leave-type-div').show();
            $('#leaveenddate').val('');
        }

        if (jQuery(this).val() == "MultipleDay") {
            $(".leavestartdate").text("Start Date");
            $('.leave-enddate-div').show();
            $('.leave-type-div').show();
        }

        if (jQuery(this).val() == "SwipeAdjustment") {
            $(".leavestartdate").text("Adjust Date");
            $('.leave-type-div').hide();
            $('.leave-enddate-div').hide();
        }
    });

    $("#selectedleavetype").on("change", function () {

        jQuery('.invalid-feedback-leavetype').hide();
        jQuery('#selectedleavetype').css("border", "1px solid green");


        var selectedLeaveType = jQuery(this).val();

        if (selectedLeaveType != "Maternity Leave" && selectedLeaveType != "Paternity Leave") {
            $('#selectedleaveCategory').empty();
            jQuery('.leave-category-div').show();

            var fullDayLeaveName = selectedLeaveType + " Full day";
            var FirstHalfLeaveName = selectedLeaveType + " First Half";
            var secondHalfLeaveName = selectedLeaveType + " Second Half";

            $('#selectedleaveCategory').append('<option value="' + fullDayLeaveName + '">' + fullDayLeaveName + '</option>');
            $('#selectedleaveCategory').append('<option value="' + FirstHalfLeaveName + '">' + FirstHalfLeaveName + '</option>');
            $('#selectedleaveCategory').append('<option value="' + secondHalfLeaveName + '">' + secondHalfLeaveName + '</option>');
        }
        else {
            jQuery('.leave-category-div').hide();
        }


    });


</script>
