@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "TimeSheet Page";
    var imagePath = "";
}

<nav class="navbar navbar-expand-lg nav-bar-bg navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="/dashboard"><img src="~/Assets/AMBC_Logo.png" alt="Header Logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="time-headertitle" style="">
        <h2 class="text-uppercase text-white">Apply Leave</h2>

    </div>

    <div class="col-lg-offset-3">
        @if (Model != null)
        {
            imagePath = "/Assets/EmployeeImagesPNG/" + @Model.AMBC_Active_Emp_view.Employee_ID + ".png";

            <div class="agent-navigation">
                <div class="">
                    <div class="dropdownheading text-white">
                        <div class="profile-img">
                            <img src="@imagePath" class="img-fluid rounded-circle" width="40" alt="Cinque Terre">
                        </div>
                        <p class="agent-full-name">@Model.AMBC_Active_Emp_view.Employee_Name</p>
                    </div>

                    <div class="agent-description hide" style="">
                        <div class="agent-details">
                            <div class="agent-img">
                                <img alt="Bantle_Martin Bantle_625x313" src="@imagePath" data-imagehash="datazwpimghash" loading="lazy">

                            </div>

                            <div class="agent-fullname">
                                <b>@Model.AMBC_Active_Emp_view.Employee_Name</b>
                            </div>
                            <ul>
                                <li>
                                    <img src="~/Assets/Icons/id-card.png" width="30" /> <b>Emp ID:</b>
                                    <div class="agent-navdrop-empid emp-data-nav">@Model.AMBC_Active_Emp_view.Employee_ID</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/graphic-designer.png" width="20" /> &nbsp;&nbsp; <b>Designation:</b>
                                    <div class="agent-navdrop-empdesig emp-data-nav">@Model.AMBC_Active_Emp_view.Designation</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/hierarchical-structure.png" width="20" />&nbsp;&nbsp; <b>Reporting Manager:</b>
                                    <div class="agent-navdrop-empmanager emp-data-nav">@Model.AMBC_Active_Emp_view.Client_Report_Manager</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/phone.png" width="20" />&nbsp;&nbsp;<b>Contact Number:</b>
                                    <br />
                                    <a class="agent-navdrop-phone emp-data-nav" href="tel:07531 282590">@Model.AMBC_Active_Emp_view.Contact_Number</a>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/woman.png" width="20" />&nbsp;&nbsp;<b>Client:</b>
                                    @if (Model.projectInfo.Count() > 1)
                                    {
                                        var clients = new List<string>();
                                        foreach (var empProject in Model.projectInfo)
                                        {
                                            clients.Add(empProject.Client);
                                        }
                                        var empClients = string.Join(", ", clients);
                                        <div class="agent-navdrop-client emp-data-nav">@empClients</div>

                                    }
                                    else
                                    {
                                        <div class="agent-navdrop-client emp-data-nav">@Model.AMBC_Active_Emp_view.Client</div>
                                    }


                                </li>
                                <li>
                                    <img src="~/Assets/Icons/project.png" width="20" />&nbsp;&nbsp;<b>Project:</b>
                                    @if (Model.projectInfo.Count() > 1)
                                    {
                                        var projects = new List<string>();
                                        foreach (var empProject in Model.projectInfo)
                                        {
                                            var sameProjectExists = false;

                                            foreach (var project in projects)
                                            {
                                                if (project == empProject.Project_Name)
                                                {
                                                    sameProjectExists = true;
                                                }
                                            }

                                            if (!sameProjectExists)
                                            { projects.Add(empProject.Project_Name); }

                                        }
                                        var empProjects = string.Join(", ", projects);
                                        <div class="agent-navdrop-client emp-data-nav">@empProjects</div>

                                    }
                                    else
                                    {
                                        <div class="agent-navdrop-project emp-data-nav">@Model.AMBC_Active_Emp_view.Project_Name</div>
                                    }

                                </li>
                                <li>
                                    <img src="~/Assets/Icons/project-status.png" width="20" />&nbsp;&nbsp;<b>Project Status:</b>
                                    <div class="agent-navdrop-prostatus emp-data-nav">@Model.AMBC_Active_Emp_view.Project_Status</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/email.png" width="20" /> &nbsp;&nbsp;<b>E-Mail Address:</b>
                                    <div class="agent-navdrop-empemail emp-data-nav">@Model.AMBC_Active_Emp_view.AMBC_Mail_Address</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/location.png" width="20" /> &nbsp;&nbsp;<b>Location:</b>
                                    <div class="agent-navdrop-emplocation emp-data-nav">@Model.AMBC_Active_Emp_view.Location</div>
                                </li>
                            </ul>

                        </div>

                        <div class="modal-footer header-nav-modalfooter">
                            <a href="/logout"><img src="~/Assets/Icons/logout.png" width="30" />&nbsp;<b>Logout</b></a>
                        </div>
                    </div>


                </div>
            </div>

            <input type="hidden" class="emproleleaveapply" value="@Model.AMBC_Active_Emp_view.Access_Role" />

        }

    </div>
</nav>


<div class="card card-body" style="border-radius: 10px">
    <div class="card timesheet-card">
        <div class="card-body ">
            <form class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group selectemp-div">
                            <label for="leaveemployeename">Employee Name</label>
                            <select id="selectEmployeename" name="leaveemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                                <option disabled selected> -- Select Employee Name -- </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="leaveapplytype" class="leaveapplytype">Apply For</label>
                            <select id="leavetypes" name="leaveapplytype" class="form-control form-select form-select-lg mb-3">
                                <option value="SingleDay">Single Day</option>
                                <option value="MultipleDay">Multiple Days</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="leavestartdate" class="leavestartdate">Leave Date</label>
                            <input type="date" class="form-control" id="leavestartdate" required>
                        </div>
                    </div>
                    <div class="col-md-6 leave-enddate-div" style="display:none">
                        <div class="form-group">
                            <label for="leaveenddate">End Date</label>
                            <input type="date" class="form-control" id="leaveenddate">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="leavesubmitted">Submitted By</label>
                            <input type="text" class="form-control" id="leavesubmitted" placeholder="Submitted By" value="@Model.AMBC_Active_Emp_view.Employee_Name" disabled style="background-color:white">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="leaveSelectedType">Leave Type</label>
                            <select id="selectedleavetype" name="leaveSelectedType" class="form-control form-select form-select-lg mb-3">
                                <option disabled selected> -- Select Type -- </option>
                                <option value="sickleave">Sick Leave</option>
                                <option value="plannedleave">Planned Leave</option>
                                <option value="compoff">Comp-Off</option>
                                <option value="halfdayleave">Half Day Leave</option>
                                <option value="others">Others</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="leavereason">Reason</label>
                            <textarea class="form-control" id="leavereason" style="min-width: 100%" placeholder="Reason"></textarea>

                        </div>
                    </div>
                </div>

                <div class="modal-footer mt-xl-4">
                    <button type="submit" class="btn btn-info btn-lg btn-apply-leave" data-updatedindexid="" data-uniqueid="" style="width:100px; border-radius:10px"><b>Submit</b></button>
                </div>

            </form>
        </div>
    </div>
</div>

<script>

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                });
            });
        });
    })();

    jQuery(".btn-apply-leave").click(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                isStartDateEntered = false;
            }
            form.classList.add('was-validated');
        });
    });

    GetEmployees();

    function GetEmployees() {
        jQuery.ajax({
            url: "/GetEmployees",
            type: "POST",
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                jQuery.each(obj, function (i, item) {
                    $('#selectEmployeename').append('<option value="' + item.Employee_ID + '">' + item.Employee_Name + '</option>');
                });

                var useRole = jQuery('.emproleleaveapply').val();

                var empId = jQuery('.agent-navdrop-empid').text();
                $('#selectEmployeename  option[value=' + empId + ']').attr("selected", "selected");

                if (useRole == "consultant") {
                    $("#selectEmployeename").prop("disabled", true);
                }
                else {
                    $("#selectEmployeename").prop("disabled", false);
                }
            }
        });
    }


    $("#leavetypes").on("change", function () {
        if (jQuery(this).val() == "SingleDay") {
            $('.leave-enddate-div').hide();
            $(".leavestartdate").text("Leave Date");
        }

        if (jQuery(this).val() == "MultipleDay") {
            $(".leavestartdate").text("Start Date");
            $('.leave-enddate-div').show();
        }
    });


    //Submit leaves
    jQuery(".btn-apply-leave").click(function () {

        var leaveInputs = {
            //Value which is selected in page Employee Name dropdown
            SelectedEmpId: jQuery('#selectEmployeename :selected').val(),
            LogedInEmpId: jQuery('.agent-navdrop-empid').text(),
            StartDate: moment(jQuery('#leavestartdate').val()).format("YYYY-MM-DD"),
            EndDate: jQuery('#leaveenddate').val() != null && jQuery('#leaveenddate').val() != "" ? moment(jQuery('#leaveenddate').val()).format("YYYY-MM-DD") : null,
            ApplyFor: jQuery('#leavetypes :selected').val(),
            Reason: jQuery('#leavereason').val(),
            LeaveType: jQuery('#selectedleavetype :selected').val(),
            SubmittedBy: jQuery('.agent-full-name').text()
        }


        jQuery.ajax({
            type: "POST",
            url: "/SubmitLeaves",
            data: JSON.stringify({ leaveModel: leaveInputs }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                jQuery('#modal-final-submit-alert').modal('hide');
                if (data.StatusCode == 200) {
                    jQuery('.database-response').addClass('text-success');
                    jQuery('.message-success-popup').modal('show');
                }
                else {
                    /* jQuery('.database-response').addClass('text-danger');*/
                    jQuery('.database-response').text(data.Message);
                    jQuery('#modal-db-error-alert').modal('show');
                }
                /* jQuery('.database-response').text(data.Message);   */
            }
        });
    });

</script>
