@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="sidenav sidenav-position">
    <div class="px-5 ms-xl-4" style="float:left">
        <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
        <span class="h1 fw-bold mb-0">   <img src="~/Assets/AMBC_Logo.png" /></span>
    </div>

    <div class="login-main-text">
        <h2>Resource Management<br> Dashboard Page</h2>
        <br />
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="dashboard-emp-icon">               
                @if (Model != null)
                {
                    <div class="agent-navigation dashboard-navigation">
                        <div class="">
                            <div class="dropdownheading">
                                <div class="profile-img">
                                    <img src="~/Assets/Rajender_Passport_Photo.jpg" class="img-fluid rounded-circle" width="40" alt="Employee profile image">&nbsp;&nbsp;
                                </div>
                                <p style="color: #2167ae">@Model.empInfo.employee_name</p>
                            </div>

                            <div class="agent-description hide dashboard-emp-info" style="">
                                <div class="agent-details">
                                    <div class="agent-img">
                                        <img alt="Bantle_Martin Bantle_625x313" src="~/Assets/Rajender_Passport_Photo.jpg" data-imagehash="datazwpimghash" loading="lazy">

                                    </div>

                                    <div class="agent-fullname">
                                        <b>@Model.empInfo.employee_name</b>
                                    </div>


                                    <ul>
                                        <li>
                                            <b>Emp ID:</b>
                                            <div class="agent-navdrop-empid">@Model.empInfo.employee_id</div>

                                        </li>

                                        <li>
                                            <b>Designation:</b>
                                            <div class="agent-navdrop-empdesig">@Model.empInfo.employee_desg</div>

                                        </li>

                                        <li>
                                            <b>Supervisor:</b>
                                            <div class="agent-navdrop-empmanager">@Model.empInfo.employee_report_manager</div>

                                        </li>

                                        <li>
                                            <b>Contact Number:</b>
                                            <br />
                                            <a class="agent-navdrop-phone" href="tel:07531 282590">@Model.empInfo.employee_mobile</a>
                                        </li>

                                        <li>
                                            <b>Client:</b>
                                            <div class="agent-navdrop-client">@Model.projectInfo.proj_client</div>
                                        </li>

                                        <li>
                                            <b>Project:</b>
                                            <div class="agent-navdrop-project">@Model.projectInfo.proj_name</div>
                                        </li>
                                        <li>
                                            <b>Project Status:</b>
                                            <div class="agent-navdrop-prostatus">@Model.projectInfo.project_staus</div>
                                        </li>

                                        <li>
                                            <b>E-Mail Address:</b>
                                            <div class="agent-navdrop-empemail">@Model.empInfo.employee_mailid</div>
                                        </li>

                                    </ul>

                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
        <br />
        <div class="row mt-xl-4">
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/Rajender_Passport_Photo.jpg" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/timesheet" class="btn btn-custom">Check Out</a>
                    </div>
                </div>

            </div>
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/TimeSheet.png" class="card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/timesheet" class="btn btn-custom">Timesheet</a>
                    </div>
                </div>

            </div>
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/Report.png" class="card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">11Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-custom">KRA Report</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-xl-4">
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/Payroll.png" class="card-img-top custom-card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-custom">Payroll</a>
                    </div>
                </div>

            </div>
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/Appraisal.png" class="card-img-top custom-card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-custom">Appraisal</a>
                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/hr.jpg" class="card-img-top custom-card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-custom">HR Letters</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



