@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "Dashboard";
}

<div class="sidenav sidenav-position">
    <div class="px-5 ms-xl-4" style="float:left">
        <i class="fas fa-crow fa-2x me-3 pt-5 mt-xl-4" style="color: #709085;"></i>
        <span class="h1 fw-bold mb-0">   <img src="~/Assets/AMBC_Logo.png" /></span>
    </div>

    <div class="login-main-text">
        <h2>Resource Management<br> Dashboard Page</h2>
        <br />
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
</div>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="dashboard-emp-icon">
                @if (Model != null)
                {
                    <div class="agent-navigation dashboard-navigation">
                        <div class="">
                            <div class="dropdownheading">
                                <div class="profile-img">
                                    <img src="~/Assets/Rajender_Passport_Photo.jpg" class="img-fluid rounded-circle" width="40" alt="Employee profile image">&nbsp;&nbsp;
                                </div>
                                <p style="color: #2167ae">@Model.AMBC_Active_Emp_view.Employee_Name</p>
                            </div>

                            <div class="agent-description hide dashboard-emp-info" style="">
                                <div class="agent-details">
                                    <div class="agent-img">
                                        <img alt="profile-photo" src="~/Assets/Rajender_Passport_Photo.jpg" loading="lazy">

                                    </div>

                                    <div class="agent-fullname">
                                        <b>@Model.AMBC_Active_Emp_view.Employee_Name</b>
                                    </div>

                                    <ul>
                                        <li>

                                            <img src="~/Assets/Icons/id-card.png" width="30" /> <b>Emp ID:</b>
                                            <div class="agent-navdrop-empid emp-data-nav">@Model.AMBC_Active_Emp_view.Employee_ID</div>

                                        </li>
                                        <li>
                                            <img src="~/Assets/Icons/graphic-designer.png" width="20" /> &nbsp;&nbsp; <b>Designation:</b>
                                            <div class="agent-navdrop-empdesig emp-data-nav">@Model.AMBC_Active_Emp_view.Designation</div>

                                        </li>
                                        <li>
                                            <img src="~/Assets/Icons/hierarchical-structure.png" width="20" />&nbsp;&nbsp; <b>Report Manager:</b>
                                            <div class="agent-navdrop-empmanager emp-data-nav">@Model.AMBC_Active_Emp_view.Client_Report_Manager</div>

                                        </li>
                                        <li>
                                            <img src="~/Assets/Icons/phone.png" width="20" />&nbsp;&nbsp;<b>Contact Number:</b>
                                            <br />
                                            <a class="agent-navdrop-phone emp-data-nav" href="tel:07531 282590">@Model.AMBC_Active_Emp_view.Contact_Number</a>
                                        </li>

                                        <li>
                                            <img src="~/Assets/Icons/woman.png" width="20" />&nbsp;&nbsp;<b>Client:</b>
                                            <div class="agent-navdrop-client emp-data-nav">@Model.AMBC_Active_Emp_view.Client</div>
                                        </li>

                                        <li>
                                            <img src="~/Assets/Icons/project.png" width="20" />&nbsp;&nbsp;<b>Project:</b>
                                            <div class="agent-navdrop-project emp-data-nav">@Model.AMBC_Active_Emp_view.Project_Name</div>
                                        </li>
                                        <li>
                                            <img src="~/Assets/Icons/project-status.png" width="20" />&nbsp;&nbsp;<b>Project Status:</b>
                                            <div class="agent-navdrop-prostatus emp-data-nav">@Model.AMBC_Active_Emp_view.Project_Status</div>
                                        </li>

                                        <li>
                                            <img src="~/Assets/Icons/email.png" width="20" /> &nbsp;&nbsp;<b>E-Mail Address:</b>
                                            @*<div class="agent-navdrop-empemail">@Model.AMBC_Active_Emp_view.employee_mailid</div>*@
                                        </li>
                                        <li>
                                            <img src="~/Assets/Icons/location.png" width="20" /> &nbsp;&nbsp;<b>Location:</b>
                                            <div class="agent-navdrop-emplocation emp-data-nav">@Model.AMBC_Active_Emp_view.Location</div>
                                        </li>
                                    </ul>

                                </div>

                                <div class="modal-footer">

                                    <a href="/logout"><img src="~/Assets/Icons/logout.png" width="30" />&nbsp;<b>Logout</b></a>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
        <br />
        <div class="row mt-xl-4">
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/Rajender_Passport_Photo.jpg" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        @*<a href="/timesheet" class="btn btn-custom"></a>*@
                        <button type="submit" class="signin-signout btn-info">Check-In</button>
                    </div>
                </div>

            </div>
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/TimeSheet.png" class="card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/timesheet" class="btn btn-info">Timesheet</a>
                    </div>
                </div>

            </div>
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/Report.png" class="card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">11Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="http://52.140.63.122/tsReportServer/Pages/ReportViewer.aspx?%2fambctsreports%2fambcstdtimesheetrpt-Dev&rs:Command=Render" target="_blank" class="btn btn-info">KRA Report</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="row mt-xl-4">
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/Payroll.png" class="card-img-top custom-card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-info">Payroll</a>
                    </div>
                </div>

            </div>
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/Appraisal.png" class="card-img-top custom-card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-info">Appraisal</a>
                    </div>
                </div>
            </div>
            <div class="col-sm ">
                <div class="card dashboard-zoom" style="width: 18rem;">
                    <img src="~/Assets/hr.jpg" class="card-img-top custom-card-img-top" alt="..." height="120">
                    <div class="card-body">
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-info">HR Letters</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    jQuery(".signin-signout").click(function () {
        jQuery.ajax({
            type: "POST",
            url: "/signinsignout",
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.StatusCode == 200) {
                }
                else {
                }
            }
        });
    });
</script>



