@model ResourceManagement.emplogin

@{
    ViewBag.Title = "Login Page";
}

<div class="sidenav">

    <div class="login-main-text">
        <h2>Resource Management<br> Login Page</h2>
        <br />
        <p>Login from here to access.</p>
    </div>
</div>
<div class="main">
    <div class="col-md-6 col-sm-12 login-card">

        <div class="card dashboard-zoom" style="width: auto">
            <img class="card-img-top login-card-img-top" src="~/Assets/AMBC_Logo.png" alt="Card image cap">
            <div class="card-body login-card-body">
                <div class="login-form">

                    <br />
                    <br />

                    @using (Html.BeginForm("Login", "Home", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            <label><b>Emp ID</b></label>
                            @*<input type="text" class="form-control" placeholder="Emp ID">*@
                            @Html.TextBoxFor(a => a.att_username, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.att_username, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <label><b>Password</b></label>
                            @*<input type="password" class="form-control" placeholder="Password">*@
                            @Html.PasswordFor(a => a.att_password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(a => a.att_password, "", new { @class = "text-danger" })
                        </div>
                        <div class="model-footer">
                            <button type="submit" class="btn btn-info btn-lg">Login</button>
                            <button type="submit" class="btn btn-primary btn-lg">Register</button>
                        </div>

                    }
                </div>
            </div>
        </div>


    </div>
</div>


<div class="modal message-success-popup" tabindex="-1" role="dialog" style="padding-top: 130px">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="border-radius: 30px">
            <div class="modal-header modal-header-success-custommessage" style="border-top-left-radius: 30px; border-top-right-radius: 30px">
                <img src="~/Assets/loudspeaker.png" style="width: 150px" />

            </div>
            <div class="modal-body text-center">
                <h2 class="modal-body-custom-success" style="padding-top:10px !important">
                    Hello there,
                    <br />
                    <br />
                    We have been working thoroughly to enhance our service over the past few months, finally we developed new HRMS application. Requesting you please use the application for Daily Sign-In, Sign-Out, Leave and weekly Timesheet for client.
                </h2>
            </div>

            <div class="">
                <button type="button" class="btn btn-lg modal-success-popup-btn" data-dismiss="modal">Okay</button>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {
        $('.message-success-popup').modal('show');
    });



</script>