<div id="chartContainer1" style="height: 250px; width: 100%;"></div>
<br />
<br />
<div id="chartContainer2" style="height: 250px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

<script>
           var chart = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                theme: "light2",
                exportEnabled: true,
                willReadFrequently: true,
                title: {
                    text: "Monthly Report",
                },
                axisX: {
                    labelTextAlign: "left"
                },
                axisY: {
                    title: "Incidents count",
                    titleMaxWidth: 400,
                    titleFontWeight: "bold",
                    gridThickness: 0,
                    labelTextAlign: "left",
                    stripLines: [
                        {
                            value: 0,
                            showOnTop: true,
                            color: "gray",
                            thickness: 0
                        }
                    ]
                },

                data: [
                    {
                        type: "column",
                        showInLegend: true,
                        name: "Newly Raised",
                        legendText: "Newly Raised",
                        indexLabel: "{y}",
                        indexLabelFontWeight: "bold",
                        legendMarkerColor: "rgb(0, 0, 204)",
                        color: "rgb(0, 0, 204)",
                        dataPoints: @Html.Raw(ViewBag.MNRTDataPoints),
                    },
                    {
                        type: "column",
                        legendText: "Open",
                        indexLabel: "{y}",
                        indexLabelFontWeight: "bold",
                        name: "Open",
                        showInLegend: true,
                        legendMarkerColor: "rgb(255, 163, 26)",
                        color: "rgb(255, 163, 26)",
                        dataPoints: @Html.Raw(ViewBag.MOTDataPoints),
                    },
                     {
                        type: "column",
                         legendText: "Closed",
                         indexLabel: "{y}",
                         indexLabelFontWeight: "bold",
                         name: "Closed",
                        showInLegend: true,
                         legendMarkerColor: "rgb(51, 255, 153)",
                         color: "rgb(51, 255, 153)",
                        dataPoints: @Html.Raw(ViewBag.MCTDataPoints),
                    }
                ]
            });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer2", {
	        animationEnabled: true,
	        theme: "light2",
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
		        text: "Monthly Raised Vs Closed",
            },
            axisX: {
                labelTextAlign: "left"
            },
            axisY: {
                title: "Incidents count",
                titleMaxWidth: 400,
                titleFontWeight: "bold",
                gridThickness: 0,
                labelTextAlign: "left",
                stripLines: [
                    {
                        value: 0,
                        showOnTop: true,
                        color: "gray",
                        thickness: 0
                    }
                ]
            },

            data: [
              {
                    type: "line",
                    showInLegend: true,
                    name: "Newly Raised",
                    legendText: "Newly Raised",
                    indexLabel: "{y}",
                    indexLabelFontWeight: "bold",
                    legendMarkerColor: "rgb(0, 0, 204)",
                    color: "rgb(0, 0, 204)",
                    dataPoints: @Html.Raw(ViewBag.MNRTDataPoints),
                },
                 {
                     type: "line",
                     legendText: "Closed",
                     indexLabel: "{y}",
                     indexLabelFontWeight: "bold",
                     name: "Closed",
                    showInLegend: true,
                     legendMarkerColor: "rgb(51, 255, 153)",
                     color: "rgb(51, 255, 153)",
                    dataPoints: @Html.Raw(ViewBag.MCTDataPoints),
                }
            ]
        });
        chart.render();

</script>



