<div id="chartContainer1" style="height: 250px; width: 100%;"></div>
<br />
<div id="chartContainer2" style="height: 250px; width: 100%;"></div>
<br />

<div id="chartContainer3" style="width: 48%; height: 250px; display: inline-block;"></div>
<div id="chartContainer4" style="width: 49%; height: 250px; display: inline-block; padding-left:30px"></div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

<script>
           var chart = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                theme: "light2",
                exportEnabled: true,
                willReadFrequently: true,
                title: {
                    text: "Monthly Report",
                },
                axisX: {
                    labelTextAlign: "left"
                },
                axisY: {
                    title: "Incidents count",
                    titleMaxWidth: 400,
                    titleFontWeight: "bold",
                    gridThickness: 0,
                    labelTextAlign: "left",
                    stripLines: [
                        {
                            value: 0,
                            showOnTop: true,
                            color: "gray",
                            thickness: 0
                        }
                    ]
                },

                data: [
                    {
                        type: "column",
                        showInLegend: true,
                        name: "Newly Raised",
                        legendText: "Newly Raised",
                        indexLabel: "{y}",
                        indexLabelFontWeight: "bold",                     
                        indexLabelFontColor: "rgb(33, 103, 174)",
                        legendMarkerColor: "rgb(33, 103, 174)",
                        color: "rgb(33, 103, 174)",
                        dataPoints: @Html.Raw(ViewBag.MNRTDataPoints),
                    },
                    {
                        type: "column",
                        legendText: "Open",
                        indexLabel: "{y}",
                        indexLabelFontWeight: "bold",                     
                        indexLabelFontColor: "rgb(247, 150, 71)",
                        name: "Open",
                        showInLegend: true,
                        legendMarkerColor: "rgb(247, 150, 71)",
                        color: "rgb(247, 150, 71)",
                        dataPoints: @Html.Raw(ViewBag.MOTDataPoints),
                    },
                     {
                        type: "column",
                         legendText: "Closed",
                         indexLabel: "{y}",
                         indexLabelFontWeight: "bold",                        
                         indexLabelFontColor: "rgb(81, 205, 160)",
                         name: "Closed",
                        showInLegend: true,
                         legendMarkerColor: "rgb(81, 205, 160)",
                         color: "rgb(81, 205, 160)",
                        dataPoints: @Html.Raw(ViewBag.MCTDataPoints),
                    }
                ]
            });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer2", {
	        animationEnabled: true,
	        theme: "light2",
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
		        text: "Monthly Raised Vs Closed",
            },
            axisX: {
                labelTextAlign: "left"
            },
            axisY: {
                title: "Incidents count",
                titleMaxWidth: 400,
                titleFontWeight: "bold",
                gridThickness: 0,
                labelTextAlign: "left",
                stripLines: [
                    {
                        value: 0,
                        showOnTop: true,
                        color: "gray",
                        thickness: 0
                    }
                ]
            },

            data: [
              {
                    type: "line",
                    showInLegend: true,
                    name: "Newly Raised",
                    legendText: "Newly Raised",
                    indexLabel: "{y}",
                    indexLabelFontWeight: "bold",
                    indexLabelFontColor: "rgb(33, 103, 174)",
                    legendMarkerColor: "rgb(33, 103, 174)",
                    color: "rgb(33, 103, 174)",
                    dataPoints: @Html.Raw(ViewBag.MNRTDataPoints),
                },
                 {
                     type: "line",
                     legendText: "Closed",
                     indexLabel: "{y}",
                     indexLabelFontWeight: "bold",
                     indexLabelFontColor: "rgb(81, 205, 160)",
                     name: "Closed",
                    showInLegend: true,
                     legendMarkerColor: "rgb(81, 205, 160)",
                     color: "rgb(81, 205, 160)",
                    dataPoints: @Html.Raw(ViewBag.MCTDataPoints),
                }
            ]
        });
    chart.render();

     var chart = new CanvasJS.Chart("chartContainer3", {
	        animationEnabled: true,
	        theme: "light2",
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
		        text: "Open Tickets",
            },
            axisX: {
                labelTextAlign: "left"
            },
            axisY: {
                title: "Incidents count",
                titleMaxWidth: 400,
                titleFontWeight: "bold",
                gridThickness: 0,
                labelTextAlign: "left",
                stripLines: [
                    {
                        value: 0,
                        showOnTop: true,
                        color: "gray",
                        thickness: 0
                    }
                ]
            },

            data: [
              {
                    type: "column",
                    showInLegend: true,
                    name: "Critical",
                    legendText: "Critical",
                    indexLabel: "{y}",
                    indexLabelFontWeight: "bold",
                    indexLabelFontColor: "rgb(33, 103, 174)",
                    legendMarkerColor: "rgb(33, 103, 174)",
                    color: "rgb(33, 103, 174)",
                    dataPoints: @Html.Raw(ViewBag.CriticlTickets),
                },
                 {
                     type: "column",
                     legendText: "High",
                     indexLabel: "{y}",
                     indexLabelFontWeight: "bold",
                     name: "High",
                    showInLegend: true,
                     legendMarkerColor: "rgb(255,215,0)",
                     color: "rgb(255,215,0)",
                     indexLabelFontColor: "rgb(255,215,0)",
                    dataPoints:  @Html.Raw(ViewBag.HighTickets),
                },
                  {
                     type: "column",
                     legendText: "Medium",
                     indexLabel: "{y}",
                     indexLabelFontWeight: "bold",
                      name: "Medium",
                    showInLegend: true,
                      legendMarkerColor: "rgb(247, 150, 71)",
                      color: "rgb(247, 150, 71)",
                      indexLabelFontColor: "rgb(247, 150, 71)",
                    dataPoints: @Html.Raw(ViewBag.LowTickets),
                },
                   {
                     type: "column",
                     legendText: "Low",
                     indexLabel: "{y}",
                     indexLabelFontWeight: "bold",
                    showInLegend: true,
                       legendMarkerColor: "rgb(47, 79, 79)",
                       color: "rgb(47, 79, 79)",
                       indexLabelFontColor: "rgb(47, 79, 79)",
                    dataPoints: @Html.Raw(ViewBag.CriticlTickets),
                }
            ]
        });
    chart.render();


     var chart = new CanvasJS.Chart("chartContainer4", {
	        animationEnabled: true,
	        theme: "light2",
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
		        text: "Incident Closure Trend",
            },
            data: [
              {
                    type: "pie",
                    startAngle: 240,
                    indexLabelFontSize: 12,
                    showInLegend: true,
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: @Html.Raw(ViewBag.ClosedTrend),
                }
            ]
        });
        chart.render();

</script>



