@model ResourceManagement.Models.GraphChartModel

<style>
    .report-content-resource {
        /*  padding-left: 15px !important;
        padding-top: 20px !important;*/
        font-size: small !important;
        /* margin-left: 10px !important;
        margin-top: -15px !important*/

        margin-top: -20px !important;
    }

    .table-striped-custom tr:nth-of-type(odd) {
        background-color: rgba(72, 113, 248, 0.068);
    }

    .vl {
        border-left: 1px solid rgb(33, 103, 174);
        height: 250px;
        margin-left: 30px;
    }

    .grapgh1firsttd {
        width: 50px !important;
        text-align: center !important;
        font-weight: bold;
        color: white !important;
        border-top: 0px solid #0095a8 !important;
        background-color: white;
    }

    .graph1contenttd {
        text-align: center !important;
        /*   width: 160px !important;*/
        border-left: 1px solid #0095a8 !important;
        border-top: 1px solid #0095a8 !important;
        font-weight: bold !important;
        vertical-align: middle !important;
    }

    .hrlineDiv {
        background-color: white;
        padding-top: 90px;
        text-align: center;
        margin-bottom: 30px;
        /*border-bottom: 1px solid rgb(0, 128, 128) !important;*/
        margin-left: 150px;
        margin-right: 150px
    }

    html, body, #container {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .chartbelowhrline {
        margin-left: -70px;
        text-align: center;
    }

    .sticky-container {
        padding: 0px;
        margin: 0px;
        position: fixed;
        right: -119px;
        top: 300px;
        width: 200px;
    }

    .sticky li {
        list-style-type: none;
        padding: 0px;
        margin: 0px 0px 1px 0px;
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        cursor: pointer;
        filter: gray;
    }

        .sticky li:hover {
            margin-left: -115px;
            -webkit-filter: grayscale(0%);
        }

        .sticky li img {
            float: left;
            margin: 2px 2px 2px 2px;
            margin-right: 10px;
        }

        .sticky li p {
            padding: 0px;
            margin: 0px;
            text-transform: uppercase;
            line-height: 43px;
        }

    .employeeInfo {
        color: #23366f !important;
        margin-bottom: 2px !important;
    }

    .empPersonelInfoe {
        margin-left: 35px !important;
        margin-top: -18px !important;
        color: #23366f !important
    }

    .empAvaliability {
        margin-top: -22px !important;
        margin-left: 73px !important;
    }

    .report-activity {
        margin-left: 70px !important;
        margin-top: 30px !important;
    }

    .multplechartdiv {
       margin-left: 75px !important;
    }
</style>


<div class="" style="background-color: white; color: #2167ae;">
    <br />
    <img src="~/Assets/AMBC_Logo.png" alt="Header Logo" style="margin-left: 20px !important;  height: 70px !important; margin-top: -10px !important;width: 200px !important" />
    @{
        var clientLogo = "";
        if (Model.AMBC_Active_Emp_view.Client != "AMBC")
        {
            clientLogo = "/Assets/ClientLogos/" + Model.AMBC_Active_Emp_view.Client + ".png";
        }
    }
    @if (clientLogo != "")
    {
        <img src='@clientLogo' style="float: right !important; margin-right: 20px !important; height: 70px !important; margin-top: -10px !important; width: 200px !important" />
    }

    <br />

    <div class="report-banner">
        <div class="banner-wrapper">
            <div class="banner-media">
                <div class="banner-image__circle">
                    <figure>
                        <img src="@Model.EmployeeImage" class="banner-img" width="170" height="170" />
                    </figure>
                    <p class="banner-empname">@Model.AMBC_Active_Emp_view.Employee_Name</p>
                </div>
                <div class="banner-decoration">
                    @*<div class="banner-decoration__elements">*@
                    <span class="banner-decoration__circle"></span>
                    <span class="banner-decoration__half-mask">
                        <span class="banner-decoration__half-mask__circle bg-height">
                        </span>
                    </span>
                    <span class="banner-decoration__mini-circle bg-height"></span>
                    @*</div>*@
                </div>
            </div>
            <div class="banner-content">
                <div style="padding-top: 30px;">
                    <div>
                        <h2 style="font-size: xx-large; color: #23366f !important ">
                            @Model.AMBC_Active_Emp_view.Client_Project_Name
                        </h2>
                        <h5 style="color: #23366f !important ">
                            Project Status Report as of <b style="font-size: initial; color: floralwhite !important; margin-left: 5px !important">  @Model.SelectedReportMonth.MonthName @Model.SelectedReportMonth.MonthEndDate@Model.SelectedReportMonth.Suffix, @Model.SelectedReportMonth.year</b>
                        </h5>

                        <h5 style="color: #23366f !important ">
                            Report Period <b style="font-size: initial; color: floralwhite !important; margin-left: 5px !important">  Nov to @Model.SelectedReportMonth.MonthName</b>
                        </h5>

                        <div style="display: none" class="page-name-title-updated">Status Report - @Model.AMBC_Active_Emp_view.Employee_Name @Model.SelectedReportMonth.MonthName @Model.SelectedReportMonth.MonthEndDate@Model.SelectedReportMonth.Suffix, @Model.SelectedReportMonth.year</div>

                    </div>

                </div>

                <hr style="background-color: red !important; height: 1px !important; width: 75% !important; margin-left: 0px !important; margin-top: 15px !important;" />

                <div class="report-content-resource">
                    <br />
                    <div class="employeeInfo">  <img src="~/Assets/Icons/email.png" width="25" /><div class="empPersonelInfoe">@Model.AMBC_Active_Emp_view.AMBC_Mail_Address</div> </div>
                    <div class="employeeInfo">
                        <img src="~/Assets/Icons/phone.png" width="20" /><div class="empPersonelInfoe">@Model.AMBC_Active_Emp_view.Contact_Number</div>
                    </div>

                    <div class="employeeInfo">
                        <img src="~/Assets/Icons/icons8-employee-48.png" width="25" /><div class="empPersonelInfoe">
                            @Model.AMBC_Active_Emp_view.Client_Report_Manager
                        </div>
                    </div>

                    <div class="employeeInfo" style="color: white !important;">
                        <img src="~/Assets/Icons/checked.png" width="25" /><div class="empPersonelInfoe">

                            <meter id="disk_d" value="0.82" style="height: 20px">82.3%</meter><div class="empAvaliability"><b style="color: #23366f !important;">82.3%</b></div>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <div class="report-activity">
        <h2><b style="color: rgb(0, 128, 128) !important">Activity Details</b></h2>
        <ul class="mt-xl-4">
            @{
                var activitesDetails = Model.AMBC_Active_Emp_view.Roles_Responsibilities;
            }

            @if (!string.IsNullOrWhiteSpace(activitesDetails))
            {
                foreach (var activity in activitesDetails.Split('|'))
                {
                    <li class="" style="color: rgb(0, 128, 128) !important ">@activity</li>
                }
            }

        </ul>
    </div>

    <!--<div class="container">
        <div class="row">

            <div class="col-md">
                <div style="padding-top: 100px !important; margin-left: 100px !important; color: #2167ae !important; background-color: #23366f !important; margin-top: 70px !important; margin-right: 50px !important; border-bottom-right-radius: 10px !important; border-bottom-left-radius: 10px !important; border: 3px solid #23366f !important ">
                    <div style="background-color: white !important; border-bottom-left-radius: 30px !important; margin-top: -50px !important; margin-top: -50px !important; padding-top: 10px !important">
                        <img src="@Model.EmployeeImage" alt="Avatar" style="border-radius: 50%; width: 150px; margin-left: 75px; height: 160px">
                        <h2 style="padding-left: 75px; text-align: center; width: 200px; padding-top: 10px; color: #2167ae !important"><b style="color: #2167ae !important">@Model.AMBC_Active_Emp_view.Employee_Name</b></h2>
                    </div>

                    <div class="report-content-resource">
                        <br />
                        <div class="employeeInfo">  <img src="~/Assets/Icons/email.png" width="25" /><div class="empPersonelInfoe">@Model.AMBC_Active_Emp_view.AMBC_Mail_Address</div> </div>
                        <div class="employeeInfo">
                            <img src="~/Assets/Icons/phone.png" width="20" /><div class="empPersonelInfoe">@Model.AMBC_Active_Emp_view.Contact_Number</div>
                        </div>

                        <div class="employeeInfo">
                            <img src="~/Assets/Icons/icons8-employee-48.png" width="25" /><div class="empPersonelInfoe">
                                @Model.AMBC_Active_Emp_view.Client_Report_Manager
                            </div>
                        </div>

                        <div class="employeeInfo" style="color: white !important;">
                            <img src="~/Assets/Icons/checked.png" width="25" /><div class="empPersonelInfoe">

                                <meter id="disk_d" value="0.82" style="height: 20px">82.3%</meter><div class="empAvaliability"><b style="color: white !important;">Feb availability: </b> <b style="color: white !important;">82.3%</b></div>
                            </div>
                        </div>

                        <br />-->
    @*<div class="employeeInfo">
            <img src="~/Assets/Icons/availability.png" width="25" /><div class="empPersonelInfoe">
                <meter id="disk_d" value="1" style="height: 20px">100%</meter><div class="empAvaliability"><b style="color: white !important;">Mar availability: </b><b style="color: white !important;">100%</b></div>
            </div>
        </div>*@

    <!--</div>
                </div>
            </div>


            <div class="col-md" style="color: rgb(0, 128, 128) !important; background-color: white; border-radius: 30px; width: 18rem; margin-right: 50px; margin-top: 30px; border: 0px solid rgb(0, 128, 128) ">
                <div style="padding-top: 30px;">
                    <div>
                        <h2 style="font-size: xx-large; color: rgb(0, 128, 128) !important">
                            @Model.AMBC_Active_Emp_view.Client_Project_Name
                        </h2>
                        <h5 style="color: rgb(0, 128, 128) !important ">
                            Project Status Report as of <b style="font-size: initial; color: green !important">@Model.SelectedReportMonth.MonthName @Model.SelectedReportMonth.MonthEndDate@Model.SelectedReportMonth.Suffix, @Model.SelectedReportMonth.year</b>
                        </h5>

                        <div style="display: none" class="page-name-title-updated">Status Report - @Model.AMBC_Active_Emp_view.Employee_Name @Model.SelectedReportMonth.MonthName @Model.SelectedReportMonth.MonthEndDate@Model.SelectedReportMonth.Suffix, @Model.SelectedReportMonth.year</div>

                    </div>

                </div>
                <hr style="background-color: red !important; height: 2px" />

                <div class="mt-xl-4">
                    <h2><b style="color: rgb(0, 128, 128) !important">Activity Details</b></h2>
                    <ul class="mt-xl-4">
                        @{
                            var activitesDetails1 = Model.AMBC_Active_Emp_view.Roles_Responsibilities;
                        }

                        @if (!string.IsNullOrWhiteSpace(activitesDetails1))
                        {
                            foreach (var activity in activitesDetails1.Split('|'))
                            {
                                <li class="" style="color: rgb(0, 128, 128) !important ">@activity</li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>-->

</div>



<br />

<div style="background-color: none; padding-top: 30px !important" />
<div class="chartContainer1 chartdiv">
    <div id="chartContainer1" class="chartimagediv" style="height: 215px; width: 60%; display: inline-block; margin-left: 150px;"></div><p class="chartparah" style="position: absolute; margin-left: 735px; margin-top: -55px; color: #0095a8 !important; font-size: medium; font-family: cursive; font-size: larger ">Overall Ticket Run rate ~@Html.Raw(ViewBag.Graph1OverallStatus)</p>
    <div class="hrlineDiv"><h2 class="chartbelowhrline" style="margin-left: -70px !important; margin-top: -15px !important;"><b style="color: rgb(0, 128, 128) !important"></b></h2></div>
</div>

<div class="chartContainer2 chartdiv">
    <div id="chartContainer2" class="chartimagediv" style="height: 215px; width: 60%; display: inline-block; margin-left: 150px;"></div><p class="chartparah" style="position: absolute; margin-left: 735px; margin-top: -65px; color: #3b5998 !important; font-size: medium; font-family: cursive; font-size: larger ">
        @Html.Raw(ViewBag.Graph2OverallStatus)
    </p>
    <div class="hrlineDiv"><h2 class="chartbelowhrline" style="margin-left: -70px !important; margin-top: -15px !important;"><b style="color: rgb(0, 128, 128) !important"></b></h2></div>
</div>
<div class="chartContainer3 chartdiv">
    <div id="chartContainer3" class="chartimagediv" style="width: 60%; height: 215px; display: inline-block; margin-left: 150px; "></div><p class="chartparah3" style="position: absolute; margin-left: 762px; margin-top: -51px; color: #005983 !important; font-size: medium; font-family: cursive; font-size: larger ">@Html.Raw(ViewBag.Graph3OverallStatus)</p>
    <div class="hrlineDiv"><h2 class="chartbelowhrline" style="margin-left: -70px !important; margin-top: -15px !important;"><b style="color: rgb(0, 128, 128) !important"></b></h2></div>
</div>

<div class="container">
    <div class="row">
        <div class="col chartContainer4 chartdiv multplechartdiv">

            <div id="chartContainer4" class="chartimagedivmultiple" style="height: 215px; width: 400px; display: inline-block; padding-left: 0px;"></div><p class="multiplechartparah" style="position: absolute; margin-left: 85px; margin-top: 5px; color: rgb(0, 128, 128) !important; font-size: medium; font-family: cursive; font-size: larger; width: 330px;">@Html.Raw(ViewBag.Graph4OverallStatus)</p>
            <div class="hrlineDiv"><h2 class="chartbelowhrline" style="margin-left: -70px !important; margin-top: -15px !important;"><b style="color: rgb(0, 128, 128) !important"></b></h2></div>

        </div>
        <div class="col chartContainer5 chartdiv">

            <div id="chartContainer5" class="chartimagedivmultiple" style="height: 215px; width: 400px; display: inline-block;"></div><p class="multiplechartparah" style="position: absolute; margin-left: 85px; margin-top: 5px; color: rgb(74, 172, 197) !important; font-size: medium; font-family: cursive; font-size: larger; width: 330px; ">@Html.Raw(ViewBag.Graph5OverallStatus)</p>
            <div style="background-color: white; padding-top: 30px; text-align: center; margin-bottom: 30px; margin-left: 150px; margin-right: 150px "><h2 class="chartbelowhrline" style="margin-left: -70px"><b style="color: rgb(0, 128, 128) !important"></b></h2></div>

        </div>
    </div>
</div>




<div style="text-align: center; color: white !important; background-color: #2167ae !important; height: 75px; border-radius: 0px; padding-top: 10px;margin-top: 100px">
    <div style=" text-align:center"><b style="font-size: xx-large; color: white !important;">Thank you...!</b></div>
</div>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>



<div class="sticky-container">
    <ul class="sticky">
        <li style="background-color: #0095a8; color: white; font-weight: bold ">
            <img style="width:45px !important; height: 40px !important" title="" alt="" src="~/Assets/Graphs/bar-graph.png" />
            <p class="chartshowhide" data-target="chartContainer1">HIDE</p>
        </li>
        <li style="background-color: #3b5998; color: white; font-weight: bold ">
            <img style="width:45px !important; height: 40px !important" title="" alt="" src="~/Assets/Graphs/ClosureTrend.png" />
            <p class="chartshowhide" data-target="chartContainer2">HIDE</p>
        </li>
        <li style="background-color: #005983; color: white; font-weight: bold ">
            <img style="width:45px !important; height: 40px !important" title="" alt="" src="~/Assets/Graphs/Open-Tickets.png" />
            <p class="chartshowhide" data-target="chartContainer3">HIDE</p>
        </li>
        <li style="background-color: rgb(0, 128, 128); color: white; font-weight: bold ">
            <img style="width:45px !important; height: 40px !important" title="" alt="" src="~/Assets/Graphs/Closure-Trend.png" />
            <p class="chartshowhide" data-target="chartContainer4">HIDE</p>
        </li>
        <li style="background-color: rgb(74, 172, 197); color: white; font-weight: bold ">
            <img style="width:45px !important; height: 40px !important" title="" alt="" src="~/Assets/Graphs/Incident-Summary.png" />
            <p class="chartshowhide" data-target="chartContainer5">HIDE</p>
        </li>

    </ul>
</div>

<script>


           var chart = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
               theme: "light2",
                exportEnabled: true,
                willReadFrequently: true,
                title: {
                    text: "Monthly Report",
                    fontColor: "white",
                    fontSize: 15,
                    padding: 10,
                    margin: 15,
                    backgroundColor: "#0095a8",
                    cornerRadius: 10,
                    fontWeight: "bold"
               },
               legend: {
                   horizontalAlign: "right", // left, center ,right
                   verticalAlign: "center",  // top, center, bottom
                   margin: 30,
               },
                axisX: {
                    labelTextAlign: "left",
                    tickLength: 6,
                    tickThickness: 6,
                    tickColor: "red",
                },
                axisY: {
                   title: "Incidents count",
                    titleMaxWidth: 400,
                    titleFontWeight: "bold",
                    gridThickness: 0,
                    labelTextAlign: "left",
                    stripLines: [
                        {
                            value: 0,
                            showOnTop: true,
                            color: "gray",
                            thickness: 0
                        }
                    ]
                },

                data: [
                    {
                        type: "column",
                        showInLegend: true,
                        name: "Newly Raised",
                        legendText: "Newly Raised",
                        indexLabel: "{y}",
                        indexLabelFontWeight: "bold",
                        indexLabelFontColor: "rgb(33, 103, 174)",
                        legendMarkerColor: "rgb(33, 103, 174)",
                        color: "rgb(33, 103, 174)",
                        dataPoints: @Html.Raw(ViewBag.MNRTDataPoints),
                    },
                    {
                        type: "column",
                        legendText: "Open",
                        indexLabel: "{y}",
                        indexLabelFontWeight: "bold",
                        indexLabelFontColor: "rgb(247, 150, 71)",
                        name: "Open",
                        showInLegend: true,
                        legendMarkerColor: "rgb(247, 150, 71)",
                        color: "rgb(247, 150, 71)",
                        dataPoints: @Html.Raw(ViewBag.MOTDataPoints),
                    },
                     {
                        type: "column",
                         legendText: "Closed",
                         indexLabel: "{y}",
                         indexLabelFontWeight: "bold",
                         indexLabelFontColor: "rgb(81, 205, 160)",
                         name: "Closed",
                        showInLegend: true,
                         legendMarkerColor: "rgb(81, 205, 160)",
                         color: "rgb(81, 205, 160)",
                        dataPoints: @Html.Raw(ViewBag.MCTTotalDataPoints),
                    }
               ]
            });
        chart.render();

        var chart = new CanvasJS.Chart("chartContainer2", {
	        animationEnabled: true,
            theme: "light2",
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
                text: "Monthly Raised Vs Closed",
                fontColor: "white",
                fontSize: 15,
                padding: 10,
                margin: 15,
                backgroundColor: "#3b5998",
                cornerRadius: 10,
                fontWeight: "bold"
            },
            legend: {
                horizontalAlign: "right", // left, center ,right
                verticalAlign: "center",  // top, center, bottom
                margin: 15,
            },
            axisX: {
                labelTextAlign: "left",
                tickLength: 6,
                tickThickness: 6,
                tickColor: "red"
            },
            axisY: {
             /*  title: "Incidents count",*/
                titleMaxWidth: 400,
                titleFontWeight: "bold",
                gridThickness: 0,
                labelTextAlign: "left",
                stripLines: [
                    {
                        value: 0,
                        showOnTop: true,
                        color: "gray",
                        thickness: 0
                    }
                ]
            },

            data: [
              {
                    type: "area",
                    indexLabelFontSize: 28,
                    name: "Newly Raised",
                    legendText: "Newly Raised",
                 /*   indexLabelPlacement: "inside",*/
                    indexLabel: "{y}",
                    indexLabelFontWeight: "bold",
                    indexLabelFontColor: "rgb(33, 103, 174)",
                    indexLabelTextAlign: "left",
                    legendMarkerColor: "rgb(33, 103, 174)",
                    color: "rgb(33, 103, 174)",
                    showInLegend: true,
                    dataPoints: @Html.Raw(ViewBag.MNRTDataPoints),
                },
                 {
                     type: "line",
                     legendText: "Closed",
                     indexLabelOrientation: "horizontal",
                     indexLabel: "{y}",
                     indexLabelFontSize: 9,
                     indexLabelFontWeight: "bolder",
                     indexLabelFontColor: "black",
                     name: "Closed",
                     showInLegend: true,
                     legendMarkerColor: "rgb(81, 205, 160)",
                     color: "rgb(81, 205, 160)",
                    dataPoints: @Html.Raw(ViewBag.MSpecifCTDataPoints),
                }
            ]
        });
    chart.render();

     var chart = new CanvasJS.Chart("chartContainer3", {
	        animationEnabled: true,
            theme: "light2",
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
                text: "Open Tickets",
                fontColor: "white",
                fontSize: 15,
                padding: 10,
                margin: 15,
                backgroundColor: "#005983",
                cornerRadius: 10,
                fontWeight: "bold"
         },
         legend: {
             horizontalAlign: "right", // left, center ,right
             verticalAlign: "center",  // top, center, bottom
             margin: 15,
         },
            axisX: {
                labelTextAlign: "left",
                tickLength: 6,
                tickThickness: 6,
                tickColor: "red"
            },
            axisY: {
               title: "Incidents count",
                titleMaxWidth: 400,
                titleFontWeight: "bold",
                gridThickness: 0,
                labelTextAlign: "left",
                stripLines: [
                    {
                        value: 0,
                        showOnTop: true,
                        color: "gray",
                        thickness: 0
                    }
                ]
            },

            data: [
              {
                    type: "column",
                    showInLegend: true,
                    name: "Critical",
                    legendText: "Critical",
                    indexLabel: "{y}",
                    indexLabelFontWeight: "bold",
                    indexLabelFontColor: "rgb(192, 80, 78)",
                    legendMarkerColor: "rgb(192, 80, 78)",
                    color: "rgb(192, 80, 78)",
                    dataPoints:@Html.Raw(ViewBag.MCRITOTDataPoints),

                },
                 {
                     type: "column",
                     legendText: "High",
                     indexLabel: "{y}",
                     indexLabelFontWeight: "bold",
                     name: "High",
                    showInLegend: true,
                     legendMarkerColor: "rgb(155, 187, 88)",
                     color: "rgb(155, 187, 88)",
                     indexLabelFontColor: "rgb(155, 187, 88)",
                    dataPoints:@Html.Raw(ViewBag.MHIGOTDataPoints),
                },
                  {
                     type: "column",
                     legendText: "Medium",
                     indexLabel: "{y}",
                     indexLabelFontWeight: "bold",
                      name: "Medium",
                    showInLegend: true,
                      legendMarkerColor: "#005983",
                      color: "#005983",
                      indexLabelFontColor: "#005983",
                      dataPoints:@Html.Raw(ViewBag.MMEDIOTDataPoints),
                },
                   {
                     type: "column",
                     legendText: "Low",
                     indexLabel: "{y}",
                     indexLabelFontWeight: "bold",
                    showInLegend: true,
                       legendMarkerColor: "rgb(74, 172, 197)",
                       color: "rgb(74, 172, 197)",
                       indexLabelFontColor: "rgb(74, 172, 197)",
                   dataPoints:@Html.Raw(ViewBag.MLOWOTDataPoints),
                }
            ]
        });
    chart.render();


     var chart = new CanvasJS.Chart("chartContainer4", {
	        animationEnabled: true,
	        theme: "light2",
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
                text: "Incident Closure Trend",
                fontColor: "white",
                fontSize: 15,
                padding: 10,
                marginRight: 50,
                backgroundColor: "rgb(0, 128, 128)",
                cornerRadius: 10,
                fontWeight: "bold"
         },
         legend: {
             horizontalAlign: "right", // left, center ,right
             verticalAlign: "center",  // top, center, bottom          
         },

            data: [
              {
                    type: "pie",
                    startAngle: 240,
                    indexLabelFontSize: 12,
                    showInLegend: true,
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label} {y}",
                    dataPoints: @Html.Raw(ViewBag.ClosedTrend),
                }
            ]
        });
    chart.render();

         var chart = new CanvasJS.Chart("chartContainer5", {
	        animationEnabled: true,
             theme: "light2",
            exportEnabled: true,
            willReadFrequently: true,
	        title: {
                text: "Incidents Summary",
                fontColor: "white",
                fontSize: 15,
                padding: 10,
                marginLeft: 50,
                backgroundColor: "rgb(74, 172, 197)",
                cornerRadius: 10,
                fontWeight: "bold"
             },
             legend: {
                 horizontalAlign: "right", // left, center ,right
                 verticalAlign: "center",  // top, center, bottom                
             },

            data: [
              {
                    type: "doughnut",
                    startAngle: 240,
                    reversed: true,
                    indexLabelFontSize: 12,
                    showInLegend: true,
                    yValueFormatString: "##0.00\"%\"",
                    indexLabel: "{label}",
                    dataPoints: @Html.Raw(ViewBag.IncidentsSummary),
                }
            ]
        });
    chart.render();


    jQuery('.canvasjs-chart-credit').hide();

    //Hidden download graph options by default
    jQuery('.canvasjs-chart-toolbar').hide();
    jQuery('.page-name-title').text(jQuery('.page-name-title-updated').text());

    jQuery(document).ready(function () {
        jQuery(document).on("click", ".chartshowhide", function () {
            var className = jQuery(this).attr('data-target');
            if (jQuery('.'+className).css('display') == 'none') {
                jQuery('.' + className).show();
                $(this).text("HIDE");
            }
            else {
                jQuery('.' + className).hide();
                jQuery(this).text("SHOW");
            }
        });
    });


</script>



