@model ResourceManagement.Models.RMA_StatusReportViewModel

@{
    ViewBag.Title = "Status Report Page";
    var imagePath = "";
}

<style>
    span.circle {
        background: white;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        color: green;
        display: inline-block;
        font-weight: bold;
        line-height: 40px;
        margin-right: 5px;
        text-align: center;
        width: 160px;
        height: 160px;
        font-size: x-large;
        vertical-align: middle;
        border: 5px solid green;
        margin-left: 50px;
        margin-bottom: -130px;
    }

    .textstyle {
        position: absolute;
        margin-top: 50px;
        margin-left: -41px;
        font-size: xxx-large;
        font-weight: 100
    }
</style>

    <nav class="navbar navbar-expand-lg nav-bar-bg navbar-inverse navbar-fixed-top">
        <a class="navbar-brand" href="/dashboard"><img src="~/Assets/AMBC_Logo.png" alt="Header Logo" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="time-headertitle" style="padding-left: 69px !important">
            <h2 class="text-uppercase text-white">Status Report</h2>

        </div>

        <div class="col-lg-offset-3">
            @if (Model != null)
            {
                imagePath = "/Assets/EmployeeImagesPNG/" + @Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Employee_ID + ".png";

                <div class="agent-navigation">
                    <div class="">
                        <div class="dropdownheading text-white">
                            <div class="profile-img">
                                <img src="@imagePath" class="img-fluid rounded-circle" width="40" alt="Cinque Terre">
                            </div>
                            <p class="agent-full-name">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Employee_Name</p>
                        </div>

                        <div class="agent-description hide" style="">
                            <div class="agent-details">
                                <div class="agent-img">
                                    <img alt="Bantle_Martin Bantle_625x313" src="@imagePath" data-imagehash="datazwpimghash" loading="lazy">

                                </div>

                                <div class="agent-fullname">
                                    <b>@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Employee_Name</b>
                                </div>
                                <ul>
                                    <li>
                                        <img src="~/Assets/Icons/id-card.png" width="30" /> <b>Emp ID:</b>
                                        <div class="agent-navdrop-empid emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Employee_ID</div>
                                    </li>
                                    <li>
                                        <img src="~/Assets/Icons/graphic-designer.png" width="20" /> &nbsp;&nbsp; <b>Designation:</b>
                                        <div class="agent-navdrop-empdesig emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Designation</div>
                                    </li>
                                    <li>
                                        <img src="~/Assets/Icons/hierarchical-structure.png" width="20" />&nbsp;&nbsp; <b>Reporting Manager:</b>
                                        <div class="agent-navdrop-empmanager emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Client_Report_Manager</div>
                                    </li>
                                    <li>
                                        <img src="~/Assets/Icons/phone.png" width="20" />&nbsp;&nbsp;<b>Contact Number:</b>
                                        <br />
                                        <a class="agent-navdrop-phone emp-data-nav" href="tel:07531 282590">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Contact_Number</a>
                                    </li>
                                    <li>
                                        <img src="~/Assets/Icons/woman.png" width="20" />&nbsp;&nbsp;<b>Client:</b>
                                        @if (Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo.Count > 1)
                                        {
                                            var clients = new List<string>();
                                            foreach (var empProject in Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo)
                                            {
                                                clients.Add(empProject.Client);
                                            }
                                            var empClients = string.Join(", ", clients);
                                            <div class="agent-navdrop-client emp-data-nav">@empClients</div>

                                        }
                                        else
                                        {
                                            <div class="agent-navdrop-client emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Client</div>
                                        }


                                    </li>
                                    <li>
                                        <img src="~/Assets/Icons/project.png" width="20" />&nbsp;&nbsp;<b>Project:</b>
                                        @if (Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo.Count() > 1)
                                        {
                                            var projects = new List<string>();
                                            foreach (var empProject in Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo)
                                            {
                                                var sameProjectExists = false;

                                                foreach (var project in projects)
                                                {
                                                    if (project == empProject.Project_Name)
                                                    {
                                                        sameProjectExists = true;
                                                    }
                                                }

                                                if (!sameProjectExists)
                                                { projects.Add(empProject.Project_Name); }

                                            }
                                            var empProjects = string.Join(", ", projects);
                                            <div class="agent-navdrop-client emp-data-nav">@empProjects</div>

                                        }
                                        else
                                        {
                                            <div class="agent-navdrop-project emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Project_Name</div>
                                        }

                                    </li>
                                    <li>
                                        <img src="~/Assets/Icons/project-status.png" width="20" />&nbsp;&nbsp;<b>Project Status:</b>
                                        <div class="agent-navdrop-prostatus emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Project_Status</div>
                                    </li>
                                    <li>
                                        <img src="~/Assets/Icons/email.png" width="20" /> &nbsp;&nbsp;<b>E-Mail Address:</b>
                                        <div class="agent-navdrop-empemail emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.AMBC_Mail_Address</div>
                                    </li>
                                    <li>
                                        <img src="~/Assets/Icons/location.png" width="20" /> &nbsp;&nbsp;<b>Location:</b>
                                        <div class="agent-navdrop-emplocation emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Location</div>
                                    </li>
                                </ul>

                            </div>

                            <div class="modal-footer header-nav-modalfooter">
                                <a href="/logout"><img src="~/Assets/Icons/logout.png" width="30" />&nbsp;<b>Logout</b></a>
                            </div>
                        </div>


                    </div>
                </div>

                <input type="hidden" class="emprole" value="@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Access_Role" />

            }

        </div>
    </nav>


<div class="card card-body status-report-view-options" style="border-radius: 10px">
    <div class="card statusreport-card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group selectemp-div">
                        <label for="reportemployeename">Employee Name<b style="color:red">*</b></label>
                        <select id="selectEmployeename" name="reportemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                            <option disabled selected>-- Select Employee Name --</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reportyear" class="">Year<b style="color:red">*</b></label>
                        <select id="reportyear" name="reportyear" class="form-control form-select form-select-lg mb-3">
                            <option disabled selected>-- Select Year --</option>
                            <option value="@System.DateTime.Now.Year.ToString()">@System.DateTime.Now.Year.ToString()</option>
                            <option value="@System.DateTime.Now.AddYears(-1).Year">@System.DateTime.Now.AddYears(-1).Year</option>
                        </select>
                        <div class="invalid-feedback-reportyear" style="color:red; display:none">
                            Please Select Year
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reporttype" class="leavestartdate">Report Type<b style="color:red">*</b></label>
                        <select id="reporttype" name="reporttype" class="form-control form-select form-select-lg mb-3">
                            <option disabled selected>-- Select Type --</option>
                            <option value="Month Report">Month Report</option>
                            <option value="Quarterly Report">Quarter Report</option>
                            <option value="Half Year Report">Half Year Report</option>
                            <option value="Annual Report">Annual Report</option>
                        </select>
                        <div class="invalid-feedback-reporttype" style="color:red; display:none">
                            Please Select Type
                        </div>
                    </div>
                </div>



                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reportmonth" class="leavestartdate">Period<b style="color:red">*</b></label>
                        <select id="reportmonth" name="reportmonth" class="form-control form-select form-select-lg mb-3">
                            <option disabled selected>-- Select Month --</option>
                        </select>
                        <div class="invalid-feedback-reportmonth" style="color:red; display:none">
                            Please Select Period
                        </div>
                    </div>                  
                </div>
            </div>

            <div class="row">
                @*<div class="col-md-6">
                    <div class="form-group">
                        <label for="reportgraphtypes">Select Graphs</label>
                        <select id="reportgraphtypes" name="reportgraphtypes" class="form-control form-select form-select-lg mb-3" multiple>
                            <option disabled selected>-- Select Graphs --</option>
                            <option value="Month Report">Monthly Repot</option>
                            <option value="Quarterly Report">Monthly Raised Vs Closed</option>
                            <option value="Half Year Report">Open Tickets</option>
                            <option value="Annual Report">Incidents Closure Trend</option>
                            <option value="Annual Report">Incidents Summary</option>
                        </select>
                    </div>
                </div>*@

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reportClient">Client</label>
                        <select id="reportClient" name="reportClient" class="form-control form-select form-select-lg mb-3 date-timesheet">
                            @foreach (var project in Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo)
                            {
                                <option value="@project.Project_Code">@project.Client</option>
                            }
                        </select>
                    </div>

                </div>
            </div>
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-status-report-view" style="width:100px; border-radius:10px"><b>View Report</b></button>
                <button type="button" class="btn btn-success btn-lg btn-download-report" style="border-radius:10px; display: none">Download Report</button>
            </div>
        </div>
    </div>
</div>



<div id="chartContainer" style="background-color: white;" class="mt-xl-4"></div>


@{
    Html.RenderPartial("_ModalAlerts");
}

<br />
<br />

<script>

    jQuery('.btn-download-report').click(function () {
        jQuery('.chartContainer1-table').css("width", "70%");
        jQuery('.status-report-view-options').hide();
        jQuery('.canvasjs-chart-toolbar').hide();
        jQuery('.chartbelowhrline').css('margin-left', '0px');
        jQuery('.sticky-container').hide();

        var count = 0;
        $('.chartdiv').each(function (index, value) {
            if ($(this).css('display') == 'none') {

            }
            else {
                count++;

                if (count == 3) {
                    $(this).css("margin-top", "100px !important")
                }
            }
        });

        window.print();
        jQuery('.status-report-view-options').show();
        jQuery('.canvasjs-chart-toolbar').show();
        jQuery('.chartContainer1-table').css("width", "60%");
        jQuery('.chartbelowhrline').css('margin-left', '-70px');
        jQuery('.canvasjs-chart-toolbar').hide();
        jQuery('.sticky-container').show();
    });

    jQuery(".btn-status-report-view").click(function () {

        var formValidated = true;
        if (jQuery('#reportyear :selected').text() == "-- Select Year --") {
            jQuery('#reportyear').css("border", "1px solid red");
            jQuery('.invalid-feedback-reportyear').show();
            formValidated = false;
        }
        else {
            jQuery('#reportyear').css("border", "1px solid green");
            jQuery('.invalid-feedback-reportyear').hide();
        }

        if (jQuery('#reportmonth :selected').text() == "-- Select Month --") {
            jQuery('#reportmonth').css("border", "1px solid red");
            jQuery('.invalid-feedback-reportmonth').show();
            formValidated = false;
        }
        else {
            jQuery('#reportyear').css("border", "1px solid green");
            jQuery('.invalid-feedback-reportmonth').hide();
        }

        if (formValidated == true) {

            var statusChartModel = {
                ClientName: jQuery('#reportClient :selected').text(),
                ProjectID: jQuery('#reportClient :selected').val(),
                Year: jQuery('#reportyear :selected').val(),
                Month: jQuery('#reportmonth :selected').text(),
                MonthNumber: jQuery('#reportmonth :selected').val(),
                EmployeeID: jQuery('#selectEmployeename :selected').val(),
                EmployeeName: jQuery('#selectEmployeename :selected').text().trim(),
            };

            jQuery.ajax({
                url: "/StatusGraphChartReport",
                type: "POST",
                dataType: "html",
                data: { StatusReportChartModel: statusChartModel },
                success: function (data) {
                    jQuery('.btn-download-report').show();
                    $('#chartContainer').html(data);
                }
            });
        }
        else {
            return false;
        }
    });

    $("#reporttype").on("change", function () {
        jQuery.ajax({
            url: "/GetMonthsBasedOnYear",
            type: "POST",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ year: jQuery('#reportyear :selected').val(), reportType: jQuery('#reporttype :selected').val()}),
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                $('#reportmonth').empty();
                $('#reportmonth').append('<option disabled selected>-- Select Month --</option>');
                jQuery.each(obj, function (i, item) {
                    $('#reportmonth').append('<option value="' + item.Key + '">' + item.Value + '</option>');
                });
            }
        });
    });

    GetEmployees();
    function GetEmployees() {
        jQuery.ajax({
            url: "/GetEmployees",
            type: "POST",
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                jQuery.each(obj, function (i, item) {
                    $('#selectEmployeename').append('<option value="' + item.Employee_ID + '">' + item.Employee_Name + '</option>');
                });

                jQuery.each(obj, function (i, item) {
                    $('#selectReportEmployeename').append('<option value="' + item.Employee_ID + '">' + item.Employee_Name + '</option>');
                });

                var useRole = jQuery('.emprole').val();

                var empId = jQuery('.agent-navdrop-empid').text();
                $('#selectEmployeename  option[value=' + empId + ']').attr("selected", "selected");

                if (useRole == "consultant") {
                    $("#selectEmployeename").prop("disabled", true);
                }
                else {
                    $("#selectEmployeename").prop("disabled", false);
                }
            }
        });
    }

</script>
