@model ResourceManagement.Models.RMA_StatusReportViewModel

@{
    ViewBag.Title = "Status Report Page";
    var imagePath = "";
}

<style>
    span.circle {
        background: white;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        color: green;
        display: inline-block;
        font-weight: bold;
        line-height: 40px;
        margin-right: 5px;
        text-align: center;
        width: 160px;
        height: 160px;
        font-size: x-large;
        vertical-align: middle;
        border: 5px solid green;
        margin-left: 50px;
        margin-bottom: -130px;
    }

    .textstyle {
        position: absolute;
        margin-top: 50px;
        margin-left: -41px;
        font-size: xxx-large;
        font-weight: 100
    }

    .banner-image__circle {
        display: block !important;
        width: 350px !important;
        height: 250px !important;
        /*   border-radius: 50%;*/
        overflow: hidden !important;
        /*     margin-left: 80px;*/
        background-color: white !important;
        margin-top: 50px !important;
        border: 3px solid rgb(74, 172, 197) !important;
        position: relative;
    }

    .banner-img {
        margin-bottom: 0 !important;
        margin-left: 65px !important;
        margin-top: 0px !important;
        /* border-radius: 20%; */
        border-radius: 50% !important;
        border: 10px solid white !important;
    }

    .banner-decoration {
        /* position: fixed !important;*/
        bottom: 0 !important;
        left: 112px !important;
        z-index: 10 !important;
        height: 136px !important;
    }


    .banner-decoration__elements {
    }

    .banner-decoration__circle {
        display: block !important;
        width: 60px !important;
        height: 60px !important;
        overflow: hidden !important;
        border-radius: 50% !important;
        top: 85px !important;
        background-color: #23366f !important;
        position: relative;
        bottom: -147px !important;
        right: -30px !important;
        padding: 15px !important;
        box-sizing: inherit !important;
        margin-top: -231px;
        position: relative;
    }

    .banner-decoration__half-mask {
        display: block !important;
        top: 60px !important;
        left: 80px !important;
        width: 15px !important;
        height: 40px !important;
        overflow: hidden !important;
        -webkit-transform: rotate(45deg) !important;
        -ms-transform: rotate(45deg) !important;
        transform: rotate(45deg) !important;
        margin-top: -5px !important;
        position: relative;
    }

    .banner-decoration__half-mask__circle {
        display: block !important;
        width: 42px !important;
        height: 42px !important;
        overflow: hidden !important;
        border-radius: 50% !important;
        background-color: #2167ae !important;
        margin-bottom: 40px !important;
        padding: 15px !important;
    }

    .banner-decoration__mini-circle {
        display: block !important;
        top: -41px !important;
        right: -43px !important;
        width: 36px !important;
        height: 36px !important;
        overflow: hidden !important;
        border-radius: 50% !important;
        margin-bottom: 0 !important;
        background-color: #5495cf !important;
        position: relative;
    }

    .report-banner {
        background-color: rgb(74, 172, 197) !important;
        height: 250px !important;
        /*  border: 1px solid #91bfe3 !important*/
    }

    .banner-empname {
        text-align: center !important;
        font-weight: bold !important;
        color: #23366f !important;
        font-size: large !important;
        margin-left: -45px !important
    }

    .banner-content {
        margin-left: 430px !important;
        margin-top: -170px !important
    }

    #circle {
        background: rgb(81, 205, 160) !important;
        border-radius: 50% !important;
        width: 100px !important;
        height: 100px !important;
        margin-left: 340px !important;
        margin-top: -83px !important;
        border: 1px solid white !important
    }
</style>



<nav class="navbar navbar-expand-lg nav-bar-bg navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="/dashboard"><img src="~/Assets/AMBC_Logo.png" alt="Header Logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="time-headertitle" style="padding-left: 69px !important">
        <h2 class="text-uppercase text-white">Status Report</h2>

    </div>

    <div class="col-lg-offset-3">
        @if (Model != null)
        {
            imagePath = "/Assets/EmployeeImagesPNG/" + @Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Employee_ID + ".png";

            <div class="agent-navigation">
                <div class="">
                    <div class="dropdownheading text-white">
                        <div class="profile-img">
                            <img src="@imagePath" class="img-fluid rounded-circle" width="40" alt="Cinque Terre">
                        </div>
                        <p class="agent-full-name">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Employee_Name</p>
                    </div>

                    <div class="agent-description hide" style="">
                        <div class="agent-details">
                            <div class="agent-img">
                                <img alt="Bantle_Martin Bantle_625x313" src="@imagePath" data-imagehash="datazwpimghash" loading="lazy">

                            </div>

                            <div class="agent-fullname">
                                <b>@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Employee_Name</b>
                            </div>
                            <ul>
                                <li>
                                    <img src="~/Assets/Icons/id-card.png" width="30" /> <b>Emp ID:</b>
                                    <div class="agent-navdrop-empid emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Employee_ID</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/graphic-designer.png" width="20" /> &nbsp;&nbsp; <b>Designation:</b>
                                    <div class="agent-navdrop-empdesig emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Designation</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/hierarchical-structure.png" width="20" />&nbsp;&nbsp; <b>Reporting Manager:</b>
                                    <div class="agent-navdrop-empmanager emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Client_Report_Manager</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/phone.png" width="20" />&nbsp;&nbsp;<b>Contact Number:</b>
                                    <br />
                                    <a class="agent-navdrop-phone emp-data-nav" href="tel:07531 282590">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Contact_Number</a>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/woman.png" width="20" />&nbsp;&nbsp;<b>Client:</b>
                                    @if (Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo.Count > 1)
                                    {
                                        var clients = new List<string>
                                            ();
                                        foreach (var empProject in Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo)
                                        {
                                            clients.Add(empProject.Client);
                                        }
                                        var empClients = string.Join(", ", clients);
                                        <div class="agent-navdrop-client emp-data-nav">@empClients</div>

                                    }
                                    else
                                    {
                                        <div class="agent-navdrop-client emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Client</div>
                                    }


                                </li>
                                <li>
                                    <img src="~/Assets/Icons/project.png" width="20" />&nbsp;&nbsp;<b>Project:</b>
                                    @if (Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo.Count() > 1)
                                    {
                                        var projects = new List<string>
                                            ();
                                        foreach (var empProject in Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo)
                                        {
                                            var sameProjectExists = false;

                                            foreach (var project in projects)
                                            {
                                                if (project == empProject.Project_Name)
                                                {
                                                    sameProjectExists = true;
                                                }
                                            }

                                            if (!sameProjectExists)
                                            { projects.Add(empProject.Project_Name); }

                                        }
                                        var empProjects = string.Join(", ", projects);
                                        <div class="agent-navdrop-client emp-data-nav">@empProjects</div>

                                    }
                                    else
                                    {
                                        <div class="agent-navdrop-project emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Project_Name</div>
                                    }

                                </li>
                                <li>
                                    <img src="~/Assets/Icons/project-status.png" width="20" />&nbsp;&nbsp;<b>Project Status:</b>
                                    <div class="agent-navdrop-prostatus emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Project_Status</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/email.png" width="20" /> &nbsp;&nbsp;<b>E-Mail Address:</b>
                                    <div class="agent-navdrop-empemail emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.AMBC_Mail_Address</div>
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/location.png" width="20" /> &nbsp;&nbsp;<b>Location:</b>
                                    <div class="agent-navdrop-emplocation emp-data-nav">@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Location</div>
                                </li>
                            </ul>

                        </div>

                        <div class="modal-footer header-nav-modalfooter">
                            <a href="/logout"><img src="~/Assets/Icons/logout.png" width="30" />&nbsp;<b>Logout</b></a>
                        </div>
                    </div>


                </div>
            </div>

            <input type="hidden" class="emprole" value="@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Access_Role" />

        }

    </div>
</nav>


<div class="card card-body status-report-view-options" style="border-radius: 10px">
    <div class="card statusreport-card">
        <div class="card-body ">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reportCategory">Report Category</label>
                        <select id="reportCategory" name="reportCategory" class="form-control form-select form-select-lg mb-3 date-timesheet">
                            <option disabled selected>-- Select Category --</option>
                            <option value="KPAReport">KPA Report</option>
                            <option value="UploadedReports">Uploaded Reports</option>
                        </select>
                        <div class="invalid-feedback-reportCategory" style="color:red; display:none">
                            Please Select Category
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reportClient">Client</label>
                        <select id="reportClient" name="reportClient" class="form-control form-select form-select-lg mb-3 date-timesheet">
                            @if (@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Access_Role == "consultant")
                            {
                                foreach (var project in Model.RMA_StatusReportModel.RMA_EmployeeModel.projectInfo)
                                {
                                    <option value="@project.Project_Code">@project.Client</option>
                                }
                            }
                            else
                            {
                                <option value="--Select Client Name--">--Select Client Name--</option>
                                <option value="Littelfuse">Littelfuse</option>
                                <option value="Federal Signal">Federal Signal</option>
                                <option value="Modine">Modine</option>
                                <option value="AMBC">AMBC</option>
                            }

                        </select>

                        <div class="invalid-feedback-reportClient" style="color:red; display:none">
                            Please Select Client
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group selectemp-div">
                        <label for="reportemployeename">Employee Name<b style="color:red">*</b></label>
                        @{
                            var multipleAllow = "";
                        }
                        @if (@Model.RMA_StatusReportModel.RMA_EmployeeModel.AMBC_Active_Emp_view.Access_Role != "consultant")
                        {
                            multipleAllow = "multiple";
                        }

                        <select id="selectEmployeename" name="reportemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white" @multipleAllow>
                            @if (multipleAllow == "")
                            {
                                <option disabled selected>-- Select Employee Name --</option>
                            }
                        </select>
                        <div class="invalid-feedback-reportemployeename" style="color:red; display:none">
                            Please Select Year
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reportyear" class="">Year<b style="color:red">*</b></label>
                        <select id="reportyear" name="reportyear" class="form-control form-select form-select-lg mb-3">
                            <option disabled selected>-- Select Year --</option>
                            <option value="@System.DateTime.Now.Year.ToString()">@System.DateTime.Now.Year.ToString()</option>
                            <option value="@System.DateTime.Now.AddYears(-1).Year">@System.DateTime.Now.AddYears(-1).Year</option>
                        </select>
                        <div class="invalid-feedback-reportyear" style="color:red; display:none">
                            Please Select Year
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reporttype" class="leavestartdate">Report Type<b style="color:red">*</b></label>
                        <select id="reporttype" name="reporttype" class="form-control form-select form-select-lg mb-3">
                            <option disabled selected>-- Select Type --</option>
                            <option value="Month Report">Month Report</option>
                            <option value="Quarterly Report">Quarter Report</option>
                            <option value="Half Year Report">Half Year Report</option>
                            <option value="Annual Report">Annual Report</option>
                        </select>
                        <div class="invalid-feedback-reporttype" style="color:red; display:none">
                            Please Select Type
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="reportmonth" class="leavestartdate">Period<b style="color:red">*</b></label>
                        <select id="reportmonth" name="reportmonth" class="form-control form-select form-select-lg mb-3">
                            <option disabled selected>-- Select Month --</option>
                        </select>
                        <div class="invalid-feedback-reportmonth" style="color:red; display:none">
                            Please Select Period
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 reporttemplatetyep" style="display: none">
                    <div class="form-group">
                        <label for="uploadreporttype">Report Template Type: <b style="color:red">*</b></label>
                        <select id="statusreportupload" name="uploadreporttype" class="form-control form-select form-select-lg mb-3" required aria-describedby="statusreportuploadhelp">
                            <option value="-- Select Template --" selected disabled>-- Select Template --</option>
                            <option value="Template1">Incident Report</option>
                            <option value="Template2">Project Report</option>
                            <option value="Template3">Test Report</option>
                        </select>
                        @*<div id="statusreportuploadhelp" class="form-text" style="color:blueviolet !important"><b>This field is required to download the uploaded reports from database (The one which you uploaded).</b></div>*@
                        <div class="invalid-feedback-statusreportupload" style="color:red; display:none">
                            Please Select Template
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-status-uploaded-view" style="width: 150px; border-radius: 10px; float: right; /* margin-left: 34px !important; */ margin-right: 890px !important; background-color: #005983 !important; position: absolute; "><b>View Uploaded Report</b></button>
                @using (Html.BeginForm("ExportStatusReports", "Home", FormMethod.Post))
                {

                    <input type="hidden" name="GridHtml" />

                    <div class="form-group col-lg-4" style="margin-left:10px">
                        <div class="btn-group">
                            <input type="submit" class="btn btn-success btn-lg text-white btn-status-report-generate" id="btnExcelSubmit" value="Excel Report" style="border-radius:15px" />
                        </div>
                    </div>
                }
                <button type="submit" class="btn btn-info btn-lg btn-status-report-view" style="width:100px; border-radius:10px"><b>View Report</b></button>
                <button type="button" class="btn btn-success btn-lg btn-download-report" style="border-radius:10px; display: none">Download Report</button>
            </div>
        </div>
    </div>
</div>

<div id="chartContainer" style="background-color: white;" class="mt-xl-4"></div>
@{
    Html.RenderPartial("_ModalAlerts");
}

<br />
<br />

<script>

    jQuery('#reportClient').change(function (evt) {
        jQuery('#selectEmployeename').empty();
        GetEmployees(jQuery(this).val());
    });

    jQuery('#reportCategory').change(function (evt) {
        jQuery('#reportCategory').css("border", "1px solid green");
        jQuery('.invalid-feedback-reportCategory').hide();

        if (jQuery('#reportCategory :selected').val() == "UploadedReports") {
            jQuery('.reporttemplatetyep').css("display", "block");
        }
        else {
            jQuery('.reporttemplatetyep').css("display", "none");
        }
    });


    jQuery(".btn-status-report-generate").on("click", function () {
        var statusChartModel = {
            ClientName: jQuery('#reportClient :selected').text(),
            ProjectID: jQuery('#reportClient :selected').val(),
            Year: jQuery('#reportyear :selected').val(),
            Month: jQuery('#reportmonth :selected').val(),
            ReportType: jQuery('#reporttype :selected').val(),
            EmployeeID: jQuery('#selectEmployeename :selected').val(),
            EmployeeName: jQuery('#selectEmployeename :selected').text().trim(),
            TemplateType: jQuery('#statusreportupload :selected').text().trim(),
            TemplateNumber: jQuery('#statusreportupload :selected').val().trim(),
        };

        var GridHtml = JSON.stringify(statusChartModel).toString();
        $("input[name='GridHtml']").val(GridHtml);

    });

    jQuery('#reportyear').change(function (evt) {
        jQuery("#reporttype").prop("selectedIndex", 0);
        jQuery("#reportmonth").prop("selectedIndex", 0);
        jQuery('#reportyear').css("border", "1px solid green");
        jQuery('.invalid-feedback-reportyear').hide();

        //INSTEAD OF MAKING AJAX CALL MAKING EMPTY FIRST THEN ADDING DEFAULT SELECT OPTION TO DROPDOWN
        jQuery('#reportmonth').empty();
        $('#reportmonth').append('<option disabled selected>-- Select Month--</option>');

    });

    jQuery('#reportmonth').change(function (evt) {
        jQuery('#reportmonth').css("border", "1px solid green");
        jQuery('.invalid-feedback-reportmonth').hide();

    });

    jQuery('#statusreportupload').change(function (evt) {
        jQuery('#statusreportupload').css("border", "1px solid green");
        jQuery('.invalid-feedback-statusreportupload').hide();

    });

    jQuery('.btn-download-report').click(function () {
        /*   jQuery('.chartContainer1-table').css("width", "70%");*/
        jQuery('.status-report-view-options').hide();
        jQuery('.canvasjs-chart-toolbar').hide();
        jQuery('.chartbelowhrline').css('margin-left', '0px');
        jQuery('.sticky-container').hide();
        jQuery('.chartimagediv').css('margin-left', '100px');
        jQuery('.chartimagedivmultiple').css('margin-left', '10px');
        jQuery('.chartparah').css('margin-left', '685px');
        jQuery('.chartparah3').css('margin-left', '715px');
        jQuery('.employeeinfohr').css("width", "90%");

        window.print();
        jQuery('.status-report-view-options').show();
        jQuery('.canvasjs-chart-toolbar').show();
        /*   jQuery('.chartContainer1-table').css("width", "60%");*/
        jQuery('.chartbelowhrline').css('margin-left', '-70px');
        jQuery('.canvasjs-chart-toolbar').hide();
        jQuery('.sticky-container').show();
        jQuery('.chartparah').css('margin-left', '735px !important');
        jQuery('.chartparah3').css('margin-left', '762px !important');
        jQuery('.employeeinfohr').css("width", "75% !important");
    });

    function ReportFormValidate() {
        var formValidated = true;
        if (jQuery('#reportyear :selected').text() == "-- Select Year --") {
            jQuery('#reportyear').css("border", "1px solid red");
            jQuery('.invalid-feedback-reportyear').show();
            formValidated = false;
        }
        else {
            jQuery('#reportyear').css("border", "1px solid green");
            jQuery('.invalid-feedback-reportyear').hide();
        }

        if (jQuery('#reportmonth :selected').text() == "-- Select Month --") {
            jQuery('#reportmonth').css("border", "1px solid red");
            jQuery('.invalid-feedback-reportmonth').show();
            formValidated = false;
        }
        else {
            jQuery('#reportmonth').css("border", "1px solid green");
            jQuery('.invalid-feedback-reportmonth').hide();
        }

        if (jQuery('#reporttype :selected').text() == "-- Select Type --") {
            jQuery('#reporttype').css("border", "1px solid red");
            jQuery('.invalid-feedback-reporttype').show();
            formValidated = false;
        }
        else {
            jQuery('#reporttype').css("border", "1px solid green");
            jQuery('.invalid-feedback-reporttype').hide();
        }

        if (jQuery('#reportCategory :selected').text() == "-- Select Category --") {
            jQuery('#reportCategory').css("border", "1px solid red");
            jQuery('.invalid-feedback-reportCategory').show();
            formValidated = false;
        }
        else {
            jQuery('#reportCategory').css("border", "1px solid green");
            jQuery('.invalid-feedback-reportCategory').hide();
        }

        if (jQuery('#reportClient :selected').text() == "--Select Client Name--") {
            jQuery('#reportClient').css("border", "1px solid red");
            jQuery('.invalid-feedback-reportClient').show();
            formValidated = false;
        }
        else {
            jQuery('#reportClient').css("border", "1px solid green");
            jQuery('.invalid-feedback-reportClient').hide();
        }

        if (jQuery('#selectEmployeename').val() == "") {
            jQuery('#selectEmployeename').css("border", "1px solid red");
            jQuery('.invalid-feedback-selectEmployeename').show();
            formValidated = false;
        }
        else {
            jQuery('#selectEmployeename').css("border", "1px solid green");
            jQuery('.invalid-feedback-selectEmployeename').hide();
        }

        return formValidated;
    }

    jQuery(".btn-status-report-view").click(function () {
        var formValidated = ReportFormValidate();
        if (formValidated == true) {
            var statusChartModel = {
                ClientName: jQuery('#reportClient :selected').text(),
                ProjectID: jQuery('#reportClient :selected').val(),
                Year: jQuery('#reportyear :selected').val(),
                Month: jQuery('#reportmonth :selected').val(),
                ReportType: jQuery('#reporttype :selected').val(),
                EmployeeID: jQuery('#selectEmployeename').val(),
                EmployeeName: jQuery('#selectEmployeename').text().trim(),
            };

            jQuery.ajax({
                url: "/StatusGraphChartReport",
                type: "POST",
                dataType: "html",
                data: { StatusReportChartModel: statusChartModel },
                success: function (data) {
                    jQuery('.btn-download-report').show();
                    $('#chartContainer').html(data);
                }
            });
        }
        else {
            return false;
        }
    });

    jQuery(".btn-status-uploaded-view").click(function () {
        var formValidated = ReportFormValidate();

        if (jQuery('#statusreportupload :selected').text() == "-- Select Template --") {
            jQuery('#statusreportupload').css("border", "1px solid red");
            jQuery('.invalid-feedback-statusreportupload').show();
            formValidated = false;
        }
        else {
            jQuery('#statusreportupload').css("border", "1px solid green");
            jQuery('.invalid-feedback-statusreportupload').hide();
        }

        if (formValidated == true) {
            var statusChartModel = {
                ClientName: jQuery('#reportClient :selected').text(),
                ProjectID: jQuery('#reportClient :selected').val(),
                Year: jQuery('#reportyear :selected').val(),
                Month: jQuery('#reportmonth :selected').val(),
                ReportType: jQuery('#reporttype :selected').val(),
                EmployeeID: jQuery('#selectEmployeename').val(),
                EmployeeName: jQuery('#selectEmployeename').text().trim(),
                TemplateType: jQuery('#statusreportupload :selected').text().trim(),
                TemplateNumber: jQuery('#statusreportupload :selected').val().trim(),
            };

            jQuery.ajax({
                url: "/UploadedStatusReportView",
                type: "POST",
                dataType: "html",
                data: { StatusReportChartModel: statusChartModel },
                success: function (data) {
                    jQuery('.btn-download-report').show();
                    $('#chartContainer').html(data);
                }
            });
        }
        else {
            return false;
        }
    });

    $("#reporttype").on("change", function () {
        jQuery('#reporttype').css("border", "1px solid green");
        jQuery('.invalid-feedback-reporttype').hide();

        jQuery.ajax({
            url: "/GetMonthsBasedOnYear",
            type: "POST",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ year: jQuery('#reportyear :selected').val(), reportType: jQuery('#reporttype :selected').val() }),
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                $('#reportmonth').empty();
                $('#reportmonth').append('<option disabled selected>-- Select Month --</option>');
                jQuery.each(obj, function (i, item) {
                    $('#reportmonth').append('<option value="' + item.Key + '">' + item.Value + '</option>');
                });
            }
        });
    });

    GetEmployees();
    function GetEmployees(type) {
        jQuery.ajax({
            url: "/GetEmployees",
            type: "POST",
            success: function (data) {
                var obj = jQuery.parseJSON(data);

                if (type != undefined && type != "") {
                    obj = obj.filter(v => v.Client === type);
                }

                jQuery.each(obj, function (i, item) {
                    $('#selectEmployeename').append('<option value="' + item.Employee_ID + '">' + item.Employee_Name + '</option>');
                });

                jQuery.each(obj, function (i, item) {
                    $('#selectReportEmployeename').append('<option value="' + item.Employee_ID + '">' + item.Employee_Name + '</option>');
                });

                var useRole = jQuery('.emprole').val();

                if (type == undefined || type == "") {
                    var empId = jQuery('.agent-navdrop-empid').text();
                    $('#selectEmployeename  option[value=' + empId + ']').attr("selected", "selected");
                }

                if (useRole == "consultant") {
                    $("#selectEmployeename").prop("disabled", true);
                }
                else {
                    $("#selectEmployeename").prop("disabled", false);
                }
            }
        });
    }

</script>
