@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "TimeSheet Page";
}

<nav class="navbar navbar-expand-lg nav-bar-bg navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#"><img src="~/Assets/AMBC_Logo.png" alt="Header Logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="time-headertitle" style="">
        <h2 class="text-uppercase text-white">Employee Time Sheet</h2>

    </div>

    <div class="col-lg-offset-3">
        @if (Model != null)
        {
            <div class="agent-navigation">
                <div class="">
                    <div class="dropdownheading text-white">
                        <div class="profile-img">
                            <img src="~/Assets/Rajender_Passport_Photo.jpg" class="img-fluid rounded-circle" width="40" alt="Cinque Terre">
                        </div>
                        <p class="agent-full-name">@Model.AMBC_Active_Emp_view.Employee_Name</p>
                    </div>

                    <div class="agent-description hide" style="">
                        <div class="agent-details">
                            <div class="agent-img">
                                <img alt="Bantle_Martin Bantle_625x313" src="~/Assets/Rajender_Passport_Photo.jpg" data-imagehash="datazwpimghash" loading="lazy">

                            </div>

                            <div class="agent-fullname">
                                <b>@Model.AMBC_Active_Emp_view.Employee_Name</b>
                            </div>


                            <ul>
                                <li>
                                    <b>Emp ID:</b>
                                    <div class="agent-navdrop-empid">@Model.AMBC_Active_Emp_view.Employee_ID</div>

                                </li>

                                <li>
                                    <b>Designation:</b>
                                    <div class="agent-navdrop-empdesig">@Model.AMBC_Active_Emp_view.Designation</div>

                                </li>

                                <li>
                                    <b>Supervisor:</b>
                                    <div class="agent-navdrop-empmanager">@Model.AMBC_Active_Emp_view.Client_Report_Manager</div>

                                </li>

                                <li>
                                    <b>Contact Number:</b>
                                    <br />
                                    <a class="agent-navdrop-phone" href="tel:07531 282590">@Model.AMBC_Active_Emp_view.Contact_Number</a>
                                </li>

                                <li>
                                    <b>Client:</b>
                                    <div class="agent-navdrop-client">@Model.AMBC_Active_Emp_view.Client</div>
                                </li>

                                <li>
                                    <b>Project:</b>
                                    <div class="agent-navdrop-project">@Model.AMBC_Active_Emp_view.Project_Name</div>
                                </li>
                                <li>
                                    <b>Project Status:</b>
                                    <div class="agent-navdrop-prostatus">@Model.AMBC_Active_Emp_view.Project_Status</div>
                                </li>

                                <li>
                                    <b>E-Mail Address:</b>
                                    @*<div class="agent-navdrop-empemail">@Model.AMBC_Active_Emp_view.employee_mailid</div>*@
                                </li>

                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        }

    </div>
</nav>



<form class="needs-validation-timesheet" novalidate>
    <div class="form-group">
        <label for="timeSheetStartWeekdate">Select Week Start Date</label>
        <input type="date" class="form-control date-timesheet" id="timeSheetStartWeekdate" required max="2022-12-03">
        <div class="invalid-feedback">
            Please Select Week Start Date
        </div>
    </div>

    <div class="form-group">
        <label for="timeSheetEndWeekdate">week End date</label>
        <input type="date" class="form-control date-timesheet" id="timeSheetEndWeekdate" disabled>
        <input type="hidden" id="weekNumber" />
    </div>

    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-custom openmodel btn-lg text-white add-task-details" data-target="#exampleModalLong">
                Click here to add task details
            </button>&nbsp;&nbsp;
        </div>
        <div class="col-md-9">
            <div class="database-response"></div>
        </div>
    </div>
    <div class="leave-or-holiday-info hide">@Model.leaveOrHolidayInfo</div>
</form>


<div class="table-responsive table">
    <!--Table-->
    <table class="table table-striped">

        <!--Table head-->
        <thead class="table-bordered">
            <tr>
                <th class="time-header" scope="col">Date</th>&nbsp;&nbsp;
                <th class="time-header" scope="col">Category</th>
                <th class="time-header" scope="col">Incident Number</th>
                <th class="time-header" scope="col">Incident Desc</th>
                <th class="time-header" scope="col">Requester</th>
                <th class="time-header" scope="col">Urgency</th>
                <th class="time-header" scope="col">Status</th>
                <th class="time-header" scope="col">Date Closed</th>
                <th class="time-header" scope="col">Time Spent</th>
                <th class="time-header" scope="col">Comments</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody class="table-bordered timesheet-table-grid">
            <tr class="default-table-row ">
                <td scope="row">Ex: @System.DateTime.Now.ToString("dd/MM/yyyy")</td>
                <td scope="row">Ex: Enter Category</td>
                <td scope="row">Ex: 1234, 5678</td>
                <td scope="row">Ex: Enter details</td>
                <td scope="row">Ex: Requester Name</td>
                <td scope="row">Ex: Critical </td>
                <td scope="row">Ex: In Progress</td>
                <td scope="row">Ex: @System.DateTime.Now.ToString("dd/MM/yyyy")</td>
                <td scope="row">Ex: 5</td>
                <td scope="row">Ex:Enter Comments</td>
            </tr>
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</div>

<!-- Button trigger modal -->

<div class="col-lg-offset-0" style="float:right">
    <button type="button" class="btn btn-info btn-lg timesheet-submit">
        Submit Time Sheet
    </button>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header custom-model-header">
                <h5 class="modal-title" id="exampleModalLabel"><b style="color: #0095a8">Time Sheet Form</b></h5>
                <button type="button" class="close timesheet-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="timeSheetdate">Date</label>
                                <input type="date" class="form-control" id="timeSheetdate" required>
                                <div class="invalid-feedback">
                                    Please enter task date
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="timeSheetCategory">Category</label>
                                <select id="timeSheetCategory" name="categories" class="form-control form-select form-select-lg mb-3">
                                    <option value="volvo">Category 1</option>
                                    <option value="saab">Category  2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="timeSheetIncNumber" id="inputGroupPrepend">Incident Number</label>
                                <textarea class="form-control" id="timeSheetIncNumber" style="min-width: 100%" placeholder="Incident Number" required></textarea>
                                <div class="invalid-feedback">
                                    Please enter Incident Number(s)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="timeSheetIncDesc" id="inputGroupPrepend">Incident Description</label>
                                <textarea class="form-control" id="timeSheetIncDesc" style="min-width: 100%" placeholder="Incident Description" required></textarea>
                                <div class="invalid-feedback">
                                    Please enter Incident Description
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetRequester">Requester</label>
                                <input type="text" class="form-control" id="timeSheetRequester" aria-describedby="emailHelp" placeholder="Requester">
                                <div class="invalid-feedback">
                                    Please enter requester
                                </div>
                                <small id="emailHelp" class="form-text text-muted">Requester help text.</small>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetUrgency">Priority</label>

                                <select id="timeSheetUrgency" name="urgency" class="form-control form-select form-select-lg mb-3">
                                    <option value="critical"> Critical </option>
                                    <option value="high"> High </option>
                                    <option value="medium"> Medium </option>
                                    <option value="low"> Low </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetStatus">Status</label>

                                <select id="timeSheetStatus" name="status" class="form-control form-select form-select-lg mb-3">
                                    <option value="open"> Open </option>
                                    <option value="closed"> Closed </option>
                                    <option value="inprogress"> In Progress </option>
                                    <option value="ongoing"> On Going </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetClosedDate">Closed Date</label>
                                <input type="date" class="form-control" id="timeSheetClosedDate" placeholder="Closed Date">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetTimeSpent">Time Spent</label>
                                <input type="number" class="form-control" id="timeSheetTimeSpent" placeholder="Time Spent" min="1" max="12" onkeydown="return event.keyCode !== 69" required>
                                <div class="invalid-feedback">
                                    Please enter Time spent hours between 1 to 12
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="timeSheetComments">Comments</label>
                                <textarea class="form-control" id="timeSheetComments" style="min-width: 100%" placeholder="Comments"></textarea>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-xl-4">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary timesheet-addreport">Add Report</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<script>

    var timeSheetList = new Array();

    function TimeSheetTemplate(rowDisable) {
        var isEntryDisbaled = "";
        if (rowDisable != undefined && rowDisable == true) {
            isEntryDisbaled = "row-disabled";
        }
        return '<tr class="user-added-timesheet ' + isEntryDisbaled +'"><td class="timesheet-date"></td>'
            + '<td class="timesheet-category" ></td >'
            + '<td class="timesheet-incidentnum" ></td >'
            + '<td class="timesheet-incidentdes" ></td >'
            + '<td class="timesheet-requester" ></td >'
            + '<td class="timesheet-urgency" ></td >'
            + '<td class="timesheet-status" ></td >'
            + '<td class="timesheet-closeddate" ></td >'
            + '<td class="timesheet-timespent" ></td >'
            + '<td class="timesheet-comments" ></td >'
            + '</tr>'
    }

    function InputTimeSheetdates(selectedWeekStartDate, empInputDates) {
        for (var i = 0; i < 7; i++) {
            empInputDates.push(moment(selectedWeekStartDate.addDays(i)).format("YYYY-MM-DD"));
        }
    }


    //Employee Leave or holiday data from database
    var empLeaveAndHolidays = new Array();

    if (jQuery('.leave-or-holiday-info').text() != undefined && jQuery('.leave-or-holiday-info').text() != "") {
        empLeaveAndHolidays = jQuery.parseJSON(jQuery('.leave-or-holiday-info').text());
    }


    jQuery(document).ready(function () {

        Date.prototype.startOfWeek = function (pStartOfWeek) {
            var mDifference = this.getDay() - pStartOfWeek;
            if (mDifference < 0) {
                mDifference += 7;
            }
            return new Date(this.addDays(mDifference * -1));
        }

        Date.prototype.addDays = function (pDays) {
            var mDate = new Date(this.valueOf());
            mDate.setDate(mDate.getDate() + pDays);
            return mDate;
        };

        jQuery('.date-timesheet').change(function () {
            timeSheetList = new Array();
            //On Date change removing all the selected sheets previosuly if any
            $('.user-added-timesheet').empty();
            jQuery('.default-table-row').show();

            var date = jQuery(this).val();

            var startOfWeek = moment(new Date(date)).startOf('week').toDate();
            var endOfWeek = moment(new Date(date)).endOf('week').toDate();

            var StartWeekdate = new Date(startOfWeek.addDays(1));
            var endWeekDate = new Date(endOfWeek.addDays(1));

            var startDate = moment(StartWeekdate).format("YYYY-MM-DD");
            jQuery('#timeSheetStartWeekdate').val(startDate);

            var endDate = moment(endWeekDate).format("YYYY-MM-DD");
            jQuery('#timeSheetEndWeekdate').val(endDate);

            var weekNum = moment(startDate).week();

            var empInputDates = new Array();

            InputTimeSheetdates(StartWeekdate, empInputDates);

            jQuery.each(empLeaveAndHolidays, function (i, item) {
                var leaveOrHolidayDate = item.LeaveOrHolidayDate;

                jQuery.each(empInputDates, function (key, value) {
                    if (value == leaveOrHolidayDate) {
                        var model = {
                            weekstartdate: startDate,
                            weekenddate: endDate,
                            weekno: weekNum,
                            employeeid: jQuery('.agent-navdrop-empid').text(),
                            employeename: jQuery('.agent-full-name').text(),
                            empdesignation: jQuery('.agent-navdrop-empdesig').text(),
                            empmanager: jQuery('.agent-navdrop-empmanager').text(),
                            empcontactnumber: jQuery('.agent-navdrop-phone').text(),
                            clientname: jQuery('.agent-navdrop-client').text(),
                            projectname: jQuery('.agent-navdrop-project').text(),
                            projstatus: jQuery('.agent-navdrop-prostatus').text(),
                            taskdate: value,
                            category: "NA",
                            incidentnumber: "NA",
                            taskdetails: "NA",
                            requester: "NA",
                            callpriority: "NA",
                            callstatus: "NA",
                            closeddate: "",
                            timespent: "0",
                            comments: item.Reason,
                            uniquekey: jQuery('#timeSheetdate').val() + "_" + jQuery('#timeSheetIncNumber').val() + "_" + jQuery('#timeSheetTimeSpent').val()
                        };

                        jQuery('.default-table-row').hide();

                        var dynamicTemplate = TimeSheetTemplate(true);

                        var newRow = jQuery(dynamicTemplate);

                        jQuery(newRow).find('.timesheet-date').html(model.taskdate);
                        jQuery(newRow).find('.timesheet-category').html(model.category);
                        jQuery(newRow).find('.timesheet-incidentnum').html(model.incidentnumber);
                        jQuery(newRow).find('.timesheet-incidentdes').html(model.taskdetails);
                        jQuery(newRow).find('.timesheet-requester').html(model.requester);
                        jQuery(newRow).find('.timesheet-urgency').html(model.callpriority);
                        jQuery(newRow).find('.timesheet-status').html(model.callstatus);
                        jQuery(newRow).find('.timesheet-closeddate').html(model.closeddate);
                        jQuery(newRow).find('.timesheet-timespent').html(model.timespent);
                        jQuery(newRow).find('.timesheet-comments').html(model.comments);
                     
                        jQuery(".timesheet-table-grid").append(jQuery(newRow));
                    }
                });
            });

        });
    });


    


    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                });
            });
        });
    })();


    jQuery(".add-task-details").click(function () {
        jQuery('.needs-validation').removeClass('was-validated');
        var isStartDateEntered = true;
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation-timesheet');
        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                isStartDateEntered = false;
            }
            form.classList.add('was-validated');

            if (isStartDateEntered) {

                var minDate = jQuery('#timeSheetStartWeekdate').val();
                minDate = new Date(minDate);
                minDate = moment(minDate).format("YYYY-MM-DD");

                var maxDate = jQuery('#timeSheetEndWeekdate').val();
                maxDate = new Date(maxDate);
                maxDate = moment(maxDate).format("YYYY-MM-DD");

                var timeSheetWeekInputModel = {
                    EmpId: jQuery('.agent-navdrop-empid').text(),
                    StartDate: jQuery('#timeSheetStartWeekdate').val(),
                    EndDate: jQuery('#timeSheetEndWeekdate').val(),
                };

                jQuery('#timeSheetdate').attr("min", minDate);
                jQuery('#timeSheetdate').attr("max", maxDate);

                jQuery('#timeSheetdate').val(minDate);

                var weekNum = moment(minDate).week();
                jQuery('#weekNumber').val(weekNum);

                $('#exampleModalLong').modal('show');
            }
        });
    });


    jQuery(".timesheet-addreport").click(function () {
        var isModalValidated = true;
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                isModalValidated = false;
            }

            form.classList.add('was-validated');
        });

        if (isModalValidated) {
            var model = {
                weekstartdate: jQuery('#timeSheetStartWeekdate').val(),
                weekenddate: jQuery('#timeSheetEndWeekdate').val(),
                weekno: jQuery('#weekNumber').val(),
                employeeid: jQuery('.agent-navdrop-empid').text(),
                employeename: jQuery('.agent-full-name').text(),
                empdesignation: jQuery('.agent-navdrop-empdesig').text(),
                empmanager: jQuery('.agent-navdrop-empmanager').text(),
                empcontactnumber: jQuery('.agent-navdrop-phone').text(),
                clientname: jQuery('.agent-navdrop-client').text(),
                projectname: jQuery('.agent-navdrop-project').text(),
                projstatus: jQuery('.agent-navdrop-prostatus').text(),
                taskdate: jQuery('#timeSheetdate').val(),
                category: $('#timeSheetCategory :selected').text(),
                incidentnumber: jQuery('#timeSheetIncNumber').val(),
                taskdetails: jQuery('#timeSheetIncDesc').val(),
                requester: jQuery('#timeSheetRequester').val(),
                callpriority: $('#timeSheetUrgency :selected').text(),
                callstatus: $('#timeSheetStatus :selected').text(),
                closeddate: jQuery('#timeSheetClosedDate').val(),
                timespent: jQuery('#timeSheetTimeSpent').val(),
                comments: jQuery('#timeSheetComments').val(),
                uniquekey: jQuery('#timeSheetdate').val() + "_" + jQuery('#timeSheetIncNumber').val() + "_" + jQuery('#timeSheetTimeSpent').val()
            };

            timeSheetList.push(model);

            var dynamicTemplate = TimeSheetTemplate(true);

            var newRow = jQuery(dynamicTemplate);

         /*   var newRow = jQuery(template);*/
            jQuery(newRow).find('.timesheet-date').html(model.taskdate);
            jQuery(newRow).find('.timesheet-category').html(model.category);
            jQuery(newRow).find('.timesheet-incidentnum').html(model.incidentnumber);
            jQuery(newRow).find('.timesheet-incidentdes').html(model.taskdetails);
            jQuery(newRow).find('.timesheet-requester').html(model.requester);
            jQuery(newRow).find('.timesheet-urgency').html(model.callpriority);
            jQuery(newRow).find('.timesheet-status').html(model.callstatus);
            jQuery(newRow).find('.timesheet-closeddate').html(model.closeddate);
            jQuery(newRow).find('.timesheet-timespent').html(model.timespent);
            jQuery(newRow).find('.timesheet-comments').html(model.comments);


            jQuery('.default-table-row').hide();
            jQuery(".timesheet-table-grid").append(jQuery(newRow))
            jQuery('.modal').modal('hide');

            jQuery('#timeSheetdate').val('');
            $("#timeSheetCategory option:first").attr('selected', 'selected');
            jQuery('#timeSheetIncNumber').val('');
            jQuery('#timeSheetIncDesc').val('');
            jQuery('#timeSheetRequester').val('');
            $("#timeSheetUrgency option:first").attr('selected', 'selected');
            $("#timeSheetStatus option:first").attr('selected', 'selected');
            jQuery('#timeSheetClosedDate').val('');
            jQuery('#timeSheetTimeSpent').val('');
            jQuery('#timeSheetComments').val('');


            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Current week chart report"
                },
                subtitles: [
                    { text: "Try Resizing the Browser" }
                ],
                data: [
                    {
                        type: "column", //change type to bar, line, area, pie, etc
                        dataPoints: [
                            { x: Monday, y: 71 },
                            { x: Tuesday, y: 55 },
                            { x: Wednesday, y: 50 },
                            { x: Thursday, y: 65 },
                            { x: Friday, y: 95 },
                            { x: Saturday, y: 68 },
                            { x: Sunday, y: 28 }
                        ]
                    }
                ]
            });
            chart.render();
        }
    });


    jQuery(".timesheet-submit").click(function () {
        jQuery.ajax({
            type: "POST",
            url: "/AddTimeSheet",
            data: JSON.stringify({ timesheetmodel: timeSheetList }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data.StatusCode == 200) {
                    jQuery('.database-response').addClass('text-success')
                }
                else {
                    jQuery('.database-response').addClass('text-danger')
                }
                jQuery('.database-response').text(data.Message);
            }
        });
    });

</script>

