@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "TimeSheet Page";
}

<nav class="navbar navbar-expand-lg nav-bar-bg navbar-inverse navbar-fixed-top">
    <a class="navbar-brand" href="#"><img src="~/Assets/AMBC_Logo.png" alt="Header Logo" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="time-headertitle" style="">
        <h2 class="text-uppercase text-white">Employee Time Sheet</h2>

    </div>

    <div class="col-lg-offset-3">
        @if (Model != null)
        {
            <div class="agent-navigation">
                <div class="">
                    <div class="dropdownheading text-white">
                        <div class="profile-img">
                            <img src="~/Assets/Rajender_Passport_Photo.jpg" class="img-fluid rounded-circle" width="40" alt="Cinque Terre">
                        </div>
                        <p class="agent-full-name">@Model.AMBC_Active_Emp_view.Employee_Name</p>
                    </div>

                    <div class="agent-description hide" style="">
                        <div class="agent-details">
                            <div class="agent-img">
                                <img alt="Bantle_Martin Bantle_625x313" src="~/Assets/Rajender_Passport_Photo.jpg" data-imagehash="datazwpimghash" loading="lazy">

                            </div>

                            <div class="agent-fullname">
                                <b>@Model.AMBC_Active_Emp_view.Employee_Name</b>
                            </div>


                            <ul>
                                <li>

                                    <img src="~/Assets/Icons/id-card.png" width="30" /> <b>Emp ID:</b>
                                    <div class="agent-navdrop-empid">@Model.AMBC_Active_Emp_view.Employee_ID</div>

                                </li>

                                <li>

                                    <img src="~/Assets/Icons/graphic-designer.png" width="20" /> &nbsp;&nbsp; <b>Designation:</b>
                                    <div class="agent-navdrop-empdesig">@Model.AMBC_Active_Emp_view.Designation</div>

                                </li>

                                <li>

                                    <img src="~/Assets/Icons/hierarchical-structure.png" width="20" />&nbsp;&nbsp; <b>Supervisor:</b>
                                    <div class="agent-navdrop-empmanager">@Model.AMBC_Active_Emp_view.Client_Report_Manager</div>

                                </li>

                                <li>

                                    <img src="~/Assets/Icons/phone.png" width="20" />&nbsp;&nbsp;<b>Contact Number:</b>
                                    <br />
                                    <a class="agent-navdrop-phone" href="tel:07531 282590">@Model.AMBC_Active_Emp_view.Contact_Number</a>
                                </li>

                                <li>

                                    <img src="~/Assets/Icons/woman.png" width="20" />&nbsp;&nbsp;<b>Client:</b>
                                    <div class="agent-navdrop-client">@Model.AMBC_Active_Emp_view.Client</div>
                                </li>

                                <li>

                                    <img src="~/Assets/Icons/project.png" width="20" />&nbsp;&nbsp;<b>Project:</b>
                                    <div class="agent-navdrop-project">@Model.AMBC_Active_Emp_view.Project_Name</div>
                                </li>
                                <li>

                                    <img src="~/Assets/Icons/project-status.png" width="20" />&nbsp;&nbsp;<b>Project Status:</b>
                                    <div class="agent-navdrop-prostatus">@Model.AMBC_Active_Emp_view.Project_Status</div>
                                </li>

                                <li>

                                    <img src="~/Assets/Icons/email.png" width="20" /> &nbsp;&nbsp;<b>E-Mail Address:</b>
                                    @*<div class="agent-navdrop-empemail">@Model.AMBC_Active_Emp_view.employee_mailid</div>*@
                                </li>
                                <li>
                                    <img src="~/Assets/Icons/location.png" width="20" /> &nbsp;&nbsp;<b>Location:</b>
                                    <div class="agent-navdrop-emplocation"></div>
                                </li>

                            </ul>

                        </div>

                    </div>
                </div>
            </div>
        }

    </div>
</nav>


<div class="card timesheet-card">
    <div class="card-body ">

        <form class="needs-validation-timesheet" novalidate>
            <div class="row">
                <div class="form-group col-lg-4">
                    <label for="timeSheetStartWeekdate">Select Week Start Date</label>
                    <input type="date" class="form-control date-timesheet" id="timeSheetStartWeekdate" required max="2022-12-03">
                    <div class="invalid-feedback">
                        Please Select Week Start Date
                    </div>
                </div>

                <div class="form-group col-lg-4">
                    <label for="timeSheetEndWeekdate">Week End date</label>
                    <input type="date" class="form-control date-timesheet" id="timeSheetEndWeekdate" disabled style="background-color: white;">
                </div>
                <div class="form-group col-lg-2">
                    <label for="weekNumber">Week Number</label>
                    <input type="text" class="form-control" id="weekNumber" value="NA" disabled style="background-color: white;">
                </div>
            </div>

            <div class="row mt-xl-4">
                <div class="col-md-3">
                    <button type="button" class="btn btn-black openmodel btn-lg text-white add-task-details" data-target="#exampleModalLong">
                        Click here to add task details
                    </button>&nbsp;&nbsp;
                </div>
                <div class="col-md-9">
                    <h2 class="database-response"></h2>
                </div>
            </div>
            @*<div class="leave-or-holiday-info hide">@Model.leaveOrHolidayInfo</div>*@
        </form>
    </div>
</div>



<div class="table-responsive table">
    <!--Table-->
    <table class="table table-hover" id="timesheet-table">

        <!--Table head-->
        <thead class="table-bordered">
            <tr>
                <th class="time-header" scope="col">Edit/Delete</th>
                <th class="time-header" scope="col">Date</th>
                <th class="time-header" scope="col">Category</th>
                <th class="time-header" scope="col">Incident Number</th>
                <th class="time-header" scope="col">Incident Desc</th>
                <th class="time-header" scope="col">Requester</th>
                <th class="time-header" scope="col">Urgency</th>
                <th class="time-header" scope="col">Status</th>
                <th class="time-header" scope="col">Date Closed</th>
                <th class="time-header" scope="col">Time Spent</th>
                <th class="time-header" scope="col">Comments</th>
            </tr>
        </thead>
        <!--Table head-->
        <!--Table body-->
        <tbody class="table-bordered timesheet-table-grid">
            <tr class="default-table-row ">
                <td scope="row" style="padding-left: 25px"><a class='glyphicon glyphicon-edit' href='javascript:void(0);'></a>&nbsp;&nbsp; <a class='timesheet-delete-row glyphicon glyphicon-remove' href='javascript:void(0);'></a></td>
                <td scope="row">Ex: @System.DateTime.Now.ToString("dd/MM/yyyy")</td>&nbsp;&nbsp;
                <td scope="row">Ex: Enter Category</td>
                <td scope="row">Ex: 1234, 5678</td>
                <td scope="row">Ex: Enter details</td>
                <td scope="row">Ex: Requester Name</td>
                <td scope="row">Ex: Critical </td>
                <td scope="row">Ex: In Progress</td>
                <td scope="row">Ex: @System.DateTime.Now.ToString("dd/MM/yyyy")</td>
                <td scope="row">Ex: 5</td>
                <td scope="row">Ex:Enter Comments</td>
            </tr>
        </tbody>
        <!--Table body-->
    </table>
    <!--Table-->
</div>

<!-- Button trigger modal -->

<div class="col-lg-offset-0" style="float:right">
    <button type="button" class="btn btn-info btn-lg timesheet-submit">
        Submit Time Sheet
    </button>
</div>

<br />
<br />
<br />

<div class="">
    <div id="chartContainer" style="height: 250px;"></div>
</div>

@*<div id="chartContainer"></div>*@

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header custom-model-header">
                <h5 class="modal-title" id="exampleModalLabel"><b style="color: #0095a8">Time Sheet Form</b></h5>
                <button type="button" class="close timesheet-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="needs-validation" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="timeSheetdate">Date</label>
                                <input type="date" class="form-control" id="timeSheetdate" required>
                                <div class="invalid-feedback">
                                    Please enter task date
                                </div>

                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="timeSheetCategory">Category</label>
                                <select id="timeSheetCategory" name="categories" class="form-control form-select form-select-lg mb-3">
                                    <option value="volvo">Category 1</option>
                                    <option value="saab">Category  2</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="timeSheetIncNumber" id="inputGroupPrepend">Incident Number</label>
                                <textarea class="form-control" id="timeSheetIncNumber" style="min-width: 100%" placeholder="Incident Number" required></textarea>
                                <div class="invalid-feedback">
                                    Please enter Incident Number(s)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="timeSheetIncDesc" id="inputGroupPrepend">Incident Description</label>
                                <textarea class="form-control" id="timeSheetIncDesc" style="min-width: 100%" placeholder="Incident Description" required></textarea>
                                <div class="invalid-feedback">
                                    Please enter Incident Description
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetRequester">Requester</label>
                                <input type="text" class="form-control" id="timeSheetRequester" aria-describedby="emailHelp" placeholder="Requester">
                                <div class="invalid-feedback">
                                    Please enter requester
                                </div>
                                <small id="emailHelp" class="form-text text-muted">Requester help text.</small>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetUrgency">Priority</label>

                                <select id="timeSheetUrgency" name="urgency" class="form-control form-select form-select-lg mb-3">
                                    <option value="critical"> Critical </option>
                                    <option value="high"> High </option>
                                    <option value="medium"> Medium </option>
                                    <option value="low"> Low </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetStatus">Status</label>

                                <select id="timeSheetStatus" name="status" class="form-control form-select form-select-lg mb-3">
                                    <option value="open"> Open </option>
                                    <option value="closed"> Closed </option>
                                    <option value="inprogress"> In Progress </option>
                                    <option value="ongoing"> On Going </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetClosedDate">Closed Date</label>
                                <input type="date" class="form-control" id="timeSheetClosedDate" placeholder="Closed Date">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="timeSheetTimeSpent">Time Spent</label>
                                <input type="number" class="form-control" id="timeSheetTimeSpent" data-time-data-uniqueid="" placeholder="Time Spent" min="1" max="12" onkeydown="return event.keyCode !== 69" required>
                                <div class="invalid-feedback timeSpenterror-msg">
                                    Please enter Time spent hours between 1 to 12
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="timeSheetComments">Comments</label>
                                <textarea class="form-control" id="timeSheetComments" style="min-width: 100%" placeholder="Comments"></textarea>

                            </div>
                        </div>
                    </div>

                    <div class="modal-footer mt-xl-4">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary timesheet-addreport" data-updatedindexid="" data-uniqueid="">Add Report</button>
                        @*<button type="submit" class="btn btn-primary timesheet-updatereport" data-updatedindexid="" data-uniqueid="">Update Report</button>*@
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="modal-warning-message-popup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header custom-model-header">
                <h5 class="modal-title"><b class="text-danger">Please correct below warnings to submit the data</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: red">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="warning-message-popup"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>

    var timeSheetList = new Array();
    var timeSheetWeeklyHours = new Array();
    var empInputDates = new Array();

    function TimeSheetTemplate(rowDisable, uniqueID) {
        var isEntryDisbaled = "";
        if (rowDisable != undefined && rowDisable == true) {
            isEntryDisbaled = "row-disabled";
        }
        return '<tr class="user-added-timesheet ' + isEntryDisbaled + ' ' + uniqueID + '"><td class="timesheet-edit-delete"></td>'
            + '<td class="timesheet-date"></td>'
            + '<td class="timesheet-category" ></td >'
            + '<td class="timesheet-incidentnum" ></td >'
            + '<td class="timesheet-incidentdes" ></td >'
            + '<td class="timesheet-requester" ></td >'
            + '<td class="timesheet-urgency" ></td >'
            + '<td class="timesheet-status" ></td >'
            + '<td class="timesheet-closeddate" ></td >'
            + '<td class="timesheet-timespent" ></td >'
            + '<td class="timesheet-comments" ></td >'
            + '</tr>'
    }

    function InputTimeSheetdates(selectedWeekStartDate, empInputDates) {
        for (var i = 0; i < 7; i++) {
            empInputDates.push(moment(selectedWeekStartDate.addDays(i)).format("YYYY-MM-DD"));
        }
    }


    //Employee Leave or holiday data from database
    var empLeaveAndHolidays = new Array();

    if (jQuery('.leave-or-holiday-info').text() != undefined && jQuery('.leave-or-holiday-info').text() != "") {
        empLeaveAndHolidays = jQuery.parseJSON(jQuery('.leave-or-holiday-info').text());
    }


    jQuery(document).ready(function () {

        Date.prototype.startOfWeek = function (pStartOfWeek) {
            var mDifference = this.getDay() - pStartOfWeek;
            if (mDifference < 0) {
                mDifference += 7;
            }
            return new Date(this.addDays(mDifference * -1));
        }

        Date.prototype.addDays = function (pDays) {
            var mDate = new Date(this.valueOf());
            mDate.setDate(mDate.getDate() + pDays);
            return mDate;
        };


        jQuery('#timeSheetTimeSpent').focusout(function (element) {
            var totalHoursAdded = parseInt(jQuery('#timeSheetTimeSpent').val());
            var updatingRecordUniqueID = "";
            updatingRecordUniqueID = jQuery('#timeSheetTimeSpent').attr('data-time-data-uniqueid');
            jQuery.each(timeSheetList, function (i, item) {
                var selectedDate = jQuery('#timeSheetdate').val();

                if (updatingRecordUniqueID == "" || item.uniquekey != updatingRecordUniqueID) {

                    if (item.taskdate == selectedDate) {
                        totalHoursAdded += + parseInt(item.timespent);

                        if (totalHoursAdded > 12) {
                            jQuery('.timeSpenterror-msg').text("You cannot selelct time spent hours more than 12 hours for the selected date: " + selectedDate);
                            jQuery('#timeSheetTimeSpent').val('');
                            $(".timeSpenterror-msg").css("display", "block");
                            $("#timeSheetTimeSpent").focus();
                        }
                        else {
                            $(".timeSpenterror-msg").css("display", "none");

                        }
                    };
                }
            });
        });



        jQuery('.date-timesheet').change(function () {
            jQuery('.database-response').text("");
            timeSheetList = new Array();
            //On Date change removing all the selected sheets previosuly if any
            $('.user-added-timesheet').remove();
            jQuery('.default-table-row').show();

            var date = jQuery(this).val();

            var startOfWeek = moment(new Date(date)).startOf('week').toDate();
            var endOfWeek = moment(new Date(date)).endOf('week').toDate();

            var StartWeekdate = new Date(startOfWeek.addDays(1));
            var endWeekDate = new Date(endOfWeek.addDays(1));

            var startDate = moment(StartWeekdate).format("YYYY-MM-DD");
            jQuery('#timeSheetStartWeekdate').val(startDate);

            var endDate = moment(endWeekDate).format("YYYY-MM-DD");
            jQuery('#timeSheetEndWeekdate').val(endDate);

            var weekNum = moment(startDate).week();
            jQuery('#weekNumber').val(weekNum);

            empInputDates = new Array();

            InputTimeSheetdates(StartWeekdate, empInputDates);

            jQuery.each(empLeaveAndHolidays, function (i, item) {
                var leaveOrHolidayDate = item.LeaveOrHolidayDate;

                jQuery.each(empInputDates, function (key, value) {
                    if (value == leaveOrHolidayDate) {
                        var model = {
                            weekstartdate: startDate,
                            weekenddate: endDate,
                            weekno: weekNum,
                            employeeid: jQuery('.agent-navdrop-empid').text(),
                            employeename: jQuery('.agent-full-name').text(),
                            empdesignation: jQuery('.agent-navdrop-empdesig').text(),
                            empmanager: jQuery('.agent-navdrop-empmanager').text(),
                            empcontactnumber: jQuery('.agent-navdrop-phone').text(),
                            clientname: jQuery('.agent-navdrop-client').text(),
                            projectname: jQuery('.agent-navdrop-project').text(),
                            projstatus: jQuery('.agent-navdrop-prostatus').text(),
                            taskdate: value,
                            category: "NA",
                            incidentnumber: "NA",
                            taskdetails: "NA",
                            requester: "NA",
                            callpriority: "NA",
                            callstatus: "NA",
                            closeddate: "",
                            timespent: "0",
                            comments: item.Reason,
                            uniquekey: jQuery('#timeSheetdate').val() + "_" + jQuery('#timeSheetIncNumber').val() + "_" + jQuery('#timeSheetTimeSpent').val()
                        };

                        jQuery('.default-table-row').hide();
                        var dynamicTemplate = TimeSheetTemplate(true, model.uniquekey);
                        var newRow = jQuery(dynamicTemplate);

                        var displayDate = model.taskdate.split('-');
                        var newDate = displayDate[2] + "-" + displayDate[1] + "-" + displayDate[0];

                        jQuery(newRow).find('.timesheet-date').html(newDate);
                        jQuery(newRow).find('.timesheet-category').html(model.category);
                        jQuery(newRow).find('.timesheet-incidentnum').html(model.incidentnumber);
                        jQuery(newRow).find('.timesheet-incidentdes').html(model.taskdetails);
                        jQuery(newRow).find('.timesheet-requester').html(model.requester);
                        jQuery(newRow).find('.timesheet-urgency').html(model.callpriority);
                        jQuery(newRow).find('.timesheet-status').html(model.callstatus);
                        jQuery(newRow).find('.timesheet-closeddate').html(model.closeddate);
                        jQuery(newRow).find('.timesheet-timespent').html(model.timespent);
                        jQuery(newRow).find('.timesheet-comments').html(model.comments);

                        jQuery(".timesheet-table-grid").append(jQuery(newRow));
                    }
                });
            });

        });
    });

    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                });
            });
        });
    })();


    jQuery(".add-task-details").click(function () {
        //jQuery('.timesheet-updatereport').hide();
        //jQuery('.timesheet-addreport').show();
        jQuery('.database-response').text("");
        jQuery('.needs-validation').removeClass('was-validated');
        var isStartDateEntered = true;
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation-timesheet');
        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                isStartDateEntered = false;
            }
            form.classList.add('was-validated');

            if (isStartDateEntered) {

                var minDate = jQuery('#timeSheetStartWeekdate').val();
                minDate = new Date(minDate);
                minDate = moment(minDate).format("YYYY-MM-DD");

                var maxDate = jQuery('#timeSheetEndWeekdate').val();
                maxDate = new Date(maxDate);
                maxDate = moment(maxDate).format("YYYY-MM-DD");

                var timeSheetWeekInputModel = {
                    EmpId: jQuery('.agent-navdrop-empid').text(),
                    StartDate: jQuery('#timeSheetStartWeekdate').val(),
                    EndDate: jQuery('#timeSheetEndWeekdate').val(),
                };

                jQuery('#timeSheetdate').attr("min", minDate);
                jQuery('#timeSheetdate').attr("max", maxDate);

                jQuery('#timeSheetdate').val(minDate);

                var weekNum = moment(minDate).week();
                jQuery('#weekNumber').val(weekNum);

                $('#exampleModalLong').modal('show');
            }
        });
    });

    jQuery(".timesheet-addreport").click(function () {
        var isModalValidated = true;
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');

        // Loop over them and prevent submission
        Array.prototype.filter.call(forms, function (form) {
            if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                isModalValidated = false;
            }

            form.classList.add('was-validated');
        });


        if (isModalValidated) {
            var pushModel = {
                weekstartdate: jQuery('#timeSheetStartWeekdate').val(),
                weekenddate: jQuery('#timeSheetEndWeekdate').val(),
                weekno: jQuery('#weekNumber').val(),
                employeeid: jQuery('.agent-navdrop-empid').text(),
                employeename: jQuery('.agent-full-name').text(),
                empdesignation: jQuery('.agent-navdrop-empdesig').text(),
                empmanager: jQuery('.agent-navdrop-empmanager').text(),
                empcontactnumber: jQuery('.agent-navdrop-phone').text(),
                clientname: jQuery('.agent-navdrop-client').text(),
                projectname: jQuery('.agent-navdrop-project').text(),
                projstatus: jQuery('.agent-navdrop-prostatus').text(),
                taskdate: jQuery('#timeSheetdate').val(),
                category: $('#timeSheetCategory :selected').text(),
                incidentnumber: jQuery('#timeSheetIncNumber').val(),
                taskdetails: jQuery('#timeSheetIncDesc').val(),
                requester: jQuery('#timeSheetRequester').val(),
                callpriority: $('#timeSheetUrgency :selected').text(),
                callstatus: $('#timeSheetStatus :selected').text(),
                closeddate: jQuery('#timeSheetClosedDate').val(),
                timespent: jQuery('#timeSheetTimeSpent').val(),
                comments: jQuery('#timeSheetComments').val(),
                uniquekey: jQuery('#timeSheetdate').val() + "_" + jQuery('#timeSheetIncNumber').val() + "_" + jQuery('#timeSheetTimeSpent').val()
            };

            //Find index of specific object using findIndex method.
            /*objIndex = myArray.findIndex((obj => obj.id == 1));*/
            var updatedTimesheetIndexNum = jQuery(".timesheet-addreport").attr("data-updatedindexid");
            var uniqueIdNum = jQuery(".timesheet-addreport").attr("data-uniqueid");

            jQuery(".timesheet-addreport").attr("data-updatedindexid", "");
            jQuery(".timesheet-addreport").attr("data-uniqueid", "");

            //DELETE SELECTED ROW FROM ARRAY LIST
            if (updatedTimesheetIndexNum != "") {
                timeSheetList.splice(updatedTimesheetIndexNum, 1);
            }

            timeSheetList.push(pushModel);
            timeSheetWeeklyHours = new Array();

            AddUpdateRecords(timeSheetList);

        }
    });

    function AddUpdateRecords(timeSheetList) {
        $('.user-added-timesheet').remove();
        jQuery.each(empInputDates, function (key, value) {
            jQuery.each(timeSheetList, function (i, model) {
                if (model.uniquekey.indexOf(value) != -1) {

                    var dynamicTemplate = TimeSheetTemplate(false, model.uniquekey);
                    var newRow = jQuery(dynamicTemplate);

                    var displayDate = model.taskdate.split('-');
                    var newDate = displayDate[2] + "-" + displayDate[1] + "-" + displayDate[0];

                    var editImg = "<a class='glyphicon glyphicon-edit' data-uniqueid='" + model.uniquekey + "' onclick=EditTimeSheetRow(this)></a>" + "&nbsp;&nbsp;" + "<a class='glyphicon glyphicon-remove' data-uniqueid='" + model.uniquekey + "' onclick=DeleteTimeSheetRow(this)></a>";

                    jQuery(newRow).find('.timesheet-edit-delete').html(editImg);
                    jQuery(newRow).find('.timesheet-date').html(newDate);
                    jQuery(newRow).find('.timesheet-category').html(model.category);
                    jQuery(newRow).find('.timesheet-incidentnum').html(model.incidentnumber);
                    jQuery(newRow).find('.timesheet-incidentdes').html(model.taskdetails);
                    jQuery(newRow).find('.timesheet-requester').html(model.requester);
                    jQuery(newRow).find('.timesheet-urgency').html(model.callpriority);
                    jQuery(newRow).find('.timesheet-status').html(model.callstatus);
                    jQuery(newRow).find('.timesheet-closeddate').html(model.closeddate);
                    jQuery(newRow).find('.timesheet-timespent').html(model.timespent);
                    jQuery(newRow).find('.timesheet-comments').html(model.comments);

                    jQuery('.default-table-row').hide();
                    jQuery(".timesheet-table-grid").append(jQuery(newRow))
                    jQuery('.modal').modal('hide');

                    jQuery('#timeSheetdate').val('');
                    $("#timeSheetCategory option:first").attr('selected', 'selected');
                    jQuery('#timeSheetIncNumber').val('');
                    jQuery('#timeSheetIncDesc').val('');
                    jQuery('#timeSheetRequester').val('');
                    $("#timeSheetUrgency option:first").attr('selected', 'selected');
                    $("#timeSheetStatus option:first").attr('selected', 'selected');
                    jQuery('#timeSheetClosedDate').val('');
                    jQuery('#timeSheetTimeSpent').val('');
                    jQuery('#timeSheetComments').val('');

                    var oneDate = moment(model.taskdate, 'YYYY-MM-DD');
                    var dayName = oneDate.format('dddd');

                    console.log(dayName);

                    var weeklyDataModel = {
                        weekday: dayName,
                        hoursspent: model.timespent
                    };

                    timeSheetWeeklyHours.push(weeklyDataModel);
                }
            });
        });

        jQuery.ajax({
            url: "/timesheetweeklychart",
            type: "POST",
            dataType: "html",
            data: { weekreportmodel: timeSheetWeeklyHours },
            success: function (data) {
                $('#chartContainer').html(data);
            }
        });
    }


    jQuery(".timesheet-submit").click(function () {
        if (timeSheetList.length <= 0) {
            //jQuery('.database-response').addClass('text-danger');
            //jQuery('.database-response').html("Bad request. Please enter task details!!");

            jQuery('.warning-message-popup').html("Bad request. Please enter task details!");
            jQuery('#modal-warning-message-popup').modal('show');
        }
        else {
            var allDataEntered = true;
            var missedDatesData = "";
            jQuery.each(empInputDates, function (key, value) {
                const isAllTasksEntered = timeSheetList.filter(v => v.taskdate === value);
                var dt = moment(value, "YYYY-MM-DD")
                var dayName = dt.format('dddd');

                if (isAllTasksEntered.length <= 0 && dayName != "Saturday" && dayName != "Sunday") {
                    allDataEntered = false;
                    missedDatesData += "<p>'" + dayName + "': '" + value + "'</p>";
                }
            });

            if (allDataEntered == true) {
                jQuery.ajax({
                    type: "POST",
                    url: "/AddTimeSheet",
                    data: JSON.stringify({ timesheetmodel: timeSheetList }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {
                        if (data.StatusCode == 200) {
                            jQuery('.database-response').addClass('text-success');
                        }
                        else {
                            jQuery('.database-response').addClass('text-danger');
                        }
                        jQuery('.database-response').text(data.Message);
                    }
                });
            }
            else {
                jQuery('.database-response').addClass('text-danger');
                jQuery('.warning-message-popup').html(missedDatesData + " Dates data is missing!!");
                jQuery('#modal-warning-message-popup').modal('show');
            }
        }

    });

    function EditTimeSheetRow(ele) {
        var selectedUniqueItemKey = $(ele).closest('a').attr('data-uniqueid');
        var requiredIndexNum = "";

        jQuery.each(timeSheetList, function (i, item) {
            if (item.uniquekey == selectedUniqueItemKey) {
                requiredIndexNum = i;

                jQuery('.timesheet-addreport').attr('data-updatedindexid', requiredIndexNum);
                jQuery('.timesheet-addreport').attr('data-uniqueid', selectedUniqueItemKey);

                jQuery('#timeSheetdate').val(item.taskdate);
                $('#timeSheetCategory :selected').text(item.category);
                jQuery('#timeSheetIncNumber').val(item.incidentnumber);
                jQuery('#timeSheetIncDesc').val(item.taskdetails);
                jQuery('#timeSheetRequester').val(item.requester);
                $('#timeSheetUrgency :selected').text(item.callpriority);
                $('#timeSheetStatus :selected').text(item.callstatus);
                jQuery('#timeSheetClosedDate').val(item.closeddate);
                jQuery('#timeSheetTimeSpent').val(item.timespent);
                jQuery('#timeSheetComments').val(item.comments);

                jQuery('#timeSheetTimeSpent').attr("data-time-data-uniqueid", item.uniquekey);

                $(".timesheet-addreport").text("Update Report");
                $('#exampleModalLong').modal('show');
            }
        });
    }

    function DeleteTimeSheetRow(ele) {

        timeSheetWeeklyHours = new Array();
        var selectedUniqueItemKey = $(ele).closest('a').attr('data-uniqueid');
        var requiredIndexNum = "";

        jQuery.each(timeSheetList, function (i, item) {
            if (item.uniquekey == selectedUniqueItemKey) {
                requiredIndexNum = i;
            }
        });

        //DELETE SELECTED ROW FROM ARRAY LIST
        timeSheetList.splice(requiredIndexNum, 1);

        AddUpdateRecords(timeSheetList);

        var requiredIndexClass = "." + selectedUniqueItemKey;
        var selectedRowFromTheTable = $('.timesheet-table-grid').find(requiredIndexClass).index();

        if (selectedRowFromTheTable >= 0) {
            $('.timesheet-table-grid > tr')[selectedRowFromTheTable].remove();
        }

        if ($('.user-added-timesheet').length <= 0) {
            jQuery('.default-table-row').show();
        }
    }

    //On Page load will display empty chart report
    jQuery.ajax({
        url: "/timesheetweeklychart",
        type: "POST",
        dataType: "html",
        data: { weekreportmodel: timeSheetWeeklyHours },
        success: function (data) {
            $('#chartContainer').html(data);
        }
    });

</script>

