@model ResourceManagement.Models.RMA_EmployeeModel

@{
    ViewBag.Title = "TimeSheets View Report partial Page";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 9pt;
        }
    </style>
</head>
<body>

    <style>
        .headerrow {
            border: 0px !important;
            padding: 2px !important;
            background-color: LightGray;
        }

        .headertd {
            font-size: small;
            border-right: 1px solid lightgray !important;
        }

        .center {
            margin-top: 3px;
            width: 100%;
            border: 1px solid black;
            padding: 6px;
            background-color: #D3D3D3;
        }

        #timesheet-table th, td {
            border: 1px solid #D3D3D3;
        }

        .table-leaveinfo th, td {
            /* border: 1px solid #D3D3D3;*/
        }

        .partialview-reports {
            font-family: Calibri;
        }
    </style>


    @if (Model != null)
    {

        foreach (var employeeReport in Model.TimeSheetReports)
        {
            Int32? totalhoursSpentInTheWeek = 0;
            Int32? totalBillableHours = 0;
            Int32? totalNonBillableHours = 0;

            <div class="card timesheet-card partialview-reports" style="font-family:Calibri">
                <div class="card-body ">
                    <div class="emailbodycontent">
                        <div class="table-responsive table">
                            <table>
                                <tr>
                                    <td style="width: 100%; padding-left: 0px; text-align: center; border: 1px solid black; padding-top: 0px; padding-right: 0px; padding-bottom:0px">
                                        <table style="width:100%">
                                            <tr style="background-color: #D3D3D3; text-align:center"><td colspan="7"><h2><b>@employeeReport.EmployeeInfo.Project_Name Weekly Project Status Report</b></h2></td></tr>
                                            <tr style="text-align:left">
                                                <td class="headertd">
                                                    <b>Resource Name</b>
                                                </td>
                                                <td class="headertd">
                                                    @employeeReport.EmployeeInfo.Employee_Name
                                                </td>
                                                <td class="headertd"><b>Project Manager</b></td>
                                                <td class="headertd">
                                                    @employeeReport.EmployeeInfo.Client_Report_Manager
                                                </td>
                                            </tr>
                                            <tr style="text-align:left">
                                                @{

                                                    var requiredWeekSatartDate = "NA";
                                                    var requiredWeekEndDate = "NA";

                                                    var reportStartdate = @employeeReport.timeSheetAjaxInputReportModel.WeekStartDate.ToString().Replace("00:00:00", "").Replace("12:00:00 AM", "").Replace('/', '-').Trim().Split('-');
                                                    requiredWeekSatartDate = reportStartdate[2].Trim() + "-" + reportStartdate[1] + "-" + reportStartdate[0];

                                                    var reportEndtdate = @employeeReport.timeSheetAjaxInputReportModel.WeekEndDate.ToString().Replace("00:00:00", "").Replace("12:00:00 AM", "").Replace('/', '-').Trim().Split('-');
                                                    requiredWeekEndDate = reportEndtdate[2].Trim() + "-" + reportEndtdate[1] + "-" + reportEndtdate[0];
                                                }


                                                <td class="headertd"><b>Week Start Date</b></td>
                                                <td class="headertd">@requiredWeekSatartDate</td>
                                                <td class="headertd">
                                                    <b>Week End Date</b>
                                                </td>
                                                <td class="headertd">
                                                    @requiredWeekEndDate
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 30%">
                                        <img class=" preload-me" src="https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png" srcset="https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png 188w, https://ambconline.com/wp-content/uploads/2022/12/AMBC-ISO-LOGO.png 188w" width="300" height="80" sizes="188px" alt="AMBC Inc">
                                    </td>
                                </tr>
                            </table>

                            <table>
                                <tr>
                                    <td colspan="9"></td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td colspan="9" style="background-color: #D3D3D3"><b>EFFORT DETAILS (current week)</b></td>
                                </tr>
                            </table>

                            <table class="table" id="timesheet-table" style="margin-top: 2px">
                                <thead class="table-bordered">
                                    <tr style="background-color: #BCD2E8">
                                        <th class="" scope="col" style="max-width:50px; text-align:left">Day</th>
                                        <th class="" scope="col" style="text-align: left">Category</th>
                                        <th class="" scope="col" style="text-align: left">Incident Number</th>
                                        <th class="" scope="col" style="text-align: left">Incident Desc</th>
                                        <th class="" scope="col" style="text-align: left">Requester</th>
                                        <th class="" scope="col" style="text-align: left">Priority</th>
                                        <th class="" scope="col" style="text-align: left">Status</th>
                                        <th class="" scope="col" style="text-align: left">Time Spent</th>
                                        <th class="" scope="col" style="text-align: left">Comments</th>
                                    </tr>
                                </thead>

                                <tbody class="timesheet-table-grid">

                                    @foreach (var task in employeeReport.timeSheetInfo)
                                    {
                                        <tr style="background-color: #fff">

                                            @{
                                                var requiredDate = task.taskdate.ToString().Contains("00:00:00") ? task.taskdate.ToString().Replace("00:00:00", "").Replace("12:00:00 AM", "").Split('-') : task.taskdate.ToString().Replace("00:00:00", "").Replace("12:00:00 AM", "").Split('-');

                                                var taskDisplayDate = requiredDate[2].Trim() + "-" + requiredDate[1] + "-" + requiredDate[0];

                                                var overtTimeHours = task.overtime != null ? task.overtime : 0;
                                                var totalSpentHours = System.Convert.ToInt32(task.timespent) + overtTimeHours;

                                                totalhoursSpentInTheWeek += totalSpentHours;

                                                totalBillableHours += System.Convert.ToInt32(task.timespent);

                                                totalNonBillableHours += overtTimeHours;
                                            }
                                            <td scope="row" style="font-family: Calibri; text-align: left; vertical-align: middle; ">@taskDisplayDate</td>
                                            <td scope="row" style="font-family: Calibri; text-align: left; vertical-align: middle; ">@task.category</td>
                                            <td scope="row" style="font-family: Calibri; text-align: left; vertical-align: middle; max-width: 200px ">@task.incidentnumber.Replace(",", ", ")</td>
                                            <td scope="row" style="font-family: Calibri; text-align: left; max-width: 200px; vertical-align: middle; ">@task.taskdetails</td>
                                            <td scope="row" style="font-family: Calibri; text-align: left; vertical-align: middle; ">@task.requester</td>
                                            <td scope="row" style="font-family: Calibri; text-align: left; vertical-align: middle; ">@task.callpriority</td>
                                            <td scope="row" style="font-family: Calibri; text-align: left; vertical-align: middle; ">@task.projstatus</td>
                                            <td scope="row" style="font-family: Calibri; text-align: center; vertical-align: middle; ">@totalSpentHours</td>
                                            <td scope="row" style="font-family: Calibri; text-align: left; max-width: 200px; vertical-align: middle; ">@task.comments</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>

                            <table>
                                <tr>
                                    <td colspan="9"></td>
                                </tr>
                            </table>
                            <table>
                                <tr>
                                    <td colspan="9" style="background-color: #D3D3D3"><b>Leave Information</b></td>
                                </tr>
                            </table>

                            <table style="margin-top: 4px; width:34%">
                                <thead class="table-bordered">
                                    <tr style="background-color: #BCD2E8">
                                        <th class="" scope="col">Leave Date</th>
                                        <th class="" scope="col">Leave Type</th>
                                    </tr>
                                </thead>

                                <tbody class="timesheet-table-grid">


                                    @if (employeeReport.timeSheetLeaveOrHolidayInfo != null && employeeReport.timeSheetLeaveOrHolidayInfo.Count > 0)
                                    {
                                        foreach (var leaveReport in employeeReport.timeSheetLeaveOrHolidayInfo)
                                        {

                                            var requiredLeaveDate = leaveReport.taskdate.ToString().Contains("00:00:00") ? leaveReport.taskdate.ToString().Replace("00:00:00", "").Replace("12:00:00 AM", "").Split('-') : leaveReport.taskdate.ToString().Replace("00:00:00", "").Replace("12:00:00 AM", "").Split('-');
                                            var leaveDisplayDate = requiredLeaveDate[2].Trim() + "-" + requiredLeaveDate[1] + "-" + requiredLeaveDate[0];


                                            <tr style="background-color: #ccffcc">
                                                <td scope="row" style="text-align:left">@leaveDisplayDate</td>
                                                <td scope="row" style="text-align:left">@leaveReport.comments</td>
                                            </tr>
                                        }
                                    }

                                    else
                                    {
                                        <tr style="background-color: #ccffcc">
                                            <td scope="row" style="text-align:left">NA</td>
                                            <td scope="row" style="text-align:left">NA</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>

                            @{
                                int? billableHours = 0;
                                int? nonBillableHours = 0;
                            }


                            <table style="border: none">

                                @if (totalhoursSpentInTheWeek >= 40)
                                {
                                    billableHours = 40;
                                    nonBillableHours = totalhoursSpentInTheWeek - 40;
                                }
                                else
                                {
                                    billableHours = totalhoursSpentInTheWeek;
                                }

                                <tr style="background-color: #ccffcc; ">
                                    <td style="width: 368px;  background-color: white; font-size: initial; padding: 3px;"><b>Total Billable Hours (till date)</b></td>

                                    <td style="background-color: white; width: 30px; text-align: left"><b>@totalBillableHours</b></td>
                                </tr>
                            </table>

                            <table style="border: none; background-color: #fff ">

                                <tr style="background-color: #ccffcc; ">
                                    <td style="width: 368px; background-color: white; font-size: initial; padding: 3px;"><b>Total Nonbillable Hours (till date)</b></td>

                                    <td style="background-color: white; width: 30px;text-align:left"><b>@totalNonBillableHours</b></td>
                                </tr>
                            </table>
                            <div style="height:10px">
                                <b>          </b>
                            </div>
                            <table style=" border: none; background-color: #fff ">

                                <tr style="background-color: #ccffcc; ">
                                    <td style="width: 368px; background-color: white; font-size: initial; padding: 3px;"><b>Total Entire Project Efforts</b></td>

                                    <td style=" background-color:white; width: 30px; text-align:left"><b>@totalhoursSpentInTheWeek</b></td>
                                </tr>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        }
    }

    <br />
    <br />
    <br />

</body>
</html>

