@model ResourceManagement.Models.RMA_UploadedStatusReportViewModel

@{
    ViewBag.Title = "Status Report Excel Download";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        .headerrow {
            border: 0px !important;
            padding: 2px !important;
            background-color: LightGray;
        }

        .headertd {
            font-size: small;
            border-right: 1px solid lightgray !important;
        }

        .center {
            margin-top: 3px;
            width: 100%;
            border: 1px solid black;
            padding: 6px;
            background-color: LightGray;
        }

        #timesheet-table th, td {
            border: 1px solid gray;
        }

        .table-leaveinfo th, td {
            border: 1px solid gray;
        }
    </style>
</head>
<body>

    @if (Model != null && Model.ViewModel != null && Model.ViewModel.Count > 0)
    {
        foreach (var reportModel in Model.ViewModel)
        {

            if (Model.AjaxModel.TemplateNumber == "Template1")
            {
                <table class="table" id="timesheet-table" style="margin-top: 2px">
                    <thead class="table-bordered">
                        <tr style="background-color: #005983">
                            <th class="" scope="col" style="text-align: center; color: white">Ticket Number</th>
                            <th class="" scope="col" style="text-align: center; color: white">Created_Date</th>
                            <th class="" scope="col" style=" text-align: center; color: white">Priority</th>
                            <th class="" scope="col" style="text-align: center; color: white">Status</th>
                            <th class="" scope="col" style="text-align: center; color: white">Closed_Date</th>
                            <th class="" scope="col" style="text-align: center; color: white">Ticket Category</th>

                        </tr>
                    </thead>

                    <tbody class="timesheet-table-grid">

                        @foreach (var report in reportModel.Template1Reports)
                        {
                        <tr style="background-color: #fff" class="time">
                            <td scope="row" style=" vertical-align:middle; text-align: center">@report.Ticket_Number</td>
                            <td scope="row" style=" vertical-align: middle; text-align: center">@report.Ticket_Created_Date.ToString().Replace("00:00:00", "")</td>
                            <td scope="row" style=" vertical-align: middle; text-align: center">@report.Ticket_Priority.ToString().Replace("00:00:00", "")</td>
                            <td scope="row" style=" vertical-align: middle; text-align: center">@report.Ticket_Status</td>
                            <td scope="row" style="text-align: center">@report.Ticket_Closed_Date.ToString().Replace("00:00:00", "")</td>
                            <td scope="row" style=" vertical-align:middle; text-align: center">@report.Ticket_Category</td>
                        </tr>
                        }

                        @if (reportModel.Template1Reports.Count == 0)
                        {
                            <tr>
                                <td colspan="9">
                                    <h2 style="MARGIN-LEFT: 40px; padding-top: 15px">No Records available!</h2>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            }

            if (Model.AjaxModel.TemplateNumber == "Template2")
            {
                <table class="table" id="timesheet-table" style="margin-top: 2px">
                    <thead class="table-bordered">
                        <tr style="background-color: #005983">
                            <th class="" scope="col" style="text-align: center; color: white ">Project Name</th>
                            <th class="" scope="col" style="text-align: center; color: white">Created Date</th>
                            <th class="" scope="col" style=" text-align: center; color: white">Closing Date Target</th>
                            <th class="" scope="col" style="text-align: center; color: white">Priority</th>
                            <th class="" scope="col" style="text-align: center; color: white">Status</th>
                            <th class="" scope="col" style="text-align: center; color: white">Closed Date Actual</th>
                            <th class="" scope="col" style="text-align: center; color: white">Completed %</th>
                            <th class="" scope="col" style="text-align: center; color: white">Remaining %</th>
                            <th class="" scope="col" style="text-align: center; color: white ">Project Summary</th>

                        </tr>
                    </thead>

                    <tbody class="timesheet-table-grid">

                        @foreach (var report in reportModel.Template2Reports)
                        {
                        <tr style="background-color: #fff" class="time">

                            <td scope="row" style="max-width:70px; vertical-align:middle; text-align: center">@report.Project_Name</td>
                            <td scope="row" style="max-width: 70px; vertical-align: middle; text-align: center">@report.Project_Created_Date.ToString().Replace("00:00:00", "")</td>
                            <td scope="row" style="max-width: 70px; vertical-align: middle; text-align: center">@report.Project_Closing_Date_Target.ToString().Replace("00:00:00", "")</td>
                            <td scope="row" style="max-width: 70px; vertical-align: middle; text-align: center">@report.Project_Priority</td>
                            <td scope="row" style="max-width: 70px; vertical-align: middle; text-align: center">@report.Project_Status</td>
                            <td scope="row" style="max-width: 70px; vertical-align: middle; text-align: center">@report.Project_Closed_Date_Actual.ToString().Replace("00:00:00", "")</td>
                            <td scope="row" style="max-width: 70px; vertical-align: middle; text-align: center">@report.CompletedPercentage</td>
                            <td scope="row" style="max-width: 70px; text-align: center; vertical-align: middle">@report.RemainingPercentage</td>
                            <td scope="row" style="max-width: 70px; text-align: center; vertical-align: middle">@report.Project_Summary</td>
                        </tr>
                        }

                        @if (reportModel.Template2Reports.Count == 0)
                        {
                            <tr>
                                <td colspan="9">
                                    <h2 style="MARGIN-LEFT: 40px; padding-top: 15px">No Records available!</h2>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            }

            if (Model.AjaxModel.TemplateNumber == "Template3")
            {
                <table class="table" id="timesheet-table" style="margin-top: 2px">
                    <thead class="table-bordered">
                        <tr style="background-color: #005983">
                            <th class="" scope="col" style="text-align: center; color: white">Ticket Number</th>
                            <th class="" scope="col" style="text-align: center; color: white">Status</th>

                        </tr>
                    </thead>

                    <tbody class="timesheet-table-grid">

                        @foreach (var report in reportModel.Template1Reports)
                        {
                            <tr style="background-color: #fff" class="time">
                                <td scope="row" style=" vertical-align:middle; text-align: center">@report.Ticket_Number</td>
                                <td scope="row" style=" vertical-align: middle; text-align: center">@report.Ticket_Status</td>
                            </tr>
                        }

                        @if (reportModel.Template1Reports.Count == 0)
                        {
                            <tr>
                                <td colspan="9">
                                    <h2 style="MARGIN-LEFT: 40px; padding-top: 15px"></h2>
                                </td>

                            </tr>
                        }


                    </tbody>
                </table>
            }
        }
    }

</body>
</html>
