@model ResourceManagement.Models.IT.ITModel

@{
    ViewBag.Title = "Asset Assign Page";

    var bannerModel = new ResourceManagement.Models.BannerInfo();
    bannerModel.BannerName = "ASSIGN ASSET";
    bannerModel.BannerImagePath = "/Assets/Banner/allocate-asset.jpg";
}

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel)
@Html.Partial("~/Views/Home/_BannerInfo.cshtml", bannerModel)

<div class="card card-body" style="border-radius: 10px">
    <div class="card timesheet-card">
        <div class="card-body ">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetassettype">Asset Type<b style="color:red">*</b></label>
                        <select id="assetassettype" name="assetassettype" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" selected disabled>Select Type</option>
                            <option value="Laptop">Laptop</option>
                            <option value="Desktop">Desktop</option>
                            <option value="MacBook">MacBook</option>
                            <option value="MacBook">Tablet</option>
                            <option value="MacBook">Headset</option>
                            <option value="MacBook">Mouse</option>
                            <option value="MacBook">Charger</option>
                            <option value="MacBook">Mobile</option>
                            <option value="MacBook">Other</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetAssignID">Asset ID<b style="color:red">*</b></label>
                        <select id="assetAssign" name="assetAssign" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Asset</option>
                            <option value="Asset1">Asset1</option>
                            <option value="Asset2">Asset2</option>
                            <option value="Asset3">Asset3</option>
                            <option value="Asset4">Asset4</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group selectemp-div">
                        <label for="assetemployeename">Employee Name<b style="color:red">*</b></label>
                        <select id="selectEmployeenameandemail" name="selectEmployeenameandemail" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                            <option disabled selected> -- Select Employee Name -- </option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="assetRemarks">Remarks</label>
                        <textarea class="form-control" id="assetRemarks" style="min-width: 100%" placeholder="assetRemarks"></textarea>
                    </div>
                </div>
            </div>

            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-asset-assign" style="width:100px; height:35px; border-radius:10px"><b style="font-size: 16px">Assign Asset</b></button>
            </div>

        </div>
    </div>
</div>

<div style="display: none" class="showassetinfo">
    @Html.Partial("~/Views/IT/_AssetInfo.cshtml", Model.RMA_EmployeeModel)
</div>

<div>
    @{
        var itEmpEmailIds = "";
    }
    @foreach (var itAdmin in Model.ITAdminUsers)
    {
        itEmpEmailIds += itAdmin.AMBC_Mail_Address.Trim() + ",";
    }

    <div class="it-admin-list" style="display:none">@itEmpEmailIds.Trim(',')</div>
</div>


<br />

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml", Model.RMA_EmployeeModel)
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml")

<script>



    // If employee works multiple projects then based on client updateing the employee details like Client name project name reportung managet etc..
    jQuery('#assetAssign').change(function (evt) {
        jQuery('.showassetinfo').show();
    });


    //This logic to handle out side clik of agent popup
    jQuery(document).on('change', '#assetassettype', function (e) {

        GetAssetsByAssetType(jQuery('#assetassettype :selected').val());
    });

    jQuery(document).on('click', '.btn-asset-assign', function (e) {
        var AssetAssignModelInput = {
            AssetType: jQuery('#assetassettype :selected').val(),
            AssetID: jQuery('#assetAssign :selected').val(),
            EmployeeID: jQuery('#selectEmployeenameandemail :selected').val().split('|')[0],
            EmployeeName: jQuery('#selectEmployeenameandemail :selected').text(),
            EmployeeEmail: jQuery('#selectEmployeenameandemail :selected').val().split('|')[1],
            itadminIds: jQuery('.it-admin-list').text(),
            UploadedByEmpName: jQuery('.agent-full-name').text(),
            UploadedByEmpID: jQuery('.agent-navdrop-empid').text(),
            UploadedByEmpEmail: jQuery('.agent-navdrop-empemail').text(),
            UploadedByMobile: jQuery('.agent-navdrop-phone').text(),
            Remarks: jQuery('#assetRemarks').val(),
            AssetTxn: "Add"
        };
        jQuery.ajax({
            type: "POST",
            url: "/it/assignasset",
            data: JSON.stringify({ AssetAssignModel: AssetAssignModelInput }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                if (obj.JsonResponse.StatusCode == 200) {

                    jQuery('.success-message-popup-title').html("Hey there");
                    jQuery('.database-response').html("<h2>Asset assigned email sent successfully to " + jQuery('#selectEmployeenameandemail :selected').text() + " </h2>");
                    jQuery('.message-success-popup').modal('show');

                    jQuery("#selectEmployeenameandemail").val($("#selectEmployeenameandemail option:first").val());
                    jQuery('#assetAssign').empty();
                    jQuery('#assetAssign').append(' <option value="" disabled selected>Select Asset ID</option>');
                    jQuery("#assetassettype").val($("#assetassettype option:first").val());

                }
                else {
                    jQuery('.error-message-popup-title').html("Hey there");
                    jQuery('.database-response').html("<h2>" + obj.JsonResponse.Message + "</h2>");
                    jQuery('#modal-db-error-alert').modal('show');
                }
            }
        });

    });

</script>
