@model ResourceManagement.Models.IT.ITModel

@{
    ViewBag.Title = "Asset Upload Report Page";
}

<style>
    #maintenance-report-table textarea {
        resize: none;
    }
</style>

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel)

<div class="card card-body" style="border-radius: 10px">
    <div class="card upload-it-report-card">
        <div class="card-body ">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group selectemp-div">
                        <label for="selectEmployeenameandemail">Employee Name<b style="color:red">*</b></label>
                        <select id="selectEmployeenameandemail" name="selectEmployeenameandemail" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                            <option value="" disabled selected> -- Select Employee Name -- </option>
                        </select>
                        <div class="invalid-emp" style="display: none; color: red">
                            Please Select Employee
                        </div>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetAssignID">Asset ID<b style="color:red">*</b></label>
                        <select id="assetAssignID" name="assetAssignID" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Asset ID</option>
                        </select>
                        <div class="invalid-assetid" style="display: none; color: red">
                            Please Select Aseet ID
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetUploadMonth">Month<b style="color:red">*</b></label>
                        <select id="assetUploadMonth" name="assetUploadMonth" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Month</option>
                            @foreach (var month in Model.MonthsList)
                            {
                                <option value="@month.Value">@month.Text</option>
                            }
                        </select>

                        <div class="invalid-month" style="display: none; color: red">
                            Please Select Month
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <h2><b style=" text-decoration: underline;">Monthly maintenance report</b> </h2>
            <br />
            <table class="table" id="maintenance-report-table" style="margin-top: 2px">
                <thead class="table-bordered">
                    <tr style="background-color: #005983">
                        <th class="" scope="col" style="max-width:120px; color: white; text-align: center">Activity</th>
                        <th class="" scope="col" style="max-width: 100px; color: white; text-align: center">Status </th>
                        <th class="" scope="col" style="color: white; text-align: center">Remarks(if any)</th>
                        @*<th class="" scope="col">Additional comments</th>*@
                    </tr>
                </thead>

                @{
                    var MMActivities = new List<string>(){
                        "Cache files/Trash",
                        "Web Cleaner",
                        "Software updates",
                        "Data Storage",
                        "Speed check",
                        "CPU Test"
                    };
                }

                <tbody class="maintenance-report-table-grid">

                    @foreach (var activity in MMActivities)
                    {
                        <tr style="background-color: #fff" class="sample-it-maintenace-report">
                            <td scope="row" style="max-width: 120px"><a class="glyphicon glyphicon-remove" style="min-width: 1%; margin-left: -25px" href="javascript: void (0);" data-uniqueid="@ResourceManagement.Helpers.MVCExtension.GUIDGenerate()" onclick=DeleteMMReport(this)></a> <textarea class="form-control maintenance-activity" id="@ResourceManagement.Helpers.MVCExtension.GUIDGenerate()" style="min-width: 99%; margin-top: -20px; margin-left: 0px" rows="1">@activity</textarea></td>
                            <td scope="row" style="max-width:100px">
                                <select name="selectstatus" class="form-control form-select form-select-lg mb-3 selectstatus" id="@ResourceManagement.Helpers.MVCExtension.GUIDGenerate()" style="background-color:white">
                                    <option value="" disabled selected> -- Select Status -- </option>
                                    <option value="Activited">Activited</option>
                                    <option value="Blocked">Blocked</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Cleared">Cleared</option>
                                    <option value="Checked">Checked</option>
                                    <option value="Reported">Reported</option>
                                    <option value="Tested">Tested</option>
                                    <option value="Updated">Updated</option>
                                    <option value="Verified">Verified</option>
                                    <option value="NA">NA</option>
                                </select>
                            </td>
                            <td scope="row" style="max-width:200px"><textarea class="form-control maintenance-remarks" id="@ResourceManagement.Helpers.MVCExtension.GUIDGenerate()" style="min-width: 100%" rows="1"></textarea></td>
                            @* <td scope="row" style="max-width:200px"><textarea class="form-control maintenance-addi-comments" style="min-width: 100%" rows="1"></textarea> </td>*@

                        </tr>
                    }

                </tbody>
            </table>

            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-add-maintenance-report" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">Add Activity</b></button>
                <button type="submit" class="btn btn-info btn-lg btn-sumit-maintenance-report" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">Submit/Ack Report</b></button>
            </div>

        </div>
    </div>
</div>

<div>
    @{
        var itEmpEmailIds = "";
    }
    @foreach (var itAdmin in Model.ITAdminUsers)
    {
        itEmpEmailIds += itAdmin.AMBC_Mail_Address.Trim() + ",";
    }

    <div class="it-admin-list" style="display:none">@itEmpEmailIds.Trim(',')</div>
</div>

@using (Html.BeginForm("DownloadReport", "IT", FormMethod.Post, new { id = "itdownloadform" }))
{
    <input type="hidden" name="GridHtml" />
}

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml")
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml")

<br />
<script>

    function GenerateGUID() {
        let u = Date.now().toString(16) + Math.random().toString(16) + '0'.repeat(16);
        let guid = [u.substr(0, 8), u.substr(8, 4), '4000-8' + u.substr(13, 3), u.substr(16, 12)].join('-');
        return guid;
    }

    jQuery(document).on('change', 'textarea', function () {
        var currentField = jQuery(this);
        var fieldId = currentField.attr("id");

        if (jQuery('#' + fieldId).val() == "") {
            jQuery('#' + fieldId).css("border", "1px solid red");
        }
        else {
            jQuery('#' + fieldId).css("border", "1px solid green");
        }
    });

    jQuery(document).on("change", ".selectstatus", function () {
        var currentField = jQuery(this);
        var fieldId = currentField.attr("id");

        if (jQuery('#' + fieldId + ' :selected').val() == "") {
            jQuery('#' + fieldId).css("border", "1px solid red");
        }
        else {
            jQuery('#' + fieldId).css("border", "1px solid green");
        }
    });

    function DeleteMMReport(ele) {
        var parentElement = $(ele).parents('.sample-it-maintenace-report');
        parentElement.remove();
    }


    jQuery(".btn-add-maintenance-report").click(function () {
        //var sampletr = jQuery('.sample-it-maintenace-report');
        var trID = GenerateGUID();
        var sampletr = '<tr class="sample-it-maintenace-report dynamic-tr">'
            + '<td scope = "row" style = "max-width:120px"><a class="glyphicon glyphicon-remove" style="min-width: 1%; margin-left: -25px" href="javascript: void (0);" data-uniqueid="' + GenerateGUID() + '" onclick=DeleteMMReport(this)></a> <textarea class="form-control maintenance-activity" id="' + GenerateGUID()+'" style="min-width: 99%; margin-top: -20px; margin-left: 0px" rows="1" resize="none"></textarea></td>'
            + '<td scope="row" style="max-width:100px">'
            + '<select id="' + GenerateGUID()+'" name="selectstatus" class="form-control form-select form-select-lg mb-3 selectstatus" style="background-color:white">'
            + '<option disabled selected value=""> -- Select Status -- </option>'
            + '<option value="Activited">Activited</option>'
            + '<option value="Blocked">Blocked</option>'
            + '<option value ="Completed">Completed</option>'
            + '<option value="Cleared">Cleared</option>'
            + '<option value="Checked">Checked</option>'
            + '<option value="Reported">Reported</option>'
            + '<option value="Tested">Tested</option>'
            + '<option value="Updated">Updated</option>'
            + '<option value="Verified">Verified</option>'
            + '<option value="NA">NA</option>'
            + '</select>'
            + '</td>'
            + '<td scope="row" style="max-width:200px"><textarea id="' + GenerateGUID()+'" class="form-control maintenance-remarks" style="min-width: 100%"  rows="1" resize="none"></textarea></td>'
            //+ '<td scope="row" style="max-width:200px"><textarea class="form-control maintenance-addi-comments" style="min-width: 100%"  rows="1" resize="none"></textarea> </td>'
            + '</tr>';

        $('.maintenance-report-table-grid').append(sampletr);
    });

    //Final submit post confirmation
    jQuery(".btn-sumit-maintenance-report").click(function () {
        var isFormValidated = true;

        var isTableFieldsValidated = true;
        var activitytrs = $('.maintenance-report-table-grid tr');
        var activities = new Array();
        jQuery.each(activitytrs, function (i, tabletr) {

            var activityName = $(this).find('td .maintenance-activity').val();
            if (activityName == "") {
                $(this).find('td .maintenance-activity').css("border", "1px red solid");
                isTableFieldsValidated = false;
            }
            else {
                $(this).find('td .maintenance-activity').css("border", "1px solid green");

            }

            var activityStatus = $(this).find('td .selectstatus :selected').text();
            var activityVal = $(this).find('td .selectstatus :selected').val();
            if (activityVal == "") {
                $(this).find('td .selectstatus').css("border", "1px solid red");
                isTableFieldsValidated = false;
            }
            else {
                $(this).find('td .selectstatus').css("border", "1px solid green");
            }

            var activityRemarks = $(this).find('td .maintenance-remarks').val();
            if (activityRemarks == "") {
                $(this).find('td .maintenance-remarks').css("border", "1px solid red");
                isTableFieldsValidated = false;
            }
            else {
                $(this).find('td .maintenance-remarks').css("border", "1px solid green");
            }
            var activityAddlComments = $(this).find('td .maintenance-addi-comments').val();

            var activityModel = {
                ActivityName: activityName,
                Status: activityStatus,
                Remarks: activityRemarks,
                Additionalcomments: activityAddlComments
            };
            activities.push(activityModel);
        });

        isFormValidated = AssetFormValidated();

        if (isFormValidated == false || isTableFieldsValidated == false) {
            return;
        }

        var jsonActivityInfo = JSON.stringify(activities);

        var AMBCITMonthlyMaintenance = {
            EmployeeName: jQuery('#selectEmployeenameandemail :selected').text(),
            EmployeeID: jQuery('#selectEmployeenameandemail :selected').val().split('|')[0],
            Emailaddress: jQuery('#selectEmployeenameandemail :selected').val().split('|')[1],
            MaintenanceMonth: jQuery('#assetUploadMonth :selected').val(),
            AssetID: jQuery('#assetAssignID :selected').val(),

            //If the asset assetReportType value changes needs to update here as well
            //report type field is not in use
            ReportType: "Monthly Maintenance",
            Remarks: jQuery('#assetremarks').text(),
            UploadedByName: jQuery('.agent-full-name').text(),
            UploadedByID: jQuery('.agent-navdrop-empid').text(),
            UploadedByEmail: jQuery('.agent-navdrop-empemail').text(),
            PerformedActivityInfo: jsonActivityInfo,
            AMBCITMMUniqKey: jQuery('#selectEmployeenameandemail :selected').val().split('|')[0] + "_" + jQuery('#assetAssignID :selected').val() + "_" + jQuery('#assetUploadMonth :selected').val()
        };

        jQuery.ajax({
            type: "POST",
            url: "/it/mmreportgenerateajax",
            data: JSON.stringify({ monthlyMaintenanceModel: AMBCITMonthlyMaintenance, itadminIds: jQuery('.it-admin-list').text() }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                if (obj.JsonResponse.StatusCode == 200) {

                    var ITDownloadReportModel = {
                        FileName: "MMR-" + obj.inputObject.AMBCITMonthlyMaintenance.EmployeeName + "-" + obj.inputObject.AMBCITMonthlyMaintenance.MaintenanceMonth,
                        ReportMonth: obj.inputObject.AMBCITMonthlyMaintenance.MaintenanceMonth,
                        UniqueNumber: obj.inputObject.AMBCITMonthlyMaintenance.UniqNo,
                        EmpName: obj.inputObject.AMBCITMonthlyMaintenance.EmployeeName,
                        EmpID: obj.inputObject.AMBCITMonthlyMaintenance.EmployeeID,
                        ReportType: "MM Report",
                        AssetID: obj.inputObject.AMBCITMonthlyMaintenance.AssetID,
                    }

                    var GridHtml = JSON.stringify(ITDownloadReportModel).toString();
                    $("input[name='GridHtml']").val(GridHtml);

                    jQuery('.success-message-popup-title').html("Hey there");
                    jQuery('.database-response').html("<h2>MM report acknowledge email sent successfully!. click <a class='mm-report-download' href='#'>here<a> to download the report</h2>");
                    jQuery('.message-success-popup').modal('show');

                    jQuery("#selectEmployeenameandemail").val($("#selectEmployeenameandemail option:first").val());

                    jQuery('#assetAssignID').empty();
                    jQuery('#assetAssignID').append(' <option value="" disabled selected>Select Asset ID</option>');

                    jQuery("#assetUploadMonth").val($("#assetUploadMonth option:first").val());

                    jQuery(".selectstatus").val($(".selectstatus option:first").val());
                    jQuery(".maintenance-remarks").val("");
                    jQuery('.dynamic-tr').empty();
                }
                else {
                    jQuery('.error-message-popup-title').html("Hey there");
                    jQuery('.database-response').html("<h2>" + obj.JsonResponse.Message + "</h2>");
                    jQuery('#modal-db-error-alert').modal('show');
                }
            }
        });
    });


    jQuery(document).on('click', '.mm-report-download', function () {

        $('form#itdownloadform').submit();
    });

</script>
