@model ResourceManagement.Models.IT.ITModel

@{
    ViewBag.Title = "Asset Upload Report Page";
}

<style>
    #maintenance-report-table textarea {
        resize: none;
    }
</style>

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel)

<div class="card card-body" style="border-radius: 10px">
    <div class="card upload-it-report-card">
        <div class="card-body ">

            <div class="row">
                <div class="col-md-4">
                    <div class="form-group selectemp-div">
                        <label for="assetemployeename">Employee Name<b style="color:red">*</b></label>
                        <select id="selectEmployeenameandemail" name="assetemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                            <option disabled selected> -- Select Employee Name -- </option>
                        </select>
                    </div>

                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetAssignID">Asset ID<b style="color:red">*</b></label>
                        <select id="assetAssignID" name="assetAssignID" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Asset ID</option>
                            @*@foreach (var asset in Model.AmbcNewITAssetMgmt)
                                {
                                    <option value="@asset.AssetSerialNo">@asset.AssetSerialNo</option>
                                }*@
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="assetUploadMonth">Month<b style="color:red">*</b></label>
                        <select id="assetUploadMonth" name="assetUploadMonth" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Month</option>
                            @foreach (var month in Model.MonthsList)
                            {
                                <option value="@month.Value">@month.Text</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <br />

            <h2><b style=" text-decoration: underline;">Monthly maintenance report</b> </h2>
            <br />
            <table class="table" id="maintenance-report-table" style="margin-top: 2px">
                <thead class="table-bordered">
                    <tr style="background-color: #005983">
                        <th class="" scope="col" style="max-width:120px; color: white">Activity</th>
                        <th class="" scope="col" style="max-width: 100px; color: white">Status </th>
                        <th class="" scope="col" style="color: white">Remarks</th>
                        @*<th class="" scope="col">Additional comments</th>*@
                    </tr>
                </thead>

                @{
                    var MMActivities = new List<string>(){
                        "Cache files/Trash",
                        "Web Cleaner",
                        "Software updates",
                        "Data Storage",
                        "Speed check",
                        "CPU Test"
                    };
                }

                <tbody class="maintenance-report-table-grid">

                    @foreach (var activity in MMActivities)
                    {
                        <tr style="background-color: #fff">
                            <td scope="row" style="max-width: 120px"><textarea class="form-control maintenance-activity" style="min-width: 100%" rows="1">@activity</textarea></td>
                            <td scope="row" style="max-width:100px">
                                <select id="selectstatus" name="selectstatus" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                                    <option disabled selected> -- Select Status -- </option>
                                    <option value="Activited">Activited</option>
                                    <option value="Blocked">Blocked</option>
                                    <option value="Completed">Completed</option>
                                    <option value="Cleared">Cleared</option>
                                    <option value="Checked">Checked</option>
                                    <option value="Reported">Reported</option>
                                    <option value="Tested">Tested</option>
                                    <option value="Updated">Updated</option>
                                    <option value="Verified">Verified</option>
                                    <option value="NA">NA</option>
                                </select>
                            </td>
                            <td scope="row" style="max-width:200px"><textarea class="form-control maintenance-remarks" style="min-width: 100%" rows="1"></textarea></td>
                            @* <td scope="row" style="max-width:200px"><textarea class="form-control maintenance-addi-comments" style="min-width: 100%" rows="1"></textarea> </td>*@

                        </tr>
                    }

                </tbody>
            </table>

            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-add-maintenance-report" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">Add Activity</b></button>
                <button type="submit" class="btn btn-info btn-lg btn-sumit-maintenance-report" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">Submit/Ack Report</b></button>
            </div>

        </div>
    </div>
</div>

<div>
    @{
        var itEmpEmailIds = "";
    }
    @foreach (var itAdmin in Model.ITAdminUsers)
    {
        itEmpEmailIds += itAdmin.AMBC_Mail_Address.Trim() + ",";
    }

    <div class="it-admin-list" style="display:none">@itEmpEmailIds.Trim(',')</div>
</div>

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml")
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml")

<br />
<script>

    jQuery("#selectEmployeenameandemail").change(function (evt) {
        GetAssetsByEmpID(jQuery('#selectEmployeenameandemail :selected').val().split('|')[0]);
    });


    jQuery(".btn-add-maintenance-report").click(function () {
        //var sampletr = jQuery('.sample-it-maintenace-report');

        var sampletr = '<tr class="sample-it-maintenace-report">'
            + '<td scope = "row" style = "max-width:120px" > <textarea class="form-control maintenance-activity" style="min-width: 100%" rows="1" resize="none"></textarea></td>'
            + '<td scope="row" style="max-width:100px">'
            + '<select id="selectstatus" name="selectstatus" class="form-control form-select form-select-lg mb-3" style="background-color:white">'
            + '<option disabled selected> -- Select Status -- </option>'
            + '<option value="Activited">Activited</option>'
            + '<option value="Blocked">Blocked</option>'
            + '<option value = "Completed" >Completed</option>'
            + '<option value="Cleared">Cleared</option>'
            + '<option value="Checked">Checked</option>'
            + '<option value="Reported">Reported</option>'
            + '<option value="Tested">Tested</option>'
            + '<option value="Updated">Updated</option>'
            + '<option value="Verified">Verified</option>'
            + '<option value="NA">NA</option>'
            + '</select>'
            + '</td>'
            + '<td scope="row" style="max-width:200px"><textarea class="form-control maintenance-remarks" style="min-width: 100%"  rows="1" resize="none"></textarea></td>'
            //+ '<td scope="row" style="max-width:200px"><textarea class="form-control maintenance-addi-comments" style="min-width: 100%"  rows="1" resize="none"></textarea> </td>'
            + '</tr>';

        $('.maintenance-report-table-grid').append(sampletr);
    });

    //Final submit post confirmation
    jQuery(".btn-sumit-maintenance-report").click(function () {

        var activitytrs = $('.maintenance-report-table-grid tr');
        var activities = new Array();
        jQuery.each(activitytrs, function (i, tabletr) {
            var activityName = $(this).find('td .maintenance-activity').val();
            var activityStatus = $(this).find('td #selectstatus :selected').text();
            var activityRemarks = $(this).find('td .maintenance-remarks').val();
            var activityAddlComments = $(this).find('td .maintenance-addi-comments').val();

            var activityModel = {
                ActivityName: activityName,
                Status: activityStatus,
                Remarks: activityRemarks,
                Additionalcomments: activityAddlComments
            };
            activities.push(activityModel);
        });

        var jsonActivityInfo = JSON.stringify(activities);

        var AMBCITMonthlyMaintenance = {
            EmployeeName: jQuery('#selectEmployeenameandemail :selected').text(),
            EmployeeID: jQuery('#selectEmployeenameandemail :selected').val().split('|')[0],
            Emailaddress: jQuery('#selectEmployeenameandemail :selected').val().split('|')[1],
            MaintenanceMonth: jQuery('#assetUploadMonth :selected').val(),
            AssetID: jQuery('#assetAssignID :selected').val(),

            //If the asset assetReportType value changes needs to update here as well
            //report type field is not in use
            ReportType: "Monthly Maintenance",
            Remarks: jQuery('#assetremarks').text(),
            UploadedByName: jQuery('.agent-full-name').text(),
            UploadedByID: jQuery('.agent-navdrop-empid').text(),
            UploadedByEmail: jQuery('.agent-navdrop-empemail').text(),
            PerformedActivityInfo: jsonActivityInfo
        };

        jQuery.ajax({
            type: "POST",
            url: "/it/mmreportgenerateajax",
            data: JSON.stringify({ monthlyMaintenanceModel: AMBCITMonthlyMaintenance, itadminIds: jQuery('.it-admin-list').text() }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                jQuery.each(data.EmpSpecificAssets, function (i, item) {
                    jQuery('#assetAssignID').empty();
                    $('#assetAssignID').append('<option value="' + item.AssetSerialNo + '">' + item.AssetSerialNo + '</option>');
                });
            }
        });
    });

</script>
