@model ResourceManagement.Models.IT.ITMaintenanceEmailAck

@{
    ViewBag.Title = "TimeSheet Email ACK Report Page";
}

<style>
    body {
        background-color: #fff;
        font-family: Calibri;
        font-size: initial;
        color: #2167ae;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        text-align: left;
        padding: 8px;
        border: 0px !important;
    }

    tr:nth-child(even) {
        background-color: grey;
    }

    .time-header {
        color: white;
    }


    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .emailbody {
        font-family: "Lato", sans-serif;
    }

    .email-footer {
        background-color: #eee;
        font-size: medium;
        height: 25px;
        border-radius: 20px;
    }

    .emailbodycontent {
        font-family: "Lato", sans-serif;
        color: #2167ae;
    }

    #specifyColor {
        accent-color: #d3d3d3;
    }

    .circle {
        height: 20px;
        width: 20px;
        background-color: #d3d3d3;
        border-radius: 50%;
    }
</style>

@if (Model != null)
{
    <div class="emailbodycontent">
        <table>
            <tr>
                <td>
                    <div class="emailbody" style="font-family: Calibri;">
                        <h2>Hi <b>@Model.AMBCITMonthlyMaintenance.EmployeeName</b>,</h2>
                        <br />
                        Thank you so much for the acknowledgement, much appreciated.
                        <br /> <br />
                    </div>
                </td>
                <td>
                    <div>
                        <img class=" preload-me" src="https://ambconline.com/wp-content/uploads/2020/12/188x80.png" srcset="https://ambconline.com/wp-content/uploads/2020/12/188x80.png 188w, https://ambconline.com/wp-content/uploads/2020/12/188x80.png 188w" width="188" height="80" sizes="188px" alt="AMBC Inc">
                    </div>
                </td>
            </tr>

        </table>
        <div class="clearfix"></div>

        <table style="background-color: lightblue !important; width: 80% !important; font-size: medium !important">

            <tr>
                <td style="width: 30%">
                    <b>Employee Name:</b> @Model.SelectedEmp[0].Employee_Name
                </td>

                <td style="width: 30%">
                    <b>Employee ID:</b> @Model.SelectedEmp[0].Employee_ID
                </td>
            </tr>

            <tr style="background-color: lightblue !important; width: 80% !important; font-size: medium !important">
                <td style="width: 30%">
                    <b>Role:</b> @Model.SelectedEmp[0].Designation
                </td>
                <td style="width: 30%">
                    <b>Asset#:</b> @Model.AMBCITMonthlyMaintenance.AssetID
                </td>
            </tr>
        </table>
        <br />
        <br />

        <br />
        <br />

    </div>
}





