@model ResourceManagement.Models.IT.ITModel

@{
    ViewBag.Title = "Asset Upload Report Page";
}

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel);

<div class="card card-body" style="border-radius: 10px">
    <div class="card upload-it-report-card">
        <div class="card-body ">
            <form class="needs-validation it-upload-form" novalidate>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group selectemp-div">
                            <label for="selectEmployeenameandemail">Employee Name<b style="color:red">*</b></label>
                            <select id="selectEmployeenameandemail" name="selectEmployeenameandemail" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                                <option disabled selected> -- Select Employee Name -- </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="assetAssignID">Asset ID<b style="color:red">*</b></label>
                            <select id="assetAssignID" name="assetAssignID" class="form-control form-select form-select-lg mb-3" required>
                                <option value="" disabled selected>Select Asset ID</option>
                                @foreach (var asset in Model.AmbcNewITAssetMgmt)
                                {
                                    <option value="@asset.AssetSerialNo">@asset.AssetSerialNo</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="assetUploadMonth">Month<b style="color:red">*</b></label>
                            <select id="assetUploadMonth" name="assetUploadMonth" class="form-control form-select form-select-lg mb-3" required>
                                <option value="" disabled selected>Select Month</option>
                                @foreach (var month in Model.MonthsList)
                                {
                                    <option value="@month.Value">@month.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="assetReportType">Report Type<b style="color:red">*</b></label>
                            <select id="assetReportType" name="assetReportType" class="form-control form-select form-select-lg mb-3" required>
                                <option value="" disabled selected>Select Report Type</option>
                                @*<option value="Monthly Maintenance">Monthly Maintenance</option>*@
                                <option value="Vulnerability">Vulnerability</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">

                        <div class="form-group">
                            <label for="reportupload">Upload Report:<b style="color:red">*</b></label>
                            <div class="form-control">
                                <input type="file" name="ExcelFile" id="reportupload" required />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="assetremarks">Remarks<b style="color:red"> </b></label>
                            <textarea class="form-control" id="assetremarks" style="min-width: 100%" placeholder="Incident Description" required></textarea>
                        </div>
                    </div>
                </div>

                <br />
                <div class="modal-footer mt-xl-4">
                    <button type="submit" class="btn btn-info btn-lg btn-upload-it-report" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">Upload Report</b></button>
                </div>
            </form>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml");
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml");

<br />
<script>

    jQuery("#selectEmployeenameandemail").change(function (evt) {
        GetAssetsByEmpID(jQuery('#selectEmployeenameandemail :selected').val().split('|')[0]);
    });

    // Create FormData object
    var fileData = new FormData();

    jQuery("#reportupload").change(function () {

        var fileUpload = $("#reportupload").get(0);
        var files = fileUpload.files;

        fileData = new FormData();

        // Looping over all files and add it to FormData object
        for (var i = 0; i < files.length; i++) {
            fileData.append("ExcelFile", files[i]);
        }
    });

    //Final submit post confirmation
    jQuery(".btn-upload-it-report").click(function () {
        var empName = jQuery('#selectEmployeenameandemail :selected').text();
        var EmployeeID = jQuery('#selectEmployeenameandemail :selected').val().split('|')[0];
        var Emailaddress = jQuery('#selectEmployeenameandemail :selected').val().split('|')[1];
        var reportMonth = jQuery('#assetUploadMonth :selected').val();
        var AssetID = jQuery('#assetAssignID :selected').val();
        var ReportType = jQuery('#assetReportType :selected').val();
        var Remarks = jQuery('#assetremarks').val();
        var UploadedByEmpName = jQuery('.agent-full-name').text();
        var UploadedByEmpID = jQuery('.agent-navdrop-empid').text();
        var UploadedByEmpEmail = jQuery('.agent-navdrop-empemail').text();

        fileData.append('EmployeeName', empName);
        fileData.append('EmployeeID', EmployeeID);
        fileData.append('Emailaddress', Emailaddress);
        fileData.append('UploadedMonth', reportMonth);
        fileData.append('AssetID', AssetID);
        fileData.append('ReportType', ReportType);
        fileData.append('Remarks', Remarks);
        fileData.append('Uploadedbyempid', UploadedByEmpID);
        fileData.append('Uploadedempname', UploadedByEmpName);
        fileData.append('UploadedByEmpEmail', UploadedByEmpEmail);

        jQuery.ajax({
            type: "POST",
            url: "/it/itreportsuploadajax",
            datatype: 'json',
            contentType: false,
            processData: false,
            async: false,
            data: fileData,
            success: function (data) {
                fileData = new FormData();
                if (data.jsonResponse.StatusCode == 200) {
                    window.location.href = "/it/uploadreport?success=true&selectedemp=" + empName;
                }
                else {
                    window.location.href = "/it/uploadreport?success=false&error=" + data.jsonResponse.Message + "";
                }
                jQuery('.upload-it-report-card').empty();
                fileData = new FormData();
            }
        });
    });

</script>
