@model ResourceManagement.Models.IT.ITModel

@{
    ViewBag.Title = "Asset Assign Page";
    var bannerModel = new ResourceManagement.Models.BannerInfo();
    bannerModel.BannerName = "VIEW ASSETS";
    bannerModel.BannerImagePath = "/Assets/Banner/asset-history.png";
}

<style>
    div.boxItem {
        display: inline-block;
        border: 1px solid black;
        padding: 1em;
    }

    div.line {
        display: inline-block;
        border-top: 1px solid black;
        width: 2em;
    }

    .vertical {
        border-left: 3px solid black;
        height: 35px;
        position: absolute;
        left: 50%;
        margin-top: -35px;
    }

    .center {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding: 10px;
    }

    .asset-details p {
        margin-bottom: 0rem;
    }

    .asset-details {
        margin-top: -85px;
        margin-left: 120px;
        font-size: unset;
    }

    .asset-details-child p {
        margin-bottom: 0rem;
    }

    .asset-details-child {
        margin-top: -85px;
        margin-left: 100px;
        font-size: unset;
    }

    .asset-info {
        border: 2px solid green;
        height: 100px;
        margin-top: 25px;
        width: 300px;
        background-color: lightgoldenrodyellow
    }



    .asset-emp {
        border: 1px solid #3a3d6e;
        height: 110px;
        margin-top: 35px;
    }
</style>

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel)
@Html.Partial("~/Views/Home/_BannerInfo.cshtml", bannerModel)

<div class="card card-body" style="border-radius: 10px">
    <div class="card timesheet-card">
        <div class="card-body ">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="assetfilterby">Filter By<b style="color:red">*</b></label>
                    <select id="assetfilterby" name="assetfilterby" class="form-control form-select form-select-lg mb-3">
                        <option value="" disabled selected>Select Type</option>
                        <option value="Asset">Asset</option>
                        <option value="Employee">Employee</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4 asset-emp-div" style="display: none">
                <div class="form-group selectemp-div">
                    <label for="assetemployeename">Employee Name<b style="color:red">*</b></label>
                    <select id="selectEmployeenameandemail" name="assetemployeename" class="form-control form-select form-select-lg mb-3" style="background-color:white">
                        <option disabled selected value=""> -- Select Employee Name -- </option>
                    </select>
                </div>
            </div>

            <div class="col-md-4 asset-type-div" style="display: none">
                <div class="form-group">
                    <label for="assetassettype-view">Asset Type<b style="color:red">*</b></label>
                    <select id="assetassettype-view" name="assetassettype-view" class="form-control form-select form-select-lg mb-3">
                        <option value="" disabled selected>Select Type</option>
                        <option value="All">All</option>
                        @foreach (var assetType in Model.AssetTypes)
                        {
                            <option value="@assetType.AssetType1">@assetType.AssetType1</option>
                        }
                    </select>
                </div>
            </div>

            <div class="col-md-4 asset-category-div" style="display: none">
                <div class="form-group">
                    <label for="assetcategory">Category<b style="color:red">*</b></label>
                    <select id="assetcategory" name="assetcategory" class="form-control form-select form-select-lg mb-3">
                        <option value="" disabled selected>Select Category</option>
                        <option value="All">All</option>
                        <option value="Assigned">Assigned</option>
                        <option value="Not Assigned">Not Assigned</option>

                    </select>
                </div>
            </div>
            <div class="col-md-4 asset-assetid-div" style="display: none">
                <div class="form-group">
                    <label for="assetAssignID">Asset ID<b style="color:red">*</b></label>
                    <select id="assetAssignID" name="assetAssignID" class="form-control form-select form-select-lg mb-3">
                        <option value="" disabled selected>Select Asset ID</option>
                    </select>
                </div>
            </div>


            <br />
            <div class="clearfix"></div>
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-view-assets" style="width:100px; height:35px; border-radius:10px"><b style="font-size: 16px">View Asset's</b></button>
            </div>

        </div>
    </div>
</div>
<br />
<br />




<div class="card card-body" style="border-radius: 10px">
    <div class="card">
        <div class="card-body ">
            <div class="assets-info-container"></div>
        </div>
    </div>
</div>

@*<div style="display: none" class="showassetinfo">
        @Html.Partial("~/Views/IT/_AssetInfo.cshtml", Model)
    </div>*@



<div class="modal" tabindex="-1" role="dialog" id="modal-warning-message-popup">
    <div class="modal-dialog" role="document" style="max-width: 95% !important; height: 200px !important">
        <div class="modal-content" style="overflow: auto">

            <div class="modal-body" style="text-align: left">
                <h2 class="warning-message-popup-title"></h2>
                <div class="custom-container-fullwidth100">
                    <div class="center asset-info ">
                        <img alt="" src="~/Assets/Laptop.jpg" width="120" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" style="margin-left: -5px; max-width: 90px;height: 90px; margin-top: -6px;">

                        <div class="asset-details">
                            <p style="color: green; font-weight: bold">
                                Dell Laptop
                            </p>
                            <p style="color: #3a3d6e; ">
                                <b>Asset#:</b> 10/08/2020
                            </p>
                            <p style="color: #3a3d6e;  ">
                                <b>Warranty Startdate:</b>  10/08/2023
                            </p>
                            <p style="color: #3a3d6e;  ">
                                <b>Warranty enddate:</b> Hyderabad
                            </p>
                            <p style="color: #3a3d6e;">
                                <b>Location:</b>  Hyderabad
                            </p>
                        </div>

                    </div>
                    <br />
                    <hr class="custom-container-fullwidth" style="border: 2px solid gray; width: 95% !important; margin-bottom: 0px !important" />

                    <div class="custom-container-fullwidth" style="width: 95% !important">

                        <div style="" class="col-lg-2 asset-emp">
                            <div class="vertical"></div>
                            <img alt="" src="/Assets/EmployeeImagesPNG/1143.png" width="120" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" style="margin-left: -10px; max-width: 90px;height: 90px; margin-top: 10px;">

                            <div class="asset-details-child">
                                <p style="color: green;">
                                    <b>Kalyan Kumar Doma</b>
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>From Date:</b> 10/08/2020
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>To Date:</b> 10/08/2023
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>Location:</b>  Hyderabad
                                </p>
                                <p style="color: #3a3d6e;">
                                    <b>Client:</b> Littelfuse
                                </p>
                            </div>
                        </div>

                        <div style="margin-left: 55px" class="col-lg-2 asset-emp">
                            <div class="vertical"></div>
                            <img alt="" src="~/Assets/mouse.jpg" width="120" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" style="margin-left: -10px; max-width: 90px;height: 90px; margin-top: 10px;">

                            <div class="asset-details-child">
                                <p style="color: green;">
                                    <b>Dell Mouse</b>
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>From Date:</b> 10/08/2020
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>To Date:</b> 10/08/2023
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>Location:</b>  Hyderabad
                                </p>
                                <p style="color: #3a3d6e;">
                                    <b>Client:</b> Littelfuse
                                </p>
                            </div>
                        </div>

                        <div style="margin-left: 55px" class="col-lg-2 asset-emp">
                            <div class="vertical"></div>
                            <img alt="" src="~/Assets/charger.jpg" width="120" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" style="margin-left: -10px; max-width: 90px;height: 90px; margin-top: 10px;">

                            <div class="asset-details-child">
                                <p style="color: green;">
                                    <b>Charger</b>
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>From Date:</b> 10/08/2020
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>To Date:</b> 10/08/2023
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>Location:</b>  Hyderabad
                                </p>
                                <p style="color: #3a3d6e;">
                                    <b>Client:</b> Littelfuse
                                </p>
                            </div>
                        </div>

                        <div style="margin-left: 55px" class="col-lg-2 asset-emp">
                            <div class="vertical"></div>
                            <img alt="" src="~/Assets/headset.jpg" width="120" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" style="margin-left: -10px; max-width: 90px;height: 90px; margin-top: 10px;">

                            <div class="asset-details-child">
                                <p style="color: green;">
                                    <b>Headset</b>
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>From Date:</b> 10/08/2020
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>To Date:</b> 10/08/2023
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>Location:</b>  Hyderabad
                                </p>
                                <p style="color: #3a3d6e;">
                                    <b>Client:</b> Littelfuse
                                </p>
                            </div>
                        </div>

                        <div style="margin-left: 55px; background-color: black; color: white" class="col-lg-2 asset-emp">
                            <div class="vertical"></div>
                            <img alt="" src="~/Assets/sold.png" width="120" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" style="margin-left: -10px; max-width: 90px;height: 90px; margin-top: 10px;">

                            <div class="asset-details-child">
                                <p style="color: white;">
                                    <b>SOLDOUT</b>
                                </p>
                                <p style="color: white; ">
                                    <b>Vendor:</b> Satyam Computers
                                </p>
                                <p style="color: white; ">
                                    <b>Date:</b> 10/08/2023
                                </p>
                                <p style="color: white; ">
                                    <b>Location:</b>  Hyderabad
                                </p>
                                <p style="color: white;">
                                    <b>Price:</b> 3000/-
                                </p>
                            </div>
                        </div>
                    </div>

                    <p style="height: 40px" />
                    <br />

                    <div class="custom-container-fullwidth" style="width: 95% !important; margin-top: 40px">

                        <div style="" class="col-lg-2 asset-emp">
                            <div class="vertical"></div>
                            <img alt="" src="/Assets/EmployeeImagesPNG/1075.png" width="120" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" style="margin-left: -10px; max-width: 90px;height: 90px; margin-top: 10px;">

                            <div class="asset-details-child">
                                <p style="color: green;">
                                    <b>Ravi Kumar Manthri</b>
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>From Date:</b> 10/08/2020
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>To Date:</b> 10/08/2023
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>Location:</b>  Hyderabad
                                </p>
                                <p style="color: #3a3d6e;">
                                    <b>Client:</b> Littelfuse
                                </p>
                            </div>
                        </div>

                        <div style="margin-left: 55px" class="col-lg-2 asset-emp">
                            <div class="vertical"></div>
                            <img alt="" src="~/Assets/mouse.jpg" width="120" class="card-img-top img-fluid rounded-circle img-fluid-dashboard" style="margin-left: -10px; max-width: 90px;height: 90px; margin-top: 10px;">

                            <div class="asset-details-child">
                                <p style="color: green;">
                                    <b>HP Mouse</b>
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>From Date:</b> 10/08/2020
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>To Date:</b> 10/08/2023
                                </p>
                                <p style="color: #3a3d6e; ">
                                    <b>Location:</b>  Hyderabad
                                </p>
                                <p style="color: #3a3d6e;">
                                    <b>Client:</b> Littelfuse
                                </p>
                            </div>
                        </div>
                    </div>

                    <br />
                    <br />
                </div>
            </div>

            <div class="modal-footer header-nav-modalfooter">
                <button type="button" class="btn btn-secondary modal-warning-popup-btn" data-dismiss="modal" style="margin-top: 0px; margin-right: 0px"><b style="font-size:medium">Close</b></button>
            </div>



        </div>
    </div>
</div>

<br />

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml", Model.RMA_EmployeeModel)
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml")

<div class="modal" tabindex="-1" role="dialog" id="modal-edit-form-popup" data-editrecorduniquenum="">
    <div class="modal-dialog" role="document" style="max-width: 90% !important; ">
        <div class="modal-content">
            <div class="modal-header" style="font-size: medium; background-color: #032d42 !important; display: flex; flex-direction: column-reverse; align-content: stretch; flex-wrap: wrap; justify-content: space-evenly; align-items: flex-end; ">
                <div style="border: 2px solid red !important; width: 20px !important; border-radius: 10px !important"><b class="close-popup" style="color: white !important; margin-left: 3px !important">X</b></div>
            </div>
            <div class="modal-body">
                @{
                    Model.ActionType = "edit-action";
                }

                @Html.Partial("~/Views/IT/_AssetInfo.cshtml", Model)
            </div>
            <div class="">

            </div>
        </div>
    </div>
</div>

<script>




    // If employee works multiple projects then based on client updateing the employee details like Client name project name reportung managet etc..
    jQuery('#assetAssignID').change(function (evt) {
        jQuery('.showassetinfo').show();
    });

    jQuery(document).on("change", "#assetfilterby", function () {
        if (jQuery(this).val() == "Asset") {
            jQuery('.asset-type-div').show();
            jQuery('.asset-category-div').show();

            jQuery('.asset-emp-div').hide();
            jQuery('.asset-assetid-div').hide();

        }
        else {

            jQuery("#selectEmployeenameandemail").val($("#selectEmployeenameandemail option:first").val());

            jQuery('.asset-emp-div').show();
            jQuery('.asset-assetid-div').show();

            jQuery('.asset-type-div').hide();
            jQuery('.asset-category-div').hide();
        }
    });


    jQuery(document).on("click", ".btn-view-assets", function () {
        var GetAssetModel = {
            EmployeeID: jQuery('#selectEmployeenameandemail :selected').val().split('|')[0],
            EmployeeName: jQuery('#selectEmployeenameandemail :selected').text(),
            AssetID: jQuery('#assetAssignID :selected').val(),
            AssetType: jQuery('#assetassettype-view :selected').val(),
            Category: jQuery('#assetcategory :selected').val(),
            FilterBy: jQuery('#assetfilterby :selected').val()
        };

        jQuery.ajax({
            type: "POST",
            url: "/it/getassets",
            data: JSON.stringify({ getAssetModel: GetAssetModel }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                jQuery('.assets-info-container').html(data);
            }
        });
    });


    jQuery(document).on("click", ".a-history", function (e) {
        e.preventDefault();
        jQuery('#modal-warning-message-popup').show();

    });

    function EditAssetReport(ele) {
        jQuery("tr").removeClass("selectedassetrecord");
        var uniqueNum = $(ele).parents('.assets-report-tr').attr("data-uniqueid");
        $(ele).parents('.assets-report-tr').addClass('selectedassetrecord');
        jQuery('#modal-edit-form-popup').attr("data-editrecorduniquenum", uniqueNum);

        jQuery.ajax({
            type: "POST",
            url: "/it/getasset",
            data: JSON.stringify({ uniqueID: uniqueNum }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                jQuery('#modal-edit-form-popup').modal('show');
                var obj = jQuery.parseJSON(data);

                jQuery("#assetallocationstatus-info").val(obj.AssetAllocationStatus).attr("selected", "selected");
                //jQuery('#assetPurchaseDate').val(obj.AssetAllocationStatus);

                jQuery("#assetVendorLocation-info").val(obj.AssetPurchaseLocation).attr("selected", "selected");
                jQuery("#assetVendor-info").val(obj.AssetPurchaseVendor).attr("selected", "selected");

                jQuery('#assetdescription-info').val(obj.AssetDescription);
                jQuery("#assetassettype-info").val(obj.AssetType).attr("selected", "selected");
                jQuery('#assetmanufacturer-info').val(obj.AssetManufacturer);

                //jQuery('#assetassignedasset').val();

                jQuery('#assetchargerdetails-info').val(obj.ChargerCapicity);
                jQuery('#assetchargerid-info').val(obj.ChargerSerialNo);
                jQuery('#assethostname-info').val(obj.AssetHostName);
                jQuery('#assetmousedetails-info').val(obj.MouseDetail);
                jQuery('#assetmodel-info').val(obj.AssetModel);

                jQuery('#assetaccesscontrol-info').val(obj.AccessControl);

                //jQuery('#assetfunctionality :selected').val()

                jQuery("#assetusbport-info").val(obj.USBPortStatus).attr("selected", "selected");
                jQuery('#assetchargerid-info').val(obj.ChargerSerialNo);
                jQuery('#assetheadsets-info').val(obj.HeadsetDetail);

                //jQuery('#assetbarcodeid').val();

                jQuery('#assetservicetag-info').val(obj.ServiceTag);
                jQuery('#assetmac-info').val(obj.AssetMacNo);
                jQuery('#assetid-info').val(obj.AssetSerialNo);

                jQuery("#assetosversion-info").val(obj.OperatingSystemDetail).attr("selected", "selected");

                //jQuery('#assetipaddress').val();

                //jQuery('#assetwifiip').val();

                jQuery('#assetwarrantystartdate-info').val(moment(obj.WarrentyStartDate).format('YYYY-MM-DD'));
                jQuery('#assetwarantyenddate-info').val(moment(obj.WarrentyEndDate).format('YYYY-MM-DD'));
                jQuery("#assetwarrantystatus-info").val(obj.WarrentyStatus).attr("selected", "selected");
                jQuery("#assetram-info").val(obj.RAM_Size).attr("selected", "selected");

                //jQuery('#assetos').val();
                jQuery("#assetsoldout-info").val(obj.SoldOutStatus).attr("selected", "selected");
                jQuery('#assetremarks-info').val(obj.AssetRemarks);

                jQuery('#assetsoldoutdate-info').val(moment(obj.SoldOutDate).format('YYYY-MM-DD'));
                jQuery('#assetsoldoutprice-info').val(obj.SoldoutPrice)

                jQuery('#assetsoldoutvendor-info').val(obj.SoldOutVendor);

                //ON POPUP LOAD
                AssetType();
                AssetSoldOut();
            }
        });
    }

    jQuery(document).on("click", ".close-popup", function (e) {
        e.preventDefault();
        jQuery('#modal-edit-form-popup').hide();
        jQuery('#modal-edit-form-popup').modal('hide');
    });


    jQuery(document).on("click", ".modal-warning-popup-btn", function (e) {
        e.preventDefault();
        jQuery('#modal-warning-message-popup').hide();
    });


</script>
