@model ResourceManagement.Models.IT.ITModel

@{
    ViewBag.Title = "View Vendor page";

    var bannerModel = new ResourceManagement.Models.BannerInfo();
    bannerModel.BannerName = "VIEW VENDORS";
    bannerModel.BannerImagePath = "/Assets/Banner/vendor.jpg";

}

@Html.Partial("~/Views/Home/_MenuNavigation.cshtml", Model.RMA_EmployeeModel)

@Html.Partial("~/Views/Home/_BannerInfo.cshtml", bannerModel)

<div class="card card-body" style="border-radius: 10px">
    <div class="card upload-it-report-card">
        <div class="card-body ">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="vendorlocation">Vendor Location<b style="color:red">*</b></label>
                        <select id="vendorlocation" name="vendorlocation" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Location</option>
                            @foreach (var location in Model.Locations)
                            {
                                <option value="@location.LocationName">@location.LocationName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="vendorstatus">Vendor Status<b style="color:red">*</b></label>
                        <select id="vendorstatus" name="vendorstatus" class="form-control form-select form-select-lg mb-3" required>
                            <option value="" disabled selected>Select Status</option>
                            <option value="Active">Active</option>
                            <option value="In-Active">In-Active</option>
                        </select>
                    </div>
                </div>
            </div>

            <br />
            <div class="modal-footer mt-xl-4">
                <button type="submit" class="btn btn-info btn-lg btn-view-vendor-report" style="width:150px; height:35px; border-radius:10px"><b style="font-size: 16px">View Vendors</b></button>
            </div>
        </div>
    </div>
</div>

<br />
<br />
<div class="card card-body vendors-report-body" style="border-radius: 10px;">
    <div class="card vendors-report-card">
        <div class="card-body ">
            <input type="hidden" name="GridHtml" />
            <div id="report-container">
                <table class="table-leaveinfo" style="margin-top: 4px; width:100%">
                    <thead class="table-bordered" style="height: 35px !important">
                        <tr style="background-color: #005983">
                            <th class="" scope="col" width="30" style="color: white; text-align: center;">Action</th>
                            <th class="" scope="col" width="30" style="color: white; text-align: center">Name</th>
                            <th class="" scope="col" width="30" style="color: white; text-align: center">Email</th>
                            <th class="" scope="col" width="30" style="color: white; text-align: center">Location</th>
                            <th class="" scope="col" width="30" style="color: white; text-align: center">Contact</th>
                            <th class="" scope="col" width="30" style="color: white; text-align: center">Status</th>
                            <th class="" scope="col" width="30" style="color: white; text-align: center">Address</th>
                            <th class="" scope="col" width="30" style="color: white; text-align: center">Remarks</th>

                        </tr>
                    </thead>

                    <tbody class="vendorreport-table-grid">
                        <tr style="background-color: #ccffcc">
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_EmployeeDetails.cshtml")
@Html.Partial("~/Views/Home/_ModalAlerts.cshtml")

<div class="modal" tabindex="-1" role="dialog" id="modal-edit-form-popup" data-editrecorduniquenum="">
    <div class="modal-dialog" role="document" style="max-width: 90% !important">
        <div class="modal-content">
            <div class="modal-header" style="font-size: medium; background-color: #032d42 !important; display: flex; flex-direction: column-reverse; align-content: stretch; flex-wrap: wrap; justify-content: space-evenly; align-items: flex-end; ">
                <div style="border: 2px solid red !important; width: 20px !important; border-radius: 10px !important"><b class="close-popup" style="color: white !important; margin-left: 3px !important">X</b></div>
            </div>
            <div class="modal-body">
                @{
                    Model.ActionType = "edit-action";
                }

                @Html.Partial("~/Views/IT/VendorAddUpdatePartial.cshtml", Model)
            </div>
            <div class="">

            </div>
        </div>
    </div>
</div>


<br />
<script>

    jQuery("#selectEmployeenameandemail").change(function (evt) {
        GetAssetsByEmpID(jQuery('#selectEmployeenameandemail :selected').val().split('|')[0]);
    });

    jQuery(document).on("click", ".close-popup", function () {
        jQuery('#modal-edit-form-popup').modal('hide');
    });


    function DownloadITReport(ele) {
        var parentElement = $(ele).parents('.it-report-tr');

        var ITDownloadReportModel = {
            FileName: $(ele).html(),
            ReportMonth: parentElement.find('td.report-month').html(),
            UniqueNumber: $(ele).attr("data-uniqueid"),
            EmpName: parentElement.find('td.report-empname').html(),
            EmpID: parentElement.find('td.report-empname').attr("data-empid"),
            ReportType: parentElement.find('td.report-type').html(),
            AssetID: parentElement.find('td.report-assetid').html(),
        }

        var GridHtml = JSON.stringify(ITDownloadReportModel).toString();
        $("input[name='GridHtml']").val(GridHtml);

        $('form#itdownloadform').submit();
    }

    function DeleteVendorReport(ele) {
        var parentElement = $(ele).parents('.vendor-report-tr');

        var vendorReportModel = {
            Action: "Delete",
            UniqNo: $(ele).attr("data-uniqueid"),
            VendorCity: jQuery('#vendorlocation :selected').val(),
            VendorStatus: jQuery('#vendorstatus :selected').val()
        };

        ViewReport(vendorReportModel, parentElement);
    }

    function EditVendorReport(ele) {
        jQuery("tr").removeClass("selectedvendorrecord");
        $(ele).parents('.vendor-report-tr').addClass('selectedvendorrecord');
        jQuery('#modal-edit-form-popup').attr("data-editrecorduniquenum", $(ele).attr("data-uniqueid"));

        var uniqueNum = $(ele).attr("data-uniqueid");
        jQuery.ajax({
            type: "POST",
            url: "/it/getvendor",
            data: JSON.stringify({ uniqueID: uniqueNum }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);

                $(".vendorlocation").val(obj.VendorCity).attr("selected", "selected");
                $(".vendorstatus").val(obj.VendorStatus).attr("selected", "selected");
                jQuery('#vendorname').val(obj.VendorName);
                jQuery('#vendoremail').val(obj.VendorEmailAddress);
                jQuery('#vendoraddress').val(obj.VendorAddress);
                jQuery('#vendorremarks').val(obj.VendorRemarks);
                jQuery('#vendorcontact').val(obj.VendorContactNumber);
            }
        });

        jQuery('#modal-edit-form-popup').modal('show');
    }


    function ViewReport(vendorReportModel, elementtodelete) {
        if (vendorReportModel.Action == "View") {
            jQuery('.vendors-report-body').show();
            jQuery('.vendorreport-table-grid').empty();
        }

        jQuery.ajax({
            url: "/it/viewvendorajaxreports",
            type: "POST",
            data: JSON.stringify({ vendorModel: vendorReportModel }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                if (obj.IsDeleted == true) {
                    elementtodelete.remove();
                }
                else {
                    jQuery.each(obj, function (i, item) {
                        if (vendorReportModel.Action == "View") {
                            $('.vendorreport-table-grid').append(
                                '<tr style="height: 30px;" class="vendor-report-tr" data-recordnum=' + item.UniqNo + '>'
                                + '<td scope="row" style="padding-left: 25px"><a class="glyphicon glyphicon-remove" href="javascript: void (0);" data-uniqueid="' + item.UniqNo + '" onclick=DeleteVendorReport(this)>&nbsp;</a > <a class="glyphicon glyphicon-edit" href="javascript: void (0);" data-uniqueid="' + item.UniqNo + '" onclick=EditVendorReport(this) ></a ></td > '
                                + '<td class="report-vendorname" style="width: 80px;vertical-align: middle;text-align: center">' + item.VendorName + '</td>'
                                + '<td class="report-vendoremail" style="width: 80px;vertical-align: middle;text-align: center">' + item.VendorEmailAddress + '</td>'
                                + '<td class="report-vendorcity" style="width: 80px;vertical-align: middle;text-align: center">' + item.VendorCity + '</td>'
                                + '<td class="report-VendorContactNumber" style="width: 80px;vertical-align: middle;text-align: center">' + item.VendorContactNumber + '</td>'
                                + '<td class="report-VendorStatus" style="width: 80px;vertical-align: middle;text-align: center">' + item.VendorStatus + '</td>'
                                + '<td class="report-VendorAddress" style="width: 80px;vertical-align: middle;text-align: center">' + item.VendorAddress + '</td>'
                                + '<td class="report-VendorRemarks" style="width: 80px;vertical-align: middle;text-align: center">' + item.VendorRemarks + '</td>'
                                + '</tr>'
                            )
                        }
                    });
                }

            }
        });
    }

    jQuery(".btn-view-vendor-report").click(function () {

        var vendorReportModel = {
            Action: "View",
            VendorCity: jQuery('#vendorlocation :selected').val(),
            VendorStatus: jQuery('#vendorstatus :selected').val()
        };

        ViewReport(vendorReportModel);
    });

</script>
