<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="https://cdn-ecpoc.nitrocdn.com/XaYLKlLnwUlnkVbJmDrBqpTtlAYIrCaz/assets/images/optimized/rev-bb15dcb/wp-content/uploads/2020/12/ambc_favicon.png" />

    <title class="page-name-title">@ViewBag.Title - AMBC HRMS</title>


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <link href="~/Content/main.css" rel="stylesheet" />
    <script src="~/Scripts/moment.js"></script>

    <style>
        .navbar-fixed-top {
            width: 99.225vw;
            position: relative;
            margin-left: -49.59vw;
            left: 50%;
            margin-top: -50px;
        }

        .custom-container-fullwidth {
            width: 95%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }

        .nav-logo {
            border-bottom-right-radius: 35px;
            margin-top: -0.25vw;
            position: relative;
            margin-left: -0.59vw;
            margin-bottom: -0.3vw;
        }

        .custom-button {
            background-color: #00344d;
            border-radius: 15px;
            color: white;
            height: 40px;
            border: 1px solid yellow;
        }

            .custom-button:hover {
                background-color: rgb(74, 172, 197);
                color: white;
            }

        .footer {
         
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
            margin-bottom: 0px;
        }

        .custom-button-submit {
            background-color: rgb(74, 172, 197);
            border-radius: 15px;
            color: white;
            height: 40px;
            border: 1px solid yellow;
        }

     /*   Related stop nav bar*/
        .time-headertitle {
            margin-left: auto !important
        }
    </style>
</head>
<body>

    <div id="overlay">
        <div class="cv-spinner">
            <span class="spinner"></span>
        </div>
    </div>
    <div class="custom-container-fullwidth">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/main.js"></script>
    <div style="background-color: rebeccapurple">
    </div>

</body>
</html>
